<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Title</title>
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <link href="../../assets/css/base-h5.css" rel="stylesheet">
    <link href="./css/de-black5-h5.css" rel="stylesheet">

</head>
<body>
                <div class="de-black5-h5" id="event-container">
                    <div class="banner-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box" data-banner_name="Black Friday" data-position="1" ga4-event="ga4-top-banner">
                                    <img alt="" src="https://static-ussite.tineco.com/f7e04bf3-d48f-40b7-8aa0-4c32e0aad7dc.jpg">
                                    <div class="content">
                                        <div class="title">Jetzt<span> BLACK FRIDAY &nbsp;</span> Deals sichern</div>
                                        <div class="off-title">
                                            Bis zu <span>50%</span> Rabatt
                                        </div>
                                        <div class="text">
                                            Vertrauen Sie der Marke, die von 12 Millionen* Haushalten weltweit geliebt wird
                                        </div>
                                        <div class="btn-content">
                                            <a class="btn-link"
                                            href="https://www.amazon.de/stores/page/2D297697-BEA0-4C13-A28F-084FBA9E155C?maas=maas_adg_4CAB26B65394D8BA87839CDDEF330FB3_afap_abs&ref_=aa_maas&tag=maas">
                                                <img alt=""
                                                    src="https://static-ussite.tineco.com/9d83437f-abdf-4c0f-add6-b749f89d0508.png">
                                            </a>
                                            <a class="btn-link mar-l-1"
                                            href="https://de-store.tineco.com/pages/ausgewalte-angebote?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                                                <img alt=""
                                                    src="https://static-ussite.tineco.com/7403a878-7e79-40cb-b05e-3e29afd27e3a.png">
                                            </a>
                                        </div>
                                        <div class="tips">*Daten aus den offiziellen Nettoverkaufszahlen von Tineco (Jan. 2020 - Okt.
                                            2023). Tineco hat das endgültige Auslegungsrecht.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-banner_name="FLOOR ONE S7 COMBO" data-position="2"
                                ga4-event="ga4-top-banner">
                                <a class="box"
                                href="https://www.amazon.de/Tineco-ONE-Selbstreinigend-Handstaubsauger-Stielstaubsauger/dp/B0CFD6TTJ2?ref_=ast_sto_dp">
                                    <img alt="" src="https://static-ussite.tineco.com/bf7ab59d-3d87-4d3b-bd97-8f0a6ae40433.jpg">
                                </a>
                            </div>
                            <div class="swiper-slide" data-banner_name="PURE ONE STATION" data-position="3" ga4-event="ga4-top-banner">
                                <a class="box"
                                href="/products/pure-one-station.html">
                                    <img alt="" src="https://static-ussite.tineco.com/242c60e8-b8e8-41cc-a028-b41db73d0c38.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <script>
                    $(function () {
                        const bannerSwiper = new Swiper('.banner-wrapper', {
                        loop: true,
                        autoplay: {
                            delay: 3000,
                            disableOnInteraction: false,
                        }
                        })
                    })
                    </script>
                    <div class="media-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">Wie vorgestellt in</div>
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-1"
                                    src="https://static-ussite.tineco.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png_53b9bd1a-b.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-2"
                                    src="https://static-ussite.tineco.com/75a6899e-d520-44ab-b3aa-56626974f1c9.png_b7347dfe-8.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-3"
                                    src="https://static-ussite.tineco.com/bcd58d6d-7904-4574-bdb2-0d2a79bb27b7.png_a235d366-a.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-4"
                                    src="https://static-ussite.tineco.com/756696b7-48c9-4098-ad22-c9dfd32ebdc5.png_3a6f2cd8-7.png">
                            </div>
                        </div>
                        <div class="arrow left"></div>
                        <div class="arrow right"></div>
                    </div>
                    <script>
                    $(function () {
                        //一屏幕3个 左右引导箭头
                        const mediaSwiper = new Swiper('.media-wrapper', {
                        slidesPerView: 3,
                        navigation: {
                            nextEl: '.left',
                            prevEl: '.right',
                        },
                        })
                    })
                    </script>
                    <div class="limit-wrapper">
                        <div class="limit-title">
                            <div class="text">
                                Zeitlich begrenzte Angebote von Tineco für den Black Friday
                            </div>
                        </div>
                        <div class="product-list active">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/f1290e22-ddf3-40a7-a0e2-f98f4dc1483a.png">
                                <div class="title hover">NASSREINIGER</div>
                            </div>
                            <div class="floor-wash-wrapper pad-b-50" id="floor-wash-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S5.jpg_87068bb4-3.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title"><b>FLOOR ONE</b> S5</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn"
                                                    data-button_name="Amazon"
                                                    data-product_name="FLOOR ONE S5"
                                                    data-product_series="FLOOR ONE S5"
                                                    data-product_type="Floor Washer"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-Smart-kabelloser-Nass-Trocken-Sauger-Floor/dp/B0915C748N?maas=maas_adg_08A56AD5E9675E3EAF7C0B391EBCCD0D_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                    data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/tineco-floor-one-s5-intelligenter-nass-und-trockensauger?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more" data-product_name="FLOOR ONE S5"
                                                data-product_series="FLOOR ONE S5" data-product_type="Floor Washer"
                                                ga4-event="ga4-learn-more" href="/products/floor-one-s5.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S7-PRO.jpg_637855f9-1.jpg">
                                            <div class="content">
                                                <div class="title"><b>FLOOR ONE</b> S7 PRO</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-Floor-One-Elektrolysiertes-Zentrifugal-Trocknung/dp/B088H28VPM?maas=maas_adg_9595252522139AB319E17ABE186F28B1_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                    data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/tineco-floor-one-s7-pro-intelligenter-nass-und-trockensauger?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                href="/products/floor-one-s7-pro.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S6.jpg_0be33972-4.jpg">
                                            <div class="content">
                                                <div class="title"><b>FLOOR ONE</b> S6</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="FLOOR ONE S6" data-product_series="FLOOR ONE S6"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-ONE-Trockensauger-Staubsauger-Wischfunktion/dp/B0C23DFMT6?maas=maas_adg_D48647684D1EF057254652BABD8A33C3_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                data-product_name="FLOOR ONE S6" data-product_series="FLOOR ONE S6"
                                                data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                href="/products/floor-one-s6.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S3.jpg_bde74d05-c.jpg">
                                            <div class="content">
                                                <div class="title"><b>FLOOR ONE</b> S3</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-Floor-One-Dual-Tank-Design-Selbstreinigung/dp/B082TTT4MK?maas=maas_adg_9A9648EDA4682D103C0EE4594003DD51_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                    data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                                    data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/tineco-floor-one-s3-intelligenter-akku-staubsauger?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                                data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                href="/products/floor-one-s3.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination1"></div>
                                <script>
                                $(function () {
                                    const floorSwiper = new Swiper('#floor-wash-wrapper', {
                                    loop: true,
                                    slidesPerView: 1.2,
                                    centeredSlides: true,
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },
                                    })
                                })
                                </script>
                            </div>
                        </div>
                        <div class="product-list">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/04792421-f52e-43ec-83a0-9ecc3ce82394.png">
                                <div class="title hover">SMART STAUBSAUGER</div>
                            </div>
                            <div class="floor-wash-wrapper pad-b-50" id="vacuum-cleaner-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/pure-one-station.jpg_9093a695-b.jpg">
                                            <div class="content">
                                                <div class="title"><b>PURE ONE</b> STATION Pet</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="PURE ONE STATION Pet" data-product_series="PURE ONE STATION"
                                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-Pure-Station-Selbstreinigung-Stabstaubsauger/dp/B0C7M8QMJT?maas=maas_adg_6CF3BA5C33B6D7E46D3F5D7A045BBECE_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                    data-product_name="PURE ONE STATION Pet" data-product_series="PURE ONE STATION"
                                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/tineco-pure-one-station-pet-federleichter-akku-staubsauger-fur-schnelle-reinigung?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more"
                                                data-button_name="Learn more"
                                                data-product_name="PURE ONE STATION Pet" data-product_series="PURE ONE STATION"
                                                data-product_type="Vacuum Cleaner"
                                                ga4-event="ga4-learn-more"
                                                href="/products/pure-one-station.html">
                                                    Erfahren Sie mehr
                                                    ></a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/AIR-PRO.jpg_40485a7f-c.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title"><b>PURE ONE</b> AIR PRO</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn"
                                                    data-button_name="Amazon"
                                                    data-product_name="PURE ONE AIR PRO" data-product_series="PURE ONE AIR"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Pure-ONE-Air-leistungsstarke-installationsfreie/dp/B0BG2784WG?maas=maas_adg_18A3FE85CBE3968F3E7A2488CB844215_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26"
                                                    data-button_name="Tineco Store"
                                                    data-product_name="PURE ONE AIR PRO" data-product_series="PURE ONE AIR"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/tineco-pure-one-air-pro-federleichter-akku-staubsauger-fur-schnelle-reinigung?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more"
                                                data-button_name="Learn more"
                                                data-product_name="PURE ONE AIR PRO" data-product_series="PURE ONE AIR"
                                                data-product_type="Vacuum Cleaner"
                                                ga4-event="ga4-learn-more"
                                                href="https://de-store.tineco.com/products/tineco-pure-one-air-pro-federleichter-akku-staubsauger-fur-schnelle-reinigung?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">Erfahren
                                                    Sie mehr
                                                    ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/PURE-ONE-X-PET.jpg_91ced9b2-f.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title"><b>PURE ONE</b> X Pet</div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-ONE-Pet-Handstaubsauger-Wandhalterung/dp/B09SKWZLHM?maas=maas_adg_7DFEEA8ED2000AE995E2CF551DC73122_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X"
                                                data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                                href="https://www.amazon.de/Tineco-ONE-Pet-Handstaubsauger-Wandhalterung/dp/B09SKWZLHM?maas=maas_adg_7DFEEA8ED2000AE995E2CF551DC73122_afap_abs&ref_=aa_maas&tag=maas">Erfahren
                                                    Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/A11-PET.jpg_c62adfcb-8.jpg">
                                            <div class="content">
                                                <div class="title"><b>A11 Pet</b> </div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="A11 Pet"
                                                    data-product_series="A11"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-A11-Pet-Anti-Wicklung-Handstaubsauger/dp/B09WR4FYBZ?maas=maas_adg_E044F6C2F816D88E1F1DFC8218F4DBB4_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                data-product_name="A11 Pet"
                                                data-product_series="A11"
                                                data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                                href="/products/a11-hero.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination2"></div>
                                <script>
                                $(function () {
                                    const vacuumSwiper = new Swiper('#vacuum-cleaner-wrapper', {
                                    loop: true,
                                    slidesPerView: 1.2,
                                    centeredSlides: true,
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },
                                    })
                                })
                                </script>
                            </div>
                        </div>
                        <div class="product-list">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/adae81fb-9562-4205-bd4a-3eeb1c04a1c0.png">
                                <div class="title hover">TEPPICHREINIGER</div>
                            </div>
                            <div class="floor-wash-wrapper  pad-b-50" id="carpet-cleaner-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/carpet-one.jpg_1fa8c74c-c.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title"><b>CARPET ONE</b></div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                                    data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-CARPET-ONE-Teppichreiniger-Fleckenreiniger/dp/B09NM23W8W?maas=maas_adg_87C29C2DB53D7448FDBD15586B3C5929_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26"
                                                    data-button_name="Tineco Store"
                                                    data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/carpet-one?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more" data-product_name="CARPET ONE"
                                                data-product_series="CARPET ONE" data-product_type="Carpet Cleaner"
                                                ga4-event="ga4-learn-more" href="/products/carpet-one-series.html">Erfahren Sie mehr ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/icarpet.jpg_d2ae8589-e.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title"><b>ICARPET</b></div>
                                                <div class="buy-at">
                                                    Kaufen bei
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                    data-product_name="iCarpet" data-product_series="iCarpet Series"
                                                    data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal"
                                                    href="https://www.amazon.de/Tineco-Teppichreinigungsger%C3%A4t-abnehmbarem-Flecken-Reinigungsger%C3%A4t-LED-Anzeige/dp/B09NLYR478?maas=maas_adg_44E093FA56285BBCF4F34997BFB4D">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26"
                                                    data-button_name="Tineco Store"
                                                    data-product_name="iCarpet" data-product_series="iCarpet Series"
                                                    data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-shopping-portal"
                                                    href="https://de-store.tineco.com/products/icarpet?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more"
                                                data-button_name="Learn more"
                                                data-product_name="iCarpet" data-product_series="iCarpet Series"
                                                data-product_type="Carpet Cleaner"
                                                ga4-event="ga4-learn-more" href="/products/iCARPET-Series.html">Erfahren Sie mehr
                                                    ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination3"></div>
                                <script>
                                $(function () {
                                    const vacuumSwiper = new Swiper('#carpet-cleaner-wrapper', {
                                    loop: true,
                                    slidesPerView: 1.2,
                                    centeredSlides: true,
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },
                                    })
                                })
                                </script>
                            </div>
                        </div>
                        <script>
                        $(function () {
                            $(".product-list").on("click", function () {
                            $(this).addClass("active").siblings().removeClass("active")
                            })
                        })
                        </script>
                    </div>
                    <div class="w-top-wrapper">
                        <div class="where-to-buy-wrapper">
                            <div class="where-to-buy-wrapper-text">Wo zu kaufen</div>
                            <div class="btn-content">
                                <a class="btn-link" data-button_name=">Where to Buy >Amazon" ga4-event="ga4-where-to-buy"
                                href="https://www.amazon.de/stores/page/2D297697-BEA0-4C13-A28F-084FBA9E155C?maas=maas_adg_4CAB26B65394D8BA87839CDDEF330FB3_afap_abs&ref_=aa_maas&tag=maas">
                                    <img alt="" src="https://static-ussite.tineco.com/9d83437f-abdf-4c0f-add6-b749f89d0508.png">
                                </a>
                                <a class="btn-link mar-l-1" data-button_name=">Where to Buy >Tineco Store"
                                ga4-event="ga4-where-to-buy"
                                href="https://de-store.tineco.com/pages/ausgewalte-angebote?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                                    <img alt="" src="https://static-ussite.tineco.com/7403a878-7e79-40cb-b05e-3e29afd27e3a.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us-wrapper">
                        <video autoplay loop muted src="https://static-ussite.tineco.com/app.mp4_1fe80553-6.mp4"></video>
                        <div class="content">
                            <div class="title">
                                Tineco hilft über <span>12,000,000*</span> Familien weltweit
                            </div>
                            <div class="enj-text">
                                Live Easy, Enjoy Life.
                            </div>
                            <a data-target="#videoModal" data-title="Jetzt BLACK FRIDAY Deals sichern" data-toggle="modal"
                            data-video="https://www.youtube.com/embed/NDM6f8eeViE" href="#videoModal">
                                <div class="learn-more-btn" ga4-event="ga4-click-video">
                                    Schau das Video
                                </div>
                            </a>
                            <div class="bottom-content">
                                <div class="bottom-content-text">
                                    Tineco präsentiert seine innovative und intelligente Technologie, um Haushaltsgeräte intelligenter
                                    und benutzerfreundlicher zu machen, und konzentriert sich dabei auf den Menschen und die Dinge, die
                                    wir lieben.
                                    <div class="tips">
                                        *Die Daten stammen aus internen Quellen und dienen nur als Referenz.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title"></h5>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>
                                <div class="modal-body  p-0">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe allowfullscreen class="embed-responsive-item"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                    $(function () {
                        $("#videoModal").on("show.bs.modal", function (event) {
                        let button = $(event.relatedTarget); // Button that triggered the modal
                        let url = button.data("video"); // Extract url from data-video attribute
                        var title = button.data("title");

                        $("#modal-title").html(title);
                        $(this).find("iframe").attr({
                            src: url,
                            allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        });
                        });
                    })
                    </script>
                </div>
<script src="./js/de-black5-index.js"></script>
<script src="https://static-ussite.tineco.com/ga4.iife.js_03781119-c.js"></script>
</body>
</html>
