<div class="fly-top-banner-pc">
    <img alt="vacuum-trade-up" src="https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%201.jpg_2394ff54-a.jpg">
    <div class="content">
        <h1 class="content-title" data-text="[i18]tradeup.banner.title[/i18]">
            [i18]tradeup.banner.title[/i18]
        </h1>
        <h1 class="content-sub">
            [i18]tradeup.banner.subtitle[/i18]
        </h1>
        <div class="content-text">
            * [i18]tradeup.banner.text1[/i18]<br>
            * [i18]tradeup.banner.text2[/i18]<br>
            * [i18]tradeup.banner.text3[/i18]
        </div>
        <div class="content-bottom">
            [i18]tradeup.banner.time[/i18]
        </div>
    </div>
    <div class="down-next"></div>
</div>
<style>
    .fly-top-banner-pc .content-title {
        line-height: 1rem;
    }
</style>
