.fly-waterfall-h5 {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}
.fly-waterfall-h5 .item {
  position: relative;
  box-shadow: 0rem 0rem 0.16rem 0rem rgba(47, 30, 112, 0.48);
  border-radius: 0.2rem;
  margin-bottom: 0.44rem;
  overflow: hidden;
}
.fly-waterfall-h5 .item .bg {
  width: 100%;
  height: auto;
}
.fly-waterfall-h5 .item .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.24rem;
  font-weight: 700;
  line-height: 0.42rem;
  color: #FFF;
  opacity: 0.7;
  padding: 0 0.1rem;
}
.fly-waterfall-h5 .left {
  width: 48%;
}
.fly-waterfall-h5 .right {
  width: 48%;
}
.fly-waterfall-h5 .right .mood-icon {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0.1rem 0 0.34rem;
}
.fly-waterfall-h5 .right .mood-icon img {
  display: inline-block;
  width: 0.8rem;
  height: auto;
}