<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Title</title>
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <link href="../../assets/css/base-h5.css" rel="stylesheet">
    <link href="./css/it-black5-h5.css" rel="stylesheet">

</head>
<body>
    <div class="it-black5-h5" id="event-container">
        <div class="banner-wrapper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box" data-banner_name="Black Friday" data-position="1" ga4-event="ga4-top-banner">
                        <img alt="" src="https://static-ussite.tineco.com/f7e04bf3-d48f-40b7-8aa0-4c32e0aad7dc.jpg">
                        <div class="content">
                            <div class="title">Approfitta ORA delle offerte<span>BLACK FRIDAY &nbsp;</span></div>
                            <div class="off-title">
                                Fino al <span>50%</span> di sconto
                            </div>
                            <div class="text">
                                Affidati al marchio amato da oltre 12 milioni di clienti in tutto il mondo
                            </div>
                            <div class="btn-content">
                                <a class="btn-link"
                                href="https://www.amazon.it/FLOOR-ONE-Lavapavimenti-Multifunzione-ZeroTangleTM/dp/B0CFD6TTJ2/ref=sr_1_1?__mk_it_IT=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=14WAFC9S0CZIF&keywords=tineco+s7+combo&qid=1696992925&sprefix=tineco+s7+combo%2Caps%2C435&sr=8-1">
                                    <img alt=""
                                        src="https://static-ussite.tineco.com/53a557a3-0478-448f-8513-66372d8b1aaf.jpg">
                                </a>
                                <a class="btn-link mar-l-1"
                                href="/products/floor-one-s5.html">
                                    <img alt=""
                                        src="https://static-ussite.tineco.com/513209ea-3391-4938-9170-e6a3dd9424cf.jpg">
                                </a>
                            </div>
                            <div class="tips">*Dati provenienti da fonti di vendite nette di Tineco (gennaio 2020 - ottobre
                                2023). Tineco ha i diritti di interpretazione finali.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-banner_name="FLOOR ONE S7 COMBO" data-position="2"
                    ga4-event="ga4-top-banner">
                    <a class="box"
                    href="https://www.amazon.de/Tineco-ONE-Selbstreinigend-Handstaubsauger-Stielstaubsauger/dp/B0CFD6TTJ2?ref_=ast_sto_dp">
                        <img alt="" src="https://static-ussite.tineco.com/bf7ab59d-3d87-4d3b-bd97-8f0a6ae40433.jpg">
                    </a>
                </div>
                <div class="swiper-slide" data-banner_name="PURE ONE STATION" data-position="3" ga4-event="ga4-top-banner">
                    <a class="box"
                    href="/products/pure-one-station.html">
                        <img alt="" src="https://static-ussite.tineco.com/242c60e8-b8e8-41cc-a028-b41db73d0c38.jpg">
                    </a>
                </div>
            </div>
        </div>
        <script>
        $(function () {
            const bannerSwiper = new Swiper('.banner-wrapper', {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            }
            })
        })
        </script>
        <div class="media-wrapper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="text">As Featured In</div>
                </div>
                <div class="swiper-slide">
                    <img alt="" class="img-1"
                        src="https://static-ussite.tineco.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png_53b9bd1a-b.png">
                </div>
                <div class="swiper-slide">
                    <img alt="" class="img-2"
                        src="https://static-ussite.tineco.com/75a6899e-d520-44ab-b3aa-56626974f1c9.png_b7347dfe-8.png">
                </div>
                <div class="swiper-slide">
                    <img alt="" class="img-3"
                        src="https://static-ussite.tineco.com/bcd58d6d-7904-4574-bdb2-0d2a79bb27b7.png_a235d366-a.png">
                </div>
                <div class="swiper-slide">
                    <img alt="" class="img-4"
                        src="https://static-ussite.tineco.com/756696b7-48c9-4098-ad22-c9dfd32ebdc5.png_3a6f2cd8-7.png">
                </div>
            </div>
            <div class="arrow left"></div>
            <div class="arrow right"></div>
        </div>
        <script>
        $(function () {
            //一屏幕3个 左右引导箭头
            const mediaSwiper = new Swiper('.media-wrapper', {
            slidesPerView: 3,
            navigation: {
                nextEl: '.left',
                prevEl: '.right',
            },
            })
        })
        </script>
        <div class="limit-wrapper">
            <div class="limit-title">
                <div class="text">
                    Offerte a tempo limitato di Tineco per il Black Friday
                </div>
            </div>
            <div class="product-list active">
                <div class="floor-wash">
                    <img alt="" src="https://static-ussite.tineco.com/f1290e22-ddf3-40a7-a0e2-f98f4dc1483a.png">
                    <div class="title hover">Lavapavimenti</div>
                </div>
                <div class="floor-wash-wrapper pad-b-50" id="floor-wash-wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/S5.jpg_212d6f4f-b.jpg">
                                <div class="hot-icon"></div>
                                <div class="content">
                                    <div class="title"><b>FLOOR ONE</b> S5</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn"
                                        data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S5"
                                        data-product_series="FLOOR ONE S5"
                                        data-product_type="Floor Washer"
                                        ga4-event="ga4-shopping-portal"
                                        href="ttps://www.amazon.it/Tineco-FLOOR-ONE-Aspirapolvere-Lavapavimenti/dp/B094MJNN33?maas=maas_adg_57428977CDB778DB144B654535D8A58A_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more" data-product_name="FLOOR ONE S5"
                                    data-product_series="FLOOR ONE S5" data-product_type="Floor Washer"
                                    ga4-event="ga4-learn-more" href="/products/floor-one-s5.html">Visualizza di più ></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/S5-COMBO-POWER-KIT.jpg_6a131a98-4.jpg">
                                <div class="content">
                                    <div class="title"><b>FLOOR ONE</b> S5 <br> Combo Power KIT</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-FLOOR-ONE-COMBO-POWER/dp/B09PDWTNTQ?maas=maas_adg_19CBE4AF9E3BA1BCB44434E4A3A40A10_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more"
                                    data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                    href="/products/floor-one-s5.html">Visualizza di più ></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/S3.jpg_61b2cd33-4.jpg">
                                <div class="content">
                                    <div class="title"><b>FLOOR ONE</b> S3</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S6" data-product_series="FLOOR ONE S6"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-Aspirapolvere-Lavapavimenti-Pavimenti-Aspirazione/dp/B08D327R9C?maas=maas_adg_2D7760C442C73EBC1BFA49747369E63F_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more"
                                    data-product_name="FLOOR ONE S6" data-product_series="FLOOR ONE S6"
                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                    href="/products/floor-one-s3.html">Visualizza di più ></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/S7-PRO.jpg_f72bc067-6.jpg">
                                <div class="content">
                                    <div class="title"><b>FLOOR ONE</b> S7 Pro</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-Aspirapolvere-Pavimenti-Autonomia-Domestici/dp/B0BPRLL1Q1?maas=maas_adg_388D9097CC82788DCAAECA86BBA335BB_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                        <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                        data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                        href="https://de-store.tineco.com/products/tineco-floor-one-s3-intelligenter-akku-staubsauger?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more"
                                    data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                    href="/products/floor-one-s7-pro.html">Visualizza di più ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination1"></div>
                    <script>
                    $(function () {
                        const floorSwiper = new Swiper('#floor-wash-wrapper', {
                        loop: true,
                        slidesPerView: 1.2,
                        centeredSlides: true,
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        })
                    })
                    </script>
                </div>
            </div>
            <div class="product-list">
                <div class="floor-wash">
                    <img alt="" src="https://static-ussite.tineco.com/04792421-f52e-43ec-83a0-9ecc3ce82394.png">
                    <div class="title hover">Aspirapolvere</div>
                </div>
                <div class="floor-wash-wrapper pad-b-50" id="vacuum-cleaner-wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/PURE-ONE-X-PET.jpg_536d2626-2.jpg">
                                <div class="content">
                                    <div class="hot-icon"></div>
                                    <div class="title"><b>PURE ONE</b> X Pet</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="PURE ONE STATION Pet" data-product_series="PURE ONE STATION"
                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-Pure-One-X-Pet/dp/B09SHPQVY1?maas=maas_adg_E56819E047BFF194A8261FC5B7BB836C_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more"
                                    data-product_name="PURE ONE X Pet"
                                    data-product_series="PURE ONE X Pet"
                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                    ga4-event="ga4-learn-more"
                                    href="/products/pure-one-x.html">
                                        Visualizza di più
                                        ></a>
                                </div>
                            </div>
                        
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/S15-ESSENTIALS.jpg_a0667cb0-1.jpg">
                                
                                <div class="content">
                                    <div class="title"><b>PURE ONE</b> S15 Essentials</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn"
                                        data-button_name="Amazon"
                                        data-product_name="PURE ONE AIR PRO" data-product_series="PURE ONE AIR"
                                        data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-Essentials-Aspirapolvere-Anti-groviglio-Silenzioso/dp/B09XCT8WC2?maas=maas_adg_53B0A18E25D246243D2068C171ABE086_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more"
                                    data-button_name="Learn more"
                                    data-product_name="PURE ONE AIR PRO" data-product_series="PURE ONE AIR"
                                    data-product_type="Vacuum Cleaner"
                                    ga4-event="ga4-learn-more"
                                    href="https://www.amazon.it/Tineco-Essentials-Aspirapolvere-Anti-groviglio-Silenzioso/dp/B09XCT8WC2?maas=maas_adg_53B0A18E25D246243D2068C171ABE086_afap_abs&ref_=aa_maas&tag=maas">Visualizza
                                        di più
                                        ></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/pure-one-station.jpg_ee610e64-0.jpg">
                                <div class="hot-icon"></div>
                                <div class="content">
                                    <div class="title"><b>PURE ONE</b> Station Pet</div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X"
                                        data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Aspirapolvere-Autopulizia-ZeroTangle-Piastrelle-Toelettatura/dp/B0C7M8QMJT?maas=maas_adg_F9E3B5D21A9E3AAE365B88425AD6AB3E_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more"
                                    data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X"
                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                    href="https://www.amazon.it/Aspirapolvere-Autopulizia-ZeroTangle-Piastrelle-Toelettatura/dp/B0C7M8QMJT?maas=maas_adg_F9E3B5D21A9E3AAE365B88425AD6AB3E_afap_abs&ref_=aa_maas&tag=maas">Visualizza
                                        di più</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/A11-PET.jpg_f9c8b9a1-d.jpg">
                                <div class="content">
                                    <div class="title"><b>A11 Pet</b> </div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="A11 Pet"
                                        data-product_series="A11"
                                        data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-A11-Pet-Aspirapolvere-Aspirazione/dp/B09WR4FYBZ?maas=maas_adg_7B69DBB4AFA93D62F0DB17CC150A8082_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more"
                                    data-product_name="A11 Pet"
                                    data-product_series="A11"
                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                    href="https://www.amazon.it/Tineco-A11-Pet-Aspirapolvere-Aspirazione/dp/B09WR4FYBZ?maas=maas_adg_7B69DBB4AFA93D62F0DB17CC150A8082_afap_abs&ref_=aa_maas&tag=maas">Visualizza
                                        di più ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination2"></div>
                    <script>
                    $(function () {
                        const vacuumSwiper = new Swiper('#vacuum-cleaner-wrapper', {
                        loop: true,
                        slidesPerView: 1.2,
                        centeredSlides: true,
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        })
                    })
                    </script>
                </div>
            </div>
            <div class="product-list">
                <div class="floor-wash">
                    <img alt="" src="https://static-ussite.tineco.com/adae81fb-9562-4205-bd4a-3eeb1c04a1c0.png">
                    <div class="title hover">Lavatappeti</div>
                </div>
                <div class="floor-wash-wrapper  pad-b-50" id="carpet-cleaner-wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/carpet-one.jpg_1fa8c74c-c.jpg">
                                <div class="hot-icon"></div>
                                <div class="content">
                                    <div class="title"><b>CARPET ONE</b></div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                        data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-tappezzeria-portatile-tecnologia-detergente/dp/B09NLYR478?maas=maas_adg_72C7EF0F5EB64E29BFAF1984C7B496A2_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more" data-button_name="Learn more" data-product_name="CARPET ONE"
                                    data-product_series="CARPET ONE" data-product_type="Carpet Cleaner"
                                    ga4-event="ga4-learn-more" href="/products/carpet-one-series.html">Visualizza di più
                                        ></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrapper">
                                <img alt="" src="https://static-ussite.tineco.com/icarpet.jpg_6dc76e56-8.jpg">
                                <div class="hot-icon"></div>
                                <div class="content">
                                    <div class="title"><b>ICARPET</b></div>
                                    <div class="buy-at">
                                        Acquista presso
                                    </div>
                                    <div class="btn-link">
                                        <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                        data-product_name="iCarpet" data-product_series="iCarpet Series"
                                        data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal"
                                        href="https://www.amazon.it/Tineco-Carpet-One/dp/B09NM23W8W?maas=maas_adg_F93DDE36B7E5E479D9BA9EED1D7F4BDE_afap_abs&ref_=aa_maas&tag=maas">
                                            <img alt=""
                                                src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                        </a>
                                    </div>
                                    <a class="learn-more"
                                    data-button_name="Learn more"
                                    data-product_name="iCarpet" data-product_series="iCarpet Series"
                                    data-product_type="Carpet Cleaner"
                                    ga4-event="ga4-learn-more"
                                    href="https://www.amazon.it/Tineco-Carpet-One/dp/B09NM23W8W?maas=maas_adg_F93DDE36B7E5E479D9BA9EED1D7F4BDE_afap_abs&ref_=aa_maas&tag=maas">Visualizza
                                        di più
                                        ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination3"></div>
                    <script>
                    $(function () {
                        const vacuumSwiper = new Swiper('#carpet-cleaner-wrapper', {
                        loop: true,
                        slidesPerView: 1.2,
                        centeredSlides: true,
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        })
                    })
                    </script>
                </div>
            </div>
            <script>
            $(function () {
                $(".product-list").on("click", function () {
                $(this).addClass("active").siblings().removeClass("active")
                })
            })
            </script>
        </div>
        <div class="w-top-wrapper">
            <div class="where-to-buy-wrapper">
                <div class="where-to-buy-wrapper-text">Dove comprare</div>
                <div class="btn-content">
                    <a class="btn-link" data-button_name=">Where to Buy >Amazon" ga4-event="ga4-where-to-buy"
                    href="https://www.amazon.it/stores/page/B07A656B-BDA5-46EF-8C37-8FF1E238C30E?maas=maas_adg_6EDFD4275D44AC16F5945A48EDF68964_afap_abs&ref_=aa_maas&tag=maas">
                        <img alt="" src="https://static-ussite.tineco.com/9d83437f-abdf-4c0f-add6-b749f89d0508.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="about-us-wrapper">
            <video autoplay loop muted src="https://static-ussite.tineco.com/app.mp4_1fe80553-6.mp4"></video>
            <div class="content">
                <div class="title">
                    Tineco aiuta oltre <span>12.000.000*</span> di famiglie in tutto il mondo a
                </div>
                <div class="enj-text">
                    Live Easy, Enjoy Life.
                </div>
                <a data-target="#videoModal" data-title="Approfitta ORA delle offerte BLACK FRIDAY" data-toggle="modal"
                data-video="https://www.youtube.com/embed/hBxrNywh38U" href="#videoModal">
                    <div class="learn-more-btn" ga4-event="ga4-click-video">
                        Guarda il video
                    </div>
                </a>
                <div class="bottom-content">
                    <div class="bottom-content-text">
                        Tineco mette in mostra la sua innovativa tecnologia intelligente per rendere gli
                        elettrodomestici più intelligenti e facili da usare e si concentra sull'essere umano e sulle
                        cose
                        che amiamo.
                        <div class="tips">
                            *I dati provengono da risorse interne e sono solo di riferimento.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body  p-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe allowfullscreen class="embed-responsive-item"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(function () {
            $("#videoModal").on("show.bs.modal", function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal
            let url = button.data("video"); // Extract url from data-video attribute
            var title = button.data("title");

            $("#modal-title").html(title);
            $(this).find("iframe").attr({
                src: url,
                allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            });
            });
        })
        </script>
    </div>
<script src="./js/it-black5-index.js"></script>
</body>
</html>
