<div class="fly-trade-up-intro-swiper-pc swiper mar-t-100">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <video autoplay loop muted
                   src="https://static-ussite.tineco.com/%E4%BB%A5%E6%97%A7%E6%8D%A2%E6%96%B0%E5%85%A8%E9%93%BE%E8%B7%AF%E6%B8%85%E6%B4%81%E5%8A%A8%E6%80%81.mp4_98c53ce3-2.mp4">
            </video>
            <div class="content">
                <div class="title" data-text="[i18]tradeup.swiper.title[/i18]">[i18]tradeup.swiper.title[/i18]</div>
                <div class="content-text">[i18]tradeup.swiper.subtitle1[/i18]</div>
                <div class="desc-text">
                    [i18]tradeup.swiper.text1[/i18]
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img alt=""
                 src="https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%204%20%E6%8B%B7%E8%B4%9D.jpg_c47f5ac9-4.jpg">
            <div class="content right-text">
                <div class="title" data-text="[i18]tradeup.swiper.title[/i18]">[i18]tradeup.swiper.title[/i18]</div>
                <div class="content-text s-2">[i18]tradeup.swiper.subtitle2[/i18]</div>
                <div class="desc-text s-2">
                    [i18]tradeup.swiper.text2[/i18]
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <img alt=""
                 src="https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%204%20%E6%8B%B7%E8%B4%9D%202.jpg_a65009e9-2.jpg">
            <div class="content">
                <div class="title" data-text="[i18]tradeup.swiper.title[/i18]">[i18]tradeup.swiper.title[/i18]</div>
                <div class="content-text s-3">[i18]tradeup.swiper.subtitle3[/i18]</div>
                <div class="desc-text s-3">
                    [i18]tradeup.swiper.text3[/i18]
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button fly-trade-up-intro-swiper-pc-prev"></div>
    <div class="swiper-button fly-trade-up-intro-swiper-pc-next"></div>
    <div class="swiper-pagination"></div>
</div>
<script>
  var swiper = new Swiper('.fly-trade-up-intro-swiper-pc', {
    slidesPerView: 1.3,
    spaceBetween: 100,
    loop: true,
    autoplay: {
      delay: 15000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: '.fly-trade-up-intro-swiper-pc-next',
      prevEl: '.fly-trade-up-intro-swiper-pc-prev',
    },
    centeredSlides: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
