<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../assets/css/iconfonts.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    
    <link href="../../assets/css/base-pc.css" rel="stylesheet">
    <link href="./css/us-black5-pc.css" rel="stylesheet">
    
    
    <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>
</head>

<body>

<div class="us-black5-pc" id="event-container">
    <!-- banner start -->
    <div class="banner-wrapper">
        <div class="swiper" id="bannerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner-item" data-banner_name="Black Friday" data-position="1"
                     ga4-event="ga4-top-banner">
                    <img alt="" class="bg"
                         src="https://static-ussite.tineco.com/black%20friday-KV.jpg_d8886dab-1.jpg">
                    <div class="content">
                        <div class="text">Grab <span>BLACK FRIDAY</span> Deals Now</div>
                        <div class="title">Up to <span>35%</span> off</div>
                        <div class="text">Trust the Brand Loved by 12 Million* <br/> Homes worldwide</div>
                        <div class="btn-content">
                            <a class="btn mr-02"
                               href="https://www.amazon.com/stores/page/D2EE68C0-D121-4050-98F4-640626078A50?maas=maas_adg_2BFB195FA989838A4EFA4298453D6429_afap_abs&ref_=aa_maas&tag=maas"
                               rel="noopener noreferrer" target="_blank">
                                <img alt=""
                                     class="icon"
                                     src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                            </a>
                            <a class="btn"
                               href="https://store.tineco.com/collections/secret-deals?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
                               rel="noopener noreferrer" target="_blank">
                                <img alt=""
                                     class="icon"
                                     src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                            </a>
                        </div>
                    </div>
                    <div class="tips">-Data from Tineco's official net sales records (Jan. 2020 - Oct. 2023). Tineco
                        has final interpretation rights.
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <a class="bg-link"
                       data-banner_name="UGC" data-position="2" ga4-event="ga4-top-banner"
                       href="https://store.tineco.com/pages/tineco-rewards?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
                       rel="noopener noreferrer" target="_blank">
                        <img alt=""
                             class="bg"
                             src="https://static-ussite.tineco.com/%E5%AE%98%E7%BD%91-banner-1920-850.jpg_22a22466-8.jpg">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination-banner" id="swiper-pagination-banner"></div>
        </div>
    </div>
    <!-- banner end -->
    <!-- 媒体 start -->
    <div class="brand-wrapper">
        <div class="brand-item">
            <div class="text">As Featured In</div>
        </div>
        <div class="brand-item">
            <img alt="" class="img"
                 src="https://static-ussite.tineco.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png_53b9bd1a-b.png">
        </div>
        <div class="brand-item">
            <img alt=""
                 class="img"
                 src="https://static-ussite.tineco.com/75a6899e-d520-44ab-b3aa-56626974f1c9.png_b7347dfe-8.png">
        </div>
        <div class="brand-item">
            <img alt=""
                 class="img"
                 src="https://static-ussite.tineco.com/bcd58d6d-7904-4574-bdb2-0d2a79bb27b7.png_a235d366-a.png">
        </div>
        <div class="brand-item">
            <img alt=""
                 class="img"
                 src="https://static-ussite.tineco.com/756696b7-48c9-4098-ad22-c9dfd32ebdc5.png_3a6f2cd8-7.png">
        </div>
    </div>
    <!-- 媒体 end -->
    <!-- 产品分类 start -->
    <div class="prod-classification-wrapper">
        <div class="main-title">Tineco Limited-Time Offers for Black Friday</div>
        
        <div class="guidance-content">
            <div class="guidance-item">
                <img alt="" class="img"
                     src="https://static-ussite.tineco.com/S7-%E9%BB%84%E8%89%B2.jpg_d3428149-c.jpg">
                <div class="text">Floor Washer</div>
            </div>
            <div class="guidance-item">
                <img alt=""
                     class="img"
                     src="https://static-ussite.tineco.com/2023%E9%BB%91%E4%BA%94%20KV-%E4%B8%89%E9%97%A82.jpg_475d1f84-7.jpg">
                <div class="text">Vacuum Cleaner</div>
            </div>
            <div class="guidance-item">
                <img alt=""
                     class="img"
                     src="https://static-ussite.tineco.com/CARPET-ONE--%E8%93%9D%E8%89%B22.jpg_c48cc98d-0.jpg">
                <div class="text">Carpet Cleaner</div>
            </div>
        </div>
        
        <div class="product-content">
            <div class="sub-title">Floor Washer</div>
            
            <div class="prod-list">
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/S5.jpg_212d6f4f-b.jpg');">
                    <div class="title"><b>Floor One</b> S5</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-ONE-S5-Lightweight-Multi-Surface/dp/B09P2RKRWX?maas=maas_adg_F8DB284BD97AB9927E154157DD97B071_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Tineco Store"
                                   data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://store.tineco.com/products/tineco-floor-one-s5-cordless-lightweight-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Tineco</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                       data-product_type="Floor Washer"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/floor-one-s5.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                    
                    <img alt="" class="hot-icon"
                         src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png">
                </div>
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/S5-PRO-2.jpg_2ecc2010-8.jpg');">
                    <div class="title"><b>Floor One</b> S5 Pro 2</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-Cordless-Hardwood-One-Step-Cleaning/dp/B09QFWWN3V?maas=maas_adg_C5C8FAD2C459079FEFFF5202F9DECD08_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Tineco Store"
                                   data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://store.tineco.com/products/tineco-floor-one-s5-pro-2-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Tineco</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                       data-product_type="Floor Washer"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/floor-one-s5.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                </div>
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/S5-COMBO.jpg_1dc8d84b-3.jpg');">
                    <div class="title"><b>Floor One</b> S5 Combo</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="FLOOR ONE S5 COMBO" data-product_series="FLOOR ONE S5"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-Multi-Surface-Lightweight-ONE-Combo/dp/B092CSJP6R?maas=maas_adg_F66FA84D7EC3332B16DD4B5AEBCE89B3_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="FLOOR ONE S5 COMBO" data-product_series="FLOOR ONE S5"
                       data-product_type="Floor Washer"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/floor-one-s5.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                </div>
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/S7-PRO.jpg_f72bc067-6.jpg');">
                    <div class="title"><b>Floor One</b> S7 Pro</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-Floor-ONE-S7-Centrifugal/dp/B0BLGR4ZL7?maas=maas_adg_7629F6D0FE3CB21745A037B2EAAA0C7E_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Tineco Store"
                                   data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                   data-product_type="Floor Washer"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://store.tineco.com/products/tineco-floor-one-s7-pro-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Tineco</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                       data-product_type="Floor Washer"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/floor-one-s7-pro.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                </div>
            </div>
            
            <div class="prod-list hidden">
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/PURE-ONE-S11.jpg_7d69ceca-f.jpg');">
                    <div class="title"><b>Pure One</b> S11</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="PURE ONE S11" data-product_series="PURE ONE S11"
                                   data-product_type="Vacuum Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-Cordless-Handheld-Multi-Surface-Cleaning/dp/B08CDQ52TB?maas=maas_adg_6397DDF338C9BA6763062EBB862431CC_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Tineco Store"
                                   data-product_name="PURE ONE S11" data-product_series="PURE ONE S11"
                                   data-product_type="Vacuum Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://store.tineco.com/products/tineco-pure-one-s11-smart-cordless-stick-vacuum-cleaner-strong-suction-long-runtime-lightweight-handheld?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Tineco</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="PURE ONE S11" data-product_series="PURE ONE S11"
                       data-product_type="Vacuum Cleaner"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/pure-one-s11.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                    <img alt="" class="hot-icon"
                         src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png">
                </div>
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/S15-ESSENTIALS.jpg_a0667cb0-1.jpg');">
                    <div class="title"><b>Pure One</b> S15 Essentials</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="PURE ONE S15 Essentials" data-product_series="PURE ONE S15"
                                   data-product_type="Vacuum Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-Essentials-Anti-Tangle-Fade-Free-Headlights/dp/B09X2WH7XM?maas=maas_adg_F1972A3539BF8CC292734122E201FB3B_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="PURE ONE S15 Essentials" data-product_series="PURE ONE S15"
                       data-product_type="Vacuum Cleaner"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/pure-one-s15.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                </div>
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/pure-one-station.jpg_ee610e64-0.jpg');">
                    <div class="title"><b>Pure One</b> Station Furfree</div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="PURE ONE Station FurFree" data-product_series="PURE ONE Station"
                                   data-product_type="Vacuum Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-ONE-Station-Lightweight-ZeroTangleTM/dp/B0C58K254K?maas=maas_adg_C48EBA70B0544C67A52957A18352C6BE_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer"
                                   target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Tineco Store"
                                   data-product_name="PURE ONE Station FurFree" data-product_series="PURE ONE Station"
                                   data-product_type="Vacuum Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://store.tineco.com/products/tineco-pure-one-station-smart-cordless-stick-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                   rel="noopener noreferrer"
                                   target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Tineco</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="PURE ONE Station FurFree" data-product_series="PURE ONE Station"
                       data-product_type="Vacuum Cleaner"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/pure-one-station.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                </div>
            </div>
            
            <div class="prod-list hidden">
                <div class="prod-item"
                     style="background-image: url('https://static-ussite.tineco.com/carpet-one.jpg_1fa8c74c-c.jpg');">
                    <div class="title"><b>Carpet one</b></div>
                    <div class="buy-at">Buy at</div>
                    <div class="btn-content">
                        <div class="buy-item">
                            <div class="icon-item">
                                <a data-button_name="Amazon"
                                   data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                   data-product_type="Carpet Cleaner"
                                   ga4-event="ga4-shopping-portal"
                                   href="https://www.amazon.com/Tineco-CARPET-ONE-Lightweight-Upholstery/dp/B09NMZ7GX3?maas=maas_adg_3D1F822EFDDC3C34A29005FA1EAD6A10_afap_abs&ref_=aa_maas&tag=maas"
                                   rel="noopener noreferrer" target="_blank">
                                    <img alt=""
                                         class="icon"
                                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"/>
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                    </div>
                    <a class="learn-more" data-button_name="Learn more"
                       data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                       data-product_type="Carpet Cleaner"
                       ga4-event="ga4-learn-more" href="https://us.tineco.com/products/carpet-one-series.html"
                       rel="noopener noreferrer" target="_blank">Learn more ></a>
                    <img alt="" class="hot-icon"
                         src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png">
                </div>
            </div>
        </div>
        
        <div class="where-to-buy-wrapper">
            <div class="text">Where to Buy</div>
            <div class="btn-content ml-084">
                <a class="btn mr-02"
                   data-button_name=">Where to Buy >Amazon" ga4-event="ga4-where-to-buy"
                   href="https://www.amazon.com/stores/page/D2EE68C0-D121-4050-98F4-640626078A50?maas=maas_adg_2BFB195FA989838A4EFA4298453D6429_afap_abs&ref_=aa_maas&tag=maas"
                   rel="noopener noreferrer" target="_blank">
                    <img alt=""
                         class="icon"
                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                </a>
                <a class="btn"
                   data-button_name=">Where to Buy >Tineco Store" ga4-event="ga4-where-to-buy"
                   href="https://store.tineco.com/collections/secret-deals?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
                   rel="noopener noreferrer" target="_blank">
                    <img alt=""
                         class="icon"
                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                </a>
            </div>
        </div>
    </div>
    <!-- 产品分类 end -->
    
    <div class="live-wrapper">
        <video autoplay class="bg" loop muted src="https://static-ussite.tineco.com/pc.mp4_4e6d5b87-b.mp4"></video>
        <div class="content">
            <div class="title">Tineco helps over <span>12,000,000*</span> families worldwide to</div>
            <div class="sub-title">Live Easy, Enjoy Life.</div>
            <div class="text">Tineco showcases its innovative and intelligent<br/> technology to make the home
                appliances<br/> smarter and easier to use, and focuses on<br/> human and things we love.
            </div>
            <div class="video-content">
                <a data-target="#videoModal" data-title="Grab BLACK FRIDAY Deals Now" data-toggle="modal"
                   data-video="https://www.youtube.com/embed/hBxrNywh38U" href="#videoModal">
                    <div class="video-btn" ga4-event="ga4-click-video">Watch The Video</div>
                </a>
            </div>
            <div class="tips">-Data from Tineco's official net sales records (Jan. 2020 - Oct. 2023). Tineco has
                final interpretation rights.
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body  p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe allowfullscreen class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ugc引流 start -->
    <div class="ugc-wrapper">
        <img alt="" class="bg" src="https://static-ussite.tineco.com/UGC%E5%BC%95%E6%B5%81.png_d0dea7b6-0.png">
        <div class="content">
            <div class="title">More Benefits from Tineco Rewards</div>
            <div class="text">Post and start earning free products, coupons and other cool stuff!</div>
            <a class="ugc-btn"
               data-button_name="UGC Learn More" data-page_category="UGC" ga4-event="ga4-rewards"
               href="https://store.tineco.com/pages/tineco-rewards?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
               rel="noopener noreferrer" target="_blank">Learn More</a>
        </div>
    </div>
    <!-- ugc引流 end -->
    
    <script>
      // banner轮播
      let bannerSwiper = new Swiper('#bannerSwiper', {
        autoplay: {
          delay: 5000,
          stopOnLastSlide: false,
          disableOnInteraction: true,
        },
        speed: 700,
        allowTouchMove: true,
        centeredSlides: true,
        loop: true,
        pagination: {
          el: '#swiper-pagination-banner',
          type: "custom",
          clickable: true,
          renderCustom: function (className, current, total) {
            var ui = "";
            for (var i = 1; i <= total; i++) {
              var sclass = "swiper-pagination-bullet";
              if (i == current) {
                sclass += " swiper-pagination-bullet-active";
              }
              ui +=
                "<div class='" + sclass + "'><div class='sprogress'></div></div>"
            }
            return ui;
          }
        }
      });

      // 产品切换
      $('.guidance-item').click(function () {
        let activeIndex = $(this).index()
        let guidanceTitle = $(this).children('.text').html()
        $('.product-content .sub-title').html(guidanceTitle)
        $('.product-content .prod-list').addClass('hidden')
        $('.product-content .prod-list').eq(activeIndex).removeClass('hidden')
      })

      // 视频
      $("#videoModal").on("show.bs.modal", function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let url = button.data("video"); // Extract url from data-video attribute
        let title = button.data("title");

        $("#modal-title").html(title);
        $(this).find("iframe").attr({
          src: url,
          allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        });
      });
    </script>
</div>

<script src="./js/us-black5-index.js"></script>
<script src="https://static-ussite.tineco.com/ga4.iife.js_03781119-c.js"></script>
</body>

</html>
