<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upgrade Your Clean: Save Big with Tineco PURE ONE STATION Trade-Up Event | Tineco US</title>
    <meta content="Don't miss the chance to elevate your cleaning game with the Tineco PURE ONE STATION! From December 1st to December 10th, 2023, take advantage of our exclusive Vacuum Trade-Up offer. Upgrade from any vacuum cleaner brand and save up to $160 – no need to return your old machine!"
          name="description">
    <link href="/events/vacuum-trade-up/" rel="canonical"/>
    <link href="../../assets/css/iconfonts.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    
    <link href="../../assets/css/base-pc.css" rel="stylesheet">
    <link href="./css/us-vacuum-trade-up-pc.css" rel="stylesheet">
    
    <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>
</head>
<body>
<div class="us-vacuum-trade-up-pc">
    <div class="trade-up-btn fixed-btn">
        <img alt="" src="[i18]tradeup.tradeup_btn[/i18]"/>
    </div>
    %%-fly-top-banner-%%
    <div class="now-set-wrapper">
        %%-fly-top-set-%%
        %%-fly-image-box-%%
        <div class="cry"></div>
        <div class="now-set-content">
            <div class="now-set-text">
                <div class="title">
                    [i18]tradeup.waterfall.subtitle[/i18]<br>
                    [i18]tradeup.waterfall.subtitle3[/i18]
                
                </div>
                <h2 class="content">
                    [i18]tradeup.waterfall.subtitle2[/i18]
                </h2>
                <div class="title mar-t-72">
                    [i18]tradeup.waterfall.tips[/i18]
                </div>
                <h2 class="bottom-title" data-text="[i18]tradeup.waterfall.next_title[/i18]">
                    [i18]tradeup.waterfall.next_title[/i18]</h2>
            </div>
            <div class="down-next"></div>
        </div>
    </div>
    %%-fly-trade-up-intro-swiper-%%
    %%-fly-trade-up-intro-%%
    <div class="form-set-wrapper">
        <h2 class="title">[i18]tradeup.step.title[/i18]</h2>
        <h3 class="sub">[i18]tradeup.step.subtitle[/i18]</h3>
    </div>
    %%-fly-trade-up-form-%%
    <div class="flex-2 plr-018 mb-056">
        <div class="step-wrapper step2-wrapper">
            <div class="head">
                <div class="title">[i18]tradeup.step.step[/i18] 2</div>
                <img alt="" class="icon"
                     src="https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%2011.png_2d06219f-b.png">
            </div>
            <div class="text1">
                [i18]tradeup.step.text2[/i18]
            </div>
        </div>
        <div class="step-wrapper step2-wrapper">
            <div class="head">
                <div class="title">[i18]tradeup.step.step[/i18] 3</div>
                <img alt="" class="icon"
                     src="https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%2012.png_036955bc-f.png">
            </div>
            <div class="text1">
                [i18]tradeup.step.text3[/i18]
            </div>
        </div>
        <div class="down-next"></div>
    </div>
    <div class="buy-wrapper">
        <div class="title">[i18]tradeup.buy.title[/i18]</div>
        <div class="buy-list">
            <div class="item mar-r-150">
                <a class="icon"
                   href="[i18]tradeup.buy.amazon_url[/i18]"
                   rel="noopener noreferrer" target="_blank">
                    <img alt=""
                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                         style="padding-top: 0.1rem"/>
                </a>
                <a href="[i18]tradeup.buy.title[/i18]"
                   rel="noopener noreferrer" target="_blank">[i18]tradeup.buy.amazon[/i18]</a>
            </div>
            <div class="item">
                <a class="icon"
                   href="[i18]tradeup.buy.official_url[/i18]"
                   rel="noopener noreferrer" target="_blank">
                    <img alt=""
                         class="mt--01"
                         src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                </a>
                <a href="[i18]tradeup.buy.official_url[/i18]"
                   rel="noopener noreferrer" target="_blank">[i18]tradeup.buy.official[/i18]</a>
            </div>
        </div>
    </div>
    <div class="trade-up-title-wrapper">
        <div class="content">
            <h2 class="title fz-03"><b>[i18]tradeup.footer.title[/i18]</b></h2>
        </div>
    </div>
    %%-fly-collapsefooter-%%
    <div class="footer-text-wrapper">
        <div class="text">[i18]tradeup.footer.text1[/i18]
        </div>
        <div class="text">[i18]tradeup.footer.text2[/i18]
            <div class="text">[i18]tradeup.footer.text3[/i18]
                <div class="text">[i18]tradeup.footer.text4[/i18] <a
                        href="/privacy/">[i18]tradeup.footer.privacy[/i18]</a>
                </div>
                <div class="text">[i18]tradeup.footer.text5[/i18]
                </div>
            </div>
        </div>
        <script>
          $(function () {
            //点击trade up按钮 滚动到form表单
            $('.trade-up-btn').click(function () {
              $('html,body').animate({scrollTop: $('.form-set-wrapper').offset().top}, 800);
            })

            //获取url里面的pre参数
            function getUrlParam(name) {
              var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
              var r = window.location.search.substr(1).match(reg);
              if (r != null) return unescape(r[2]);
              return null;
            }

            const pre = getUrlParam('pre')
            //如果pre参数存在，页面滚动到form表单
            if (pre) {
              $('html,body').animate({scrollTop: $('.form-set-wrapper').offset().top});
            }
          })
        </script>
    </div>
</div>
<script src="./js/us-vacuum-trade-up-index.js"></script>
</body>
</html>
