<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Title</title>
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/common.css" rel="stylesheet">
    <link href="../../assets/css/index-mobile.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <link href="../../assets/css/base-h5.css" rel="stylesheet">
    <link href="./css/us-black5-footer-h5.css" rel="stylesheet">

</head>

<body>
<footer class="footer black5-footer-h5">
    <div class="index-4feture">
        <div class="en-item">
            <img alt="" src="https://static-ussite.tineco.com/bf4e26cc-4988-4493-a783-db2348c07585.png">
        </div>
        <div class="en-item">
            <img alt="" src="https://static-ussite.tineco.com/1ed0290f-ad12-4d20-bb27-8872cc9f637c.png">
        </div>
        <div class="en-item">
            <img alt="" src="https://static-ussite.tineco.com/9bf2ee1c-ba10-40f8-bd76-a5d81d33f2bd.png">
        </div>
        <div class="en-item">
            <img alt="" src="https://static-ussite.tineco.com/c21d2549-d7fd-4979-abce-a84b1fa73150.png">
        </div>
    </div>
    <div class="search t-center">
        <div class="subscribe-title">Looking for more<br/> savings and offers?</div>
        <div class="font-bold f-19 f-white search-title">Subscription</div>
        <div class="d-flex p-h-12 search-con">
            <form action="https://manage.kmail-lists.com/subscriptions/subscribe" method="POST" onsubmit="return checkSubscribeThis(this);"
                  style="flex: 1 1 0%; display: flex; position: relative;"
                  target="_blank"><input name="a" type="hidden"
                                                                                  value="StELfa"> <input name="g"
                                                                                                         type="hidden"
                                                                                                         value="Xg7Dz6">
                <input class="value form-control"
                       id="email-sub-footer" name="email" placeholder="Enter your email address" type="text">
                <button class="search-btn" ga4-event="ga4-subscribe" id="subscribe-footer-btn" type="submit">SUBSCRIBE
                </button>
            </form>
        </div>
        <span class="error-msg" id="footer-sub-error-msg" style="display: none;">This field is required.
                Please enter a valid email address.</span>
        <div class="join-title">Follow Us</div>
        <section class="d-flex join">
            <a class="socialNormalBtn" href="https://www.facebook.com/tinecoglobal/" target='_blank'>
                <img alt="" class="join-item" src='https://static-ussite.tineco.com/social-icon1.svg_85623a5e-4.svg'/>
            </a>
            <a class="socialNormalBtn" href="https://www.tiktok.com/@tinecoglobal" target='_blank'>
                <img alt="" class="join-item" src='https://static-ussite.tineco.com/social-icon2.svg_52f8defc-4.svg'/>
            </a>
            <a class="socialNormalBtn" href="https://www.instagram.com/tinecoglobal/" target='_blank'>
                <img alt="" class="join-item" src='https://static-ussite.tineco.com/social-icon3.svg_0e23fae8-b.svg'/>
            </a>
            <a class="socialNormalBtn" href="https://twitter.com/tinecoglobal" target='_blank'>
                <img alt="" class="join-item" src='https://static-ussite.tineco.com/social-icon4.svg_2fa26622-e.svg'/>
            </a>
            <a class="socialNormalBtn" href="https://www.youtube.com/channel/UCe-XOiQy6sAzI0zoxlyI3DA"
               target='_blank'>
                <img alt="" class="join-item" src='https://static-ussite.tineco.com/social-icon5.svg_1aa4f774-5.svg'/>
            </a>
        </section>
    </div>
</footer>
<script src="./js/us-black5-footer-index.js"></script>


</body>

</html>
