<div class="fly-trade-up-intro-pc" style="background:url('[i18]tradeup.code_wrapper.bg[/i18]') no-repeat center 2rem/88% auto;">
    <h2 class="title" style="font-size: [i18]tradeup.code_wrapper.fontTitle[/i18]">[i18]tradeup.code_wrapper.title[/i18]</h2>
    <div class="content">
        <div class="about-wrapper">
            <div class="content-body">
                <div class="content-body-title">[i18]tradeup.code_wrapper.subtitle[/i18]</div>
                <div class="content-body-desc">
                    [i18]tradeup.code_wrapper.text[/i18]
                </div>
                <div class="img-wrapper">
                    <div class="item">
                        <div class="item-title">100 [i18]tradeup.code_wrapper.EUR[/i18]</div>
                        <div class="item-content">
                            [i18]tradeup.code_wrapper.desc1PC[/i18]<br>
                            [i18]tradeup.code_wrapper.desc2PC[/i18]
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">160 [i18]tradeup.code_wrapper.EUR[/i18]</div>
                        <div class="item-content">
                            [i18]tradeup.code_wrapper.desc3PC[/i18]<br>
                            [i18]tradeup.code_wrapper.desc4PC[/i18]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
