@keyframes fade-in-delay {
  0% {
    opacity: 0;
    top: 0.2rem;
  }
  50% {
    opacity: 0;
    top: 0.2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.s7-steam-pc .banner-wrapper {
  width: 100vw;
  height: 8.5rem;
  position: relative;
}
.s7-steam-pc .banner-wrapper img {
  width: 100%;
  display: block;
}
.s7-steam-pc .banner-wrapper .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.2rem 3rem;
}
.s7-steam-pc .banner-wrapper .content .title {
  font-size: 0.34rem;
  line-height: 0.34rem;
  color: #fff;
}
.s7-steam-pc .banner-wrapper .content .product-name {
  margin-top: 0.64rem;
  font-size: 0.57rem;
  line-height: 0.57rem;
  color: #fff;
}
.s7-steam-pc .banner-wrapper .content .product-name span {
  font-weight: bold;
}
.s7-steam-pc .banner-wrapper .content .sub-title {
  font-size: 0.36rem;
  line-height: 0.36rem;
  color: #fff;
  margin-top: 0.48rem;
}
.s7-steam-pc .banner-wrapper .content .video-and-buy {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}
.s7-steam-pc .banner-wrapper .content .video-and-buy .text {
  color: #fff;
  font-size: 0.24rem;
}
.s7-steam-pc .banner-wrapper .content .video-and-buy .play-btn {
  width: 0.36rem;
  height: 0.36rem;
  background: url(https://static-ussite.tineco.com/37135080-ece4-40c1-8623-40d2d26d1e2b.png) no-repeat center center/cover;
  margin: 0 0.7rem 0 0.34rem;
  cursor: pointer;
}
.s7-steam-pc .banner-wrapper .content .video-and-buy .buy-btn {
  width: 1.4rem;
  height: 0.52rem;
  border: 0.02rem solid #fff;
  border-radius: 0.26rem;
  font-size: 0.24rem;
  line-height: 0.24rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s7-steam-pc .function-wrapper {
  background-color: #3c4045;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s7-steam-pc .function-wrapper .function-img {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.s7-steam-pc .function-wrapper .hover-img {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.s7-steam-pc .function-wrapper .left {
  width: 4.8rem;
  height: 6.7rem;
  flex-shrink: 0;
}
.s7-steam-pc .function-wrapper .left .content-1 {
  width: 4.8rem;
  height: 3.25rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.s7-steam-pc .function-wrapper .left .content-1:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .left .content-1:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .left .content-1 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0 0.3rem 0;
  display: flex;
  flex-direction: column;
}
.s7-steam-pc .function-wrapper .left .content-1 .content .title {
  font-size: 0.34rem;
  line-height: 0.34rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .left .content-1 .content .title span {
  font-size: 0.54rem;
  line-height: 0.54rem;
  color: #ff7624;
}
.s7-steam-pc .function-wrapper .left .content-1 .content .title div {
  font-weight: normal;
}
.s7-steam-pc .function-wrapper .left .content-1 .content .bottom-content {
  flex-grow: 1;
  font-size: 0.19rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.s7-steam-pc .function-wrapper .left .content-2 {
  margin-top: 0.16rem;
  width: 4.8rem;
  height: 3.36rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
}
.s7-steam-pc .function-wrapper .left .content-2:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .left .content-2:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .left .content-2 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0 0.3rem 0;
  display: flex;
  font-size: 0.34rem;
  background: linear-gradient(77deg, #00baf9, #015eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .center {
  margin: 0 0.16rem;
  flex-shrink: 0;
}
.s7-steam-pc .function-wrapper .center .content-3 {
  width: 4.8rem;
  height: 6.7rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.s7-steam-pc .function-wrapper .center .content-3:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .center .content-3:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .center .content-3 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0 0.3rem 0;
  display: flex;
  font-size: 0.2rem;
  flex-direction: column;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
}
.s7-steam-pc .function-wrapper .center .content-3 .content .text {
  margin-top: 0.64rem;
}
.s7-steam-pc .function-wrapper .center .content-3 .content .text-gradient {
  background: linear-gradient(77deg, #00baf9, #015eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.34rem;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .right {
  width: 7.48rem;
}
.s7-steam-pc .function-wrapper .right .content-4 {
  width: 7.48rem;
  height: 2.71rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.s7-steam-pc .function-wrapper .right .content-4:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .right .content-4:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .right .content-4 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  padding: 0.64rem;
}
.s7-steam-pc .function-wrapper .right .content-4 .content .text-gradient {
  background: linear-gradient(77deg, #00baf9, #015eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.34rem;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper {
  display: flex;
  margin-top: 0.16rem;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 {
  width: 4.18rem;
  height: 3.84rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0 0.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 .content .text {
  font-size: 0.2rem;
  color: #fff;
  margin-top: 1.2rem;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 .content .text-1 {
  font-size: 0.34rem;
  color: #ff7624;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 .content .text-2 {
  font-size: 0.2rem;
  color: #fff;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-5 .content .text-gradient {
  background: linear-gradient(77deg, #00baf9, #015eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.34rem;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6 {
  width: 3.16rem;
  height: 3.84rem;
  margin-left: 0.16rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6:hover .function-img {
  display: none;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0 0.3rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.34rem;
  line-height: 0.4rem;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6 .content .text {
  display: flex;
  background: linear-gradient(77deg, #00baf9, #015eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s7-steam-pc .function-wrapper .right .bottom-wrapper .content-6 .content .text span {
  font-size: 0.16rem;
  font-weight: bold;
  line-height: 0.16rem;
  margin-top: 0.04rem;
}
.s7-steam-pc .hot-f-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
}
.s7-steam-pc .hot-f-wrapper.show-fadein .content .text-1 {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .hot-f-wrapper.show-fadein .content .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .hot-f-wrapper .content {
  background: url(https://static-ussite.tineco.com/f65dda01-a3d3-4c25-a9bb-3b1df8b06e34.jpg) no-repeat center center/cover;
  padding: 2rem 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.s7-steam-pc .hot-f-wrapper .content .text {
  background: linear-gradient(77deg, #015eea, #00baf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.48rem;
  font-weight: bold;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .hot-f-wrapper .content .text-1 {
  font-size: 0.24rem;
  color: #fff;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .hot-f-wrapper .content .text-1.mar-t-48 {
  margin-top: 0.48rem;
}
.s7-steam-pc .hot-f-wrapper .content .text-1.mar-t-34 {
  margin-top: 0.34rem;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper {
  position: absolute;
  left: 3.81rem;
  top: 5.65rem;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper .text {
  font-size: 0.21rem;
  line-height: 0.21rem;
  color: #fff;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper .text.mar-l-150 {
  margin-left: 1.5rem;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper .text.mar-t--8 {
  margin-top: -0.08rem;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper .top, .s7-steam-pc .hot-f-wrapper .text-wrapper .bottom {
  display: flex;
}
.s7-steam-pc .hot-f-wrapper .text-wrapper .bottom {
  margin-top: 0.7rem;
}
.s7-steam-pc .hot-f-wrapper .position {
  position: absolute;
  left: 13.32rem;
  top: 4.94rem;
  width: 0.46rem;
  height: 0.46rem;
  background: url("https://static-ussite.tineco.com/5692ff7b-f94a-49f3-bf16-ea007522ce89.png") no-repeat center center/cover;
  cursor: pointer;
  overflow: hidden;
}
.s7-steam-pc .hot-f-wrapper .position:hover {
  overflow: visible;
}
.s7-steam-pc .hot-f-wrapper .position:hover .f-wrapper {
  opacity: 1;
  top: -3.3rem;
}
.s7-steam-pc .hot-f-wrapper .f-wrapper {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  left: 0.24rem;
  top: -2.8rem;
  width: 5.1rem;
  height: 3.8rem;
  background: url("https://static-ussite.tineco.com/83fb8b3d-205f-4653-af5d-f07c6d8b80d4.png") no-repeat top right/100% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.s7-steam-pc .hot-f-wrapper .f-wrapper .text {
  font-size: 0.2rem;
  color: #fff;
  margin-right: 0.2rem;
  font-style: italic;
}
.s7-steam-pc .hot-f-wrapper .f-wrapper .text span {
  font-weight: bold;
}
.s7-steam-pc .desk-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  display: flex;
}
.s7-steam-pc .desk-wrapper.show-fadein .content .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .desk-wrapper.show-fadein .b-left, .s7-steam-pc .desk-wrapper.show-fadein .b-right {
  animation-name: fade-in-delay;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.s7-steam-pc .desk-wrapper .left, .s7-steam-pc .desk-wrapper .right {
  width: 50%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.s7-steam-pc .desk-wrapper .left:hover video, .s7-steam-pc .desk-wrapper .right:hover video {
  display: block;
}
.s7-steam-pc .desk-wrapper .left:hover img, .s7-steam-pc .desk-wrapper .right:hover img {
  display: none;
}
.s7-steam-pc .desk-wrapper .left img, .s7-steam-pc .desk-wrapper .right img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.s7-steam-pc .desk-wrapper .left video, .s7-steam-pc .desk-wrapper .right video {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  margin: 0;
  display: none;
}
.s7-steam-pc .desk-wrapper .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 0.9rem;
  background: url(https://static-ussite.tineco.com/80192b9b-3f8e-4578-8d05-c2a30b2b1b1e.png) no-repeat bottom center/19rem auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.s7-steam-pc .desk-wrapper .content .text {
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
  position: relative;
}
.s7-steam-pc .desk-wrapper .content .bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left.on {
  transform: scale(1.1);
  transform-origin: bottom;
  transition: all 0.2s linear;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right.on {
  transform: scale(1.1);
  transform-origin: bottom;
  transition: all 0.2s linear;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left, .s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right {
  position: relative;
  color: #fff;
  font-size: 0.2rem;
  flex-grow: 1;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left .title, .s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right .title {
  font-size: 0.32rem;
  font-weight: bold;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left .pad-r-100, .s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right .pad-r-100 {
  padding-right: 1rem;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left .pad-l-80, .s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right .pad-l-80 {
  padding-left: 0.8rem;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left .pad-l-190, .s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right .pad-l-190 {
  padding-left: 1.9rem;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-left {
  text-align: right;
  align-items: flex-end;
  padding-right: 3.36rem;
}
.s7-steam-pc .desk-wrapper .content .bottom .bottom-content .b-right {
  text-align: left;
  align-items: flex-start;
  padding-left: 3.36rem;
}
.s7-steam-pc .safe-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background: url(https://static-ussite.tineco.com/15658c0a-0e1d-4759-af3c-7c2f5aafaa3a.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
.s7-steam-pc .safe-wrapper .title {
  font-size: 0.42rem;
  font-weight: bold;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .safe-wrapper .text {
  font-size: 0.24rem;
  line-height: 0.24rem;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .safe-wrapper.show-fadein .title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .safe-wrapper.show-fadein .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .fixed-wrapper {
  width: 100vw;
  height: 18rem;
  overflow: hidden;
  position: relative;
  background-color: #0e0e0e;
  display: flex;
  position: relative;
  overflow: hidden;
}
.s7-steam-pc .fixed-wrapper img.fixed {
  position: absolute;
  top: 0;
  right: 0;
}
.s7-steam-pc .fixed-wrapper.show-fadein .content .left .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .fixed-wrapper.show-fadein .content .left .text-1 {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .fixed-wrapper.show-fadein .content .left .delay-text, .s7-steam-pc .fixed-wrapper.show-fadein .content .left .delay-text-1 {
  animation-name: fade-in-delay;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}
.s7-steam-pc .fixed-wrapper .content {
  display: flex;
  background-color: #0e0e0e;
}
.s7-steam-pc .fixed-wrapper .content .left {
  width: 8rem;
  height: 100%;
  padding: 1.34rem 0 0 2.42rem;
  flex-shrink: 0;
  position: relative;
}
.s7-steam-pc .fixed-wrapper .content .left .mar-t-134 {
  margin-top: 1.34rem;
}
.s7-steam-pc .fixed-wrapper .content .left .text {
  background: linear-gradient(77deg, #005feb, #00c5fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.52rem;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 0.08rem;
  line-height: 0.64rem;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .fixed-wrapper .content .left .text .mar-t-24 {
  margin-top: 0.24rem;
}
.s7-steam-pc .fixed-wrapper .content .left .delay-text {
  background: linear-gradient(77deg, #005feb, #00c5fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.52rem;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 0.08rem;
  line-height: 0.64rem;
  position: relative;
}
.s7-steam-pc .fixed-wrapper .content .left .delay-text .mar-t-24 {
  margin-top: 0.24rem;
}
.s7-steam-pc .fixed-wrapper .content .left .text-1 {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.4rem;
  padding-left: 0.08rem;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .fixed-wrapper .content .left .text-1 .mar-t-46 {
  margin-top: 0.46rem;
}
.s7-steam-pc .fixed-wrapper .content .left .delay-text-1 {
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.4rem;
  padding-left: 0.08rem;
  position: relative;
}
.s7-steam-pc .fixed-wrapper .content .left .delay-text-1 .mar-t-46 {
  margin-top: 0.46rem;
}
.s7-steam-pc .fixed-wrapper .content .left .show-1 {
  overflow: hidden;
  left: 2.42rem;
  z-index: 99;
  width: 5.4rem;
  position: absolute;
  display: block;
}
.s7-steam-pc .fixed-wrapper .content .left .show-1 .top {
  display: flex;
  align-items: center;
}
.s7-steam-pc .fixed-wrapper .content .left .show-2 {
  overflow: hidden;
  left: 2.42rem;
  z-index: 99;
  position: absolute;
  display: none;
}
.s7-steam-pc .fixed-wrapper .content .left .tip-bg {
  width: 3.76rem;
  height: 1.3rem;
}
.s7-steam-pc .fixed-wrapper .content .left .tip-bg.dis-none {
  display: none;
}
.s7-steam-pc .fixed-wrapper .content .left .tip-icon {
  width: 1.29rem;
  height: 1.35rem;
}
.s7-steam-pc .fixed-wrapper .content .right {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
}
.s7-steam-pc .fixed-wrapper .content .right img {
  width: 11.2rem;
  height: 8rem;
  display: block;
}
.s7-steam-pc .fixed-wrapper .content .right img.img-1 {
  display: block;
}
.s7-steam-pc .fixed-wrapper .content .right img.img-2 {
  display: none;
}
.s7-steam-pc .step-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background: url(https://static-ussite.tineco.com/1eb46520-0d10-4266-8ddd-dc2355cb6ee2.jpg) no-repeat center center/cover;
  position: relative;
}
.s7-steam-pc .step-wrapper.show-fadein .content .gyq-text-wrapper .title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .step-wrapper.show-fadein .content .gyq-text-wrapper .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .step-wrapper .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.4rem 0 0 2.42rem;
}
.s7-steam-pc .step-wrapper .content .gyq-text-wrapper .title {
  margin-top: 0.66rem;
  font-size: 0.42rem;
  line-height: 0.6rem;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .step-wrapper .content .gyq-text-wrapper .text {
  margin-top: 0.16rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #fff;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .step-wrapper .content .img-step-wrapper {
  width: 4.12rem;
  height: 3.48rem;
  margin-top: 2.2rem;
  overflow: hidden;
  position: relative;
}
.s7-steam-pc .step-wrapper .content .img-step-wrapper .show-step {
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.s7-steam-pc .step-wrapper .content .img-step-wrapper .show-step.on {
  opacity: 1;
  z-index: 99;
}
.s7-steam-pc .step-wrapper .content .img-step-wrapper .show-step.off {
  opacity: 0;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper {
  margin-left: 1.4rem;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .line-wrapper {
  width: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .line-wrapper .circle {
  width: 0.2rem;
  height: 0.2rem;
  background: linear-gradient(159deg, #2aacf6, #0151e1);
  border-radius: 50%;
  transition: all 0.2s linear;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .line-wrapper .circle.mar-t-26 {
  margin-top: 0.26rem;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .line-wrapper .circle.on {
  transform: scale(1.2);
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .line-wrapper .line {
  width: 1px;
  height: 1rem;
  background-color: #5baae5;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right {
  margin-left: 0.2rem;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .mar-t-60 {
  margin-top: 0.6rem;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .step {
  cursor: pointer;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .step:hover .title, .s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .step:hover .text {
  transform: scale(1.05);
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .step.on .title, .s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .step.on .text {
  transform: scale(1.05);
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .title {
  font-size: 0.24rem;
  font-style: italic;
  background: linear-gradient(159deg, #2aacf6, #0151e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: all 0.2s linear;
}
.s7-steam-pc .step-wrapper .content .s7-right-wrapper .right .text {
  font-size: 0.22rem;
  color: #fff;
  font-weight: bold;
  line-height: 0.24rem;
  transition: all 0.2s linear;
}
.s7-steam-pc .movie-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background: url(https://static-ussite.tineco.com/a2d3548d-ae73-45ec-9f9e-d20fb2128cda.jpg) no-repeat center center/cover;
  position: relative;
  padding: 0.9rem 0 0 0;
}
.s7-steam-pc .movie-wrapper.show-fadein .title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .movie-wrapper.show-fadein .sub-title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .movie-wrapper.show-fadein .movies .content .text {
  animation-name: fade-in-delay;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.s7-steam-pc .movie-wrapper .title {
  font-size: 0.42rem;
  line-height: 0.44rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .movie-wrapper .sub-title {
  font-size: 0.24rem;
  line-height: 0.24rem;
  margin-top: 0.14rem;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .movie-wrapper .movies {
  height: 4.94rem;
  margin: 0.44rem 0 0 1.36rem;
  display: flex;
  align-items: center;
}
.s7-steam-pc .movie-wrapper .movies .content {
  width: 3.4rem;
  height: 4.94rem;
  border-radius: 0.26rem;
  overflow: hidden;
  padding-top: 3.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.2s linear;
  background-color: #fff;
}
.s7-steam-pc .movie-wrapper .movies .content:hover {
  width: 3.74rem;
  height: 5.43rem;
  padding-top: 3.63rem;
}
.s7-steam-pc .movie-wrapper .movies .content:hover .circle, .s7-steam-pc .movie-wrapper .movies .content:hover .text {
  transform: scale(1.1);
}
.s7-steam-pc .movie-wrapper .movies .content.on .movie-box .poster {
  opacity: 0;
}
.s7-steam-pc .movie-wrapper .movies .content .movie-box {
  width: 100%;
  height: 73%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.s7-steam-pc .movie-wrapper .movies .content .movie-box .poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all ease-in-out 0.2s;
  width: 100%;
  height: 100%;
}
.s7-steam-pc .movie-wrapper .movies .content .movie-box .movie {
  position: absolute;
  left: 0;
  height: 100%;
}
.s7-steam-pc .movie-wrapper .movies .content .text {
  font-size: 0.26rem;
  color: #000;
  font-weight: bold;
  line-height: 0.36rem;
  margin-top: 0.12rem;
  position: relative;
}
.s7-steam-pc .movie-wrapper .movies .content .text .text-c {
  text-align: center;
}
.s7-steam-pc .movie-wrapper .movies .content .text span {
  background: linear-gradient(-85deg, #015eea, #00c0fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s7-steam-pc .movie-wrapper .movies .content.mar-l-18 {
  margin-left: 0.18rem;
}
.s7-steam-pc .movie-wrapper .movies .content .circle {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #fff, #b4c9e9);
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.s7-steam-pc .movie-wrapper .movies .content .circle .inner-circle {
  width: 0.49rem;
  height: 0.49rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #2aacf6, #0151e1);
  font-size: 0.24rem;
  line-height: 0.49rem;
  text-align: center;
  color: #fff3cd;
  font-weight: bold;
}
.s7-steam-pc .why-choose-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background: url("https://static-ussite.tineco.com/0d97c91f-492a-4ef8-bb31-8d7a979709b4.jpg") no-repeat center center/cover;
  padding-top: 0.6rem;
  display: flex;
  flex-direction: column;
}
.s7-steam-pc .why-choose-wrapper.show-fadein .title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .why-choose-wrapper.show-fadein .sub-title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .why-choose-wrapper .title {
  font-size: 0.42rem;
  line-height: 0.42rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .why-choose-wrapper .sub-title {
  font-size: 0.24rem;
  line-height: 0.24rem;
  margin-top: 0.16rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .why-choose-wrapper .sub-title .mar-t-14 {
  margin-top: 0.14rem;
}
.s7-steam-pc .why-choose-wrapper .bottom-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.16rem;
  color: #fff;
  align-items: center;
  margin-bottom: 0.2rem;
  margin-left: -1.16rem;
}
.s7-steam-pc .compare-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background: url("https://static-ussite.tineco.com/6cbe9853-cc0f-4092-9b7e-ba3d9812cf2b.jpg") no-repeat center center/cover;
  padding: 1.8rem 1.9rem;
}
.s7-steam-pc .compare-wrapper .text {
  font-size: 0.34rem;
  font-weight: bold;
  background: linear-gradient(90deg, #019cfe, #47dfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .compare-wrapper.show-fadein .text {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .edge-swiper-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s7-steam-pc .edge-swiper-wrapper.show-fadein .s-title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .edge-swiper-wrapper.show-fadein .sub-title {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .edge-swiper-wrapper .s-title {
  font-size: 0.42rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 0.24rem;
  background: linear-gradient(45deg, #015eea, #00baf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .edge-swiper-wrapper .sub-title {
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
  margin-bottom: 0.2rem;
  padding: 0 2.8rem;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container {
  width: 100%;
  position: relative;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container .swiper-slide .swipe-img {
  width: 17rem;
  height: 5.5rem;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container .prev, .s7-steam-pc .edge-swiper-wrapper .swiper-container .next {
  width: 0.5rem;
  height: 0.5rem;
  background: url(https://static-ussite.tineco.com/e67a1169-cdc7-4a69-a83f-a94296145910.png) no-repeat center center/cover;
  position: absolute;
  top: 50%;
  margin-top: 0.5rem;
  z-index: 99;
  cursor: pointer;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container .prev {
  left: 1.37rem;
}
.s7-steam-pc .edge-swiper-wrapper .swiper-container .next {
  right: 1.37rem;
  transform: rotate(180deg);
}
.s7-steam-pc .desc-wrapper {
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  position: relative;
  background-color: #0e0e0e;
  display: flex;
  justify-content: space-between;
  padding: 0.46rem 1.06rem;
}
.s7-steam-pc .desc-wrapper.show-fadein .desc .title .content {
  opacity: 1;
  top: 0;
}
.s7-steam-pc .desc-wrapper.show-fadein .desc .text {
  animation-name: fade-in-delay;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.s7-steam-pc .desc-wrapper .desc {
  width: 3.8rem;
}
.s7-steam-pc .desc-wrapper .desc-img {
  width: 3.78rem;
  height: 4.32rem;
}
.s7-steam-pc .desc-wrapper .desc .title {
  font-size: 0.3rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.2rem;
  border-bottom: 1px solid #018ff2;
  box-shadow: 0 1px 0 0 #015eea;
  line-height: 0.36rem;
  padding-bottom: 0.1rem;
}
.s7-steam-pc .desc-wrapper .desc .title .content {
  opacity: 0;
  position: relative;
  top: 0.4rem;
  transition: all 0.75s ease-in-out;
}
.s7-steam-pc .desc-wrapper .desc .text {
  font-size: 0.2rem;
  color: #fff;
  margin-top: 0.2rem;
  position: relative;
}

.modal-content {
  border-radius: 0.1rem;
}
.modal-content .modal-header {
  padding: 0.16rem;
}
.modal-content .modal-header .modal-title {
  font-size: 0.2rem;
}
.modal-content .modal-header .close {
  padding: 0.16rem;
  margin: -0.16rem -0.16rem -0.16rem auto;
  font-size: 0.24rem;
}

.product-wrapper {
  width: 100vw;
  padding: 1rem 3.5rem;
  background-color: #f5f5f5;
}
.product-wrapper .title {
  font-size: 0.4rem;
  line-height: 0.4rem;
  font-weight: bold;
  text-align: center;
  color: #232222;
  margin-bottom: 0.56rem;
}
.product-wrapper .product-container {
  background-color: #fff;
  width: 100%;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide {
  padding-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide img {
  width: 1.4rem;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .product-title {
  padding-top: 0.4rem;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0.3rem;
  color: #232222;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .buy-at {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0.12rem;
  color: #00327D;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.7rem;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;
  position: relative;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item:hover .buy-tips {
  display: block;
  opacity: 1;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item .icon_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.72rem;
  height: 0.45rem;
  background: #fff;
  border: 2px solid #00327D;
  border-radius: 0.22rem;
  margin-left: 0.02rem;
  cursor: pointer;
  overflow: hidden;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item .icon_item:hover {
  background: #002E81;
  color: #fff;
  box-shadow: 0.02rem 0.06rem 0.28rem 0.01rem rgba(0, 0, 0, 0.2);
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item .icon_item:hover img {
  filter: drop-shadow(#fff 0.8rem 0);
  transform: translateX(-0.8rem);
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item .icon_item img {
  width: 0.21rem;
  height: 0.21rem;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .icon_list .buy-qd-item .buy-tips {
  font-size: 14px;
  color: #232222;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.3rem;
  width: 1rem;
  text-align: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .include {
  text-align: center;
  margin: 0.5rem 0;
  width: 100%;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .include span.iconfont {
  margin-left: 0.1rem;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .include, .product-wrapper .product-container .swiper-wrapper .swiper-slide .include a, .product-wrapper .product-container .swiper-wrapper .swiper-slide .include a:link {
  font-size: 12px;
  font-weight: 400;
  color: #151414;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.product-wrapper .product-container .swiper-wrapper .swiper-slide .include a {
  width: 100%;
  padding: 0.1rem;
}
.product-wrapper .down-area {
  background-color: #fff;
}
.product-wrapper .comm-content {
  border-top: 1px solid #EFF1F4;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.product-wrapper .comm-content .comm-item {
  text-align: center;
  width: 25%;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-wrapper .comm-content .comm-item a {
  text-decoration: none;
}
.product-wrapper .comm-content .comm-item img {
  height: 1.8rem;
  margin-bottom: 0.2rem;
  width: unset;
}
.product-wrapper .comm-content .comm-item .msg {
  font-size: 13px;
  font-weight: 400;
  color: #232222;
  line-height: 0.26rem;
}

.support-wrapper {
  text-align: center;
  padding: 0 3.5rem;
}
.support-wrapper h3 {
  padding: 1.2rem 0 0.76rem 0;
  font-size: 0.34rem;
  font-weight: bold;
  color: #151414;
}
.support-wrapper .support-item-wrapper {
  display: flex;
  justify-content: space-between;
}
.support-wrapper .support-item-wrapper .support-item-list {
  width: 24%;
  height: 3.25rem;
  background: #F5F5F5;
  font-weight: bold;
  color: #151414;
  font-size: 0.16rem;
  cursor: pointer;
}
.support-wrapper .support-item-wrapper .support-item-list:hover {
  box-shadow: 0.1rem 0.12rem 0.35rem 0.03rem rgba(0, 0, 0, 0.07);
}
.support-wrapper .support-item-wrapper .support-item-list:hover img {
  padding-bottom: 0.3rem;
  padding-top: 0.6rem;
}
.support-wrapper .support-item-wrapper .support-item-list:hover button {
  display: block;
  left: 50%;
  transform: translateX(-50%);
}
.support-wrapper .support-item-wrapper .support-item-list a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support-wrapper .support-item-wrapper .support-item-list a span.mar-t-8 {
  margin-top: 0.08rem;
}
.support-wrapper .support-item-wrapper .support-item-list img {
  padding: 0.95rem 0 0.4rem 0;
  transition: all 0.4s;
  width: 0.9rem;
  height: unset;
}
.support-wrapper .support-item-wrapper .support-item-list img.w-76 {
  width: 0.76rem;
}
.support-wrapper .support-item-wrapper .support-item-list button {
  background: #00327D;
  color: #fff;
  padding: 0.06rem 0.2rem;
  border-radius: 0.25rem;
  position: relative;
  top: 0.26rem;
  display: none;
  font-size: 0.16rem;
}

.bottom-nav-wrapper {
  padding: 0.84rem 3.5rem 0.24rem 3.5rem;
  font-size: 0.14rem;
}
.bottom-nav-wrapper .navbar-item {
  color: #222;
  text-decoration: none;
}
.bottom-nav-wrapper .navbar-last {
  color: #7c7c7c;
  text-decoration: none;
}