<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../assets/css/iconfonts.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/base-pc.css">
    <link rel="stylesheet" href="./css/fr-black5-pc.css">


    <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>
</head>

<body>
    <div class="fr-black5-pc" id="event-container">
        <!-- banner start -->
        <div class="banner-wrapper">
            <div class="swiper" id="bannerSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner-item" data-banner_name="Black Friday" data-position="1"
                            ga4-event="ga4-top-banner">
                        <img src="https://static-ussite.tineco.com/black%20friday-KV.jpg_d8886dab-1.jpg" alt=""
                            class="bg">
                        <div class="content">
                            <div class="text">Profitez de nos offres <span>BLACK FRIDAY</span> maintenant</div>
                            <div class="title">Jusqu’à <span>50%</span></div>
                            <div class="text">Faites confiance à la marque aimée <br/> par 12 Millions* de foyers dans
                                le monde </div>
                            <div class="btn-content">
                                <a href="https://www.amazon.fr/stores/page/25BF31C4-B3CD-48E4-B033-DB9AC942F1CF?maas=maas_adg_344B834F976C70B8C257469287AC60BE_afap_abs&ref_=aa_maas&tag=maas"
                                    target="_blank" rel="noopener noreferrer" class="btn mr-02">
                                    <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                        alt="" class="icon">
                                </a>
                                <a href="https://fr-store.tineco.com/?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
                                    target="_blank" rel="noopener noreferrer" class="btn">
                                    <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                        alt="" class="icon">
                                </a>
                            </div>
                        </div>
                        <div class="tips">*Ventes nettes tirées des comptes officiels de Tineco (de Janvier 2020 à
                            Octobre 2023). Tineco se réserve le droit d'interprétation finale.</div>
                    </div>
                    <div class="swiper-slide banner-item"  data-banner_name="floor one s7 combo"
                    data-position="2" ga4-event="ga4-top-banner">
                        <a href="https://www.amazon.fr/Tineco-Floor-One-S7-Combo/dp/B0CFD6TTJ2?ref_=ast_sto_dp"
                            target="_blank" rel="noopener noreferrer" class="bg-link">
                            <img src="https://static-ussite.tineco.com/9455e3a3-50ce-4f0c-a776-39f6cc33d144.jpg" alt=""
                                class="bg">
                        </a>
                    </div>
                    <div class="swiper-slide banner-item"  data-banner_name="PURE ONE Station PET"
                    data-position="3" ga4-event="ga4-top-banner">
                        <a href="https://fr.tineco.com/products/pure-one-station.html" target="_blank"
                            rel="noopener noreferrer" class="bg-link">
                            <img src="https://static-ussite.tineco.com/136cce99-47e8-4461-8a3f-55117016021d.jpg" alt=""
                                class="bg">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination-banner" id="swiper-pagination-banner"></div>
            </div>
        </div>
        <!-- banner end -->
        <!-- 媒体 start -->
        <div class="brand-wrapper">
            <div class="brand-item">
                <div class="text">Comme en vedette</div>
            </div>
            <div class="brand-item">
                <img src="https://static-ussite.tineco.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png_53b9bd1a-b.png" alt=""
                    class="img">
            </div>
            <div class="brand-item">
                <img src="https://static-ussite.tineco.com/75a6899e-d520-44ab-b3aa-56626974f1c9.png_b7347dfe-8.png"
                    alt="" class="img">
            </div>
            <div class="brand-item">
                <img src="https://static-ussite.tineco.com/bcd58d6d-7904-4574-bdb2-0d2a79bb27b7.png_a235d366-a.png"
                    alt="" class="img">
            </div>
            <div class="brand-item">
                <img src="https://static-ussite.tineco.com/756696b7-48c9-4098-ad22-c9dfd32ebdc5.png_3a6f2cd8-7.png"
                    alt="" class="img">
            </div>
        </div>
        <!-- 媒体 end -->
        <!-- 产品分类 start -->
        <div class="prod-classification-wrapper">
            <div class="main-title">Offres à durée limitée Tineco pour le Black Friday</div>

            <div class="guidance-content">
                <div class="guidance-item active">
                    <img src="https://static-ussite.tineco.com/S7-%E9%BB%84%E8%89%B2.jpg_d3428149-c.jpg" alt=""
                        class="img">
                    <div class="text">NETTOYEUR SEC/HUMIDE</div>
                </div>
                <div class="guidance-item">
                    <img src="https://static-ussite.tineco.com/2023%E9%BB%91%E4%BA%94%20KV-%E4%B8%89%E9%97%A82.jpg_475d1f84-7.jpg"
                        alt="" class="img">
                    <div class="text">ASPIRATEUR SANS FIL</div>
                </div>
                <div class="guidance-item">
                    <img src="https://static-ussite.tineco.com/CARPET-ONE--%E8%93%9D%E8%89%B22.jpg_c48cc98d-0.jpg"
                        alt="" class="img">
                    <div class="text">NETTOYEUR DE TAPIS</div>
                </div>
            </div>

            <div class="product-content">
                <div class="sub-title">NETTOYEUR SEC/HUMIDE</div>

                <div class="prod-list">
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/S5.jpg_212d6f4f-b.jpg');">
                        <div class="title"><b>FLOOR ONE</b> S5</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Poussi%C3%A8re-Intelligent-autonomie/dp/B093GCNT4Z?maas=maas_adg_8DF3F18F9D7AAB33CCD6D30CDEDA2391_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                            data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                            data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-aspirateur-eau-et-poussiere-sans-fil-floor-one-s5-intelligent?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                            data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                            data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/floor-one-s5.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                                data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                data-product_type="Floor Washer" ga4-event="ga4-learn-more">En savoir plus ></a>

                        <img src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png" alt=""
                            class="hot-icon">
                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/S5-COMBO-POWER-KIT.jpg_6a131a98-4.jpg');">
                        <div class="title"><b>FLOOR ONE</b> S5 <br />Combo Power KIT</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Poussi%C3%A8re-intelligents-collantes/dp/B09PBHYKVM?maas=maas_adg_AD1F63909B63BA5ABFE3856CDC7EAB61_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                            data-product_name="FLOOR ONE S5 Combo Power KIT" data-product_series="FLOOR ONE S5"
                                            data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-floor-one-s5-combo-power-kit-aspirateur-intelligent-sec-et-humide?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="FLOOR ONE S5 Combo Power KIT" data-product_series="FLOOR ONE S5"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/floor-one-s5.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more"  data-button_name="Learn more"
                            data-product_name="FLOOR ONE S5 Combo Power KIT" data-product_series="FLOOR ONE S5"
                            data-product_type="Floor Washer" ga4-event="ga4-learn-more">En savoir plus ></a>
                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/S3.jpg_61b2cd33-4.jpg');">
                        <div class="title"><b>FLOOR ONE</b> S3</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Poussi%C3%A8re-Intelligent-Connection/dp/B08962Q28F?maas=maas_adg_508DECA09B9999ED03E3E115C09FEC18_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-floor-one-s3-nettoyeur-sec-humide-intelligent-des-sols-durs-3-en-1?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/floor-one-s3.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                                data-product_name="FLOOR ONE S3" data-product_series="FLOOR ONE S3"
                                data-product_type="Floor Washer" ga4-event="ga4-learn-more">En savoir plus ></a>
                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/S7-PRO.jpg_f72bc067-6.jpg');">
                        <div class="title"><b>FLOOR ONE</b> S7 Pro</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Intelligent-sans-Fil-Autonomie/dp/B0BDLVC8V1?maas=maas_adg_1A47CB40A809D8B9AFFACE5930F3D327_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-floor-one-s7-pro-aspirateur-et-laveur-sec-et-humide-sans-fil-intelligent?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/floor-one-s7-pro.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                            data-product_type="Floor Washer" ga4-event="ga4-learn-more">En savoir plus ></a>
                    </div>
                </div>

                <div class="prod-list hidden">
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/PURE-ONE-X-PET.jpg_536d2626-2.jpg');">
                        <div class="title"><b>PURE ONE</b> X Pet</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Intelligent-aspirateur-Accessoires/dp/B09SKQZ3MW?maas=maas_adg_8045D962EA68A6E81BA99BDAFDF397FC_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X Pet"
                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                        </div>
                        <a href="/products/pure-one-x.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="PURE ONE X Pet" data-product_series="PURE ONE X Pet"
                            data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>
                        <img src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png" alt=""
                            class="hot-icon">
                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/S15-PET.jpg_f56d4f9b-8.jpg');">
                        <div class="title"><b>PURE ONE</b> S15 Pet</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Aspirateur-Intelligent-Anti-n%C5%93uds-Multi-Surface/dp/B09TT1PSCV?maas=maas_adg_B13ECF7B5B0C60615A2B1934DEC78F6B_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="PURE ONE S15 Pet" data-product_series="PURE ONE S15"
                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-pure-one-s15-pet-aspirateur-balai-sans-fil-intelligent?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="PURE ONE S11" data-product_series="PURE ONE S15"
                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/pure-one-s15.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more"  data-button_name="Learn more"
                            data-product_name="PURE ONE S15 Pet" data-product_series="PURE ONE S15"
                            data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>

                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/pure-one-station.jpg_ee610e64-0.jpg');">
                        <div class="title"><b>PURE ONE</b> Station Pet</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Aspirateur-Station-auto-nettoyage-ZeroTangle-Toilettage/dp/B0C7M8QMJT?maas=maas_adg_33A8ECB9491741FDB61784862F16DCD2_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="PURE ONE Station Pet" data-product_series="PURE ONE Station"
                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-pure-one-station-pet-aspirateur-balai-sans-fil-intelligent?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="PURE ONE Station Pet"
                                        data-product_series="PURE ONE Station" data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/pure-one-station.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="PURE ONE Station Pet" data-product_series="PURE ONE Station"
                            data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>
                    </div>

                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/AIR-PET.jpg_0ee2034f-e.jpg');">
                        <div class="title"><b>PURE ONE</b> AIR Pet</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Air-Pet-Domestiques-Multi-Cyclone-Ultra-Silencieux/dp/B0BFZJGW9P?maas=maas_adg_4FDDA2CEF3BA3798B3785E9236DF1723_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="PURE ONE AIR Pet"
                                        data-product_series="PURE ONE AIR Pet" data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                        </div>
                        <a href="https://www.amazon.fr/Air-Pet-Domestiques-Multi-Cyclone-Ultra-Silencieux/dp/B0BFZJGW9P?maas=maas_adg_4FDDA2CEF3BA3798B3785E9236DF1723_afap_abs&ref_=aa_maas&tag=maas" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="PURE ONE AIR Pet" data-product_series="PURE ONE AIR Pet"
                            data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>
                    </div>
                </div>

                <div class="prod-list hidden">
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/carpet-one.jpg_1fa8c74c-c.jpg');">
                        <div class="title"><b>CARPET ONE</b></div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Carpet-One-dAmeublement-%C3%A9lectrique/dp/B09NM23W8W?maas=maas_adg_BB28628E57A1670D746B4D674DDE1F87_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                        data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://fr-store.tineco.com/products/tineco-carpet-one-nettoyeur-de-tapis-intelligent?utm_source=official_site&utm_medium=product&utm_campaign=bf2023"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Tineco Store"
                                        data-product_name="CARPET ONE"
                                        data-product_series="CARPET ONE" data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Tineco</div>
                            </div>
                        </div>
                        <a href="/products/carpet-one-series.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                            data-product_type="Carpet Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>
                        <img src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png" alt=""
                            class="hot-icon">
                    </div>
                    <div class="prod-item"
                        style="background-image: url('https://static-ussite.tineco.com/carpet-one-spot-essentials.jpg_8753f734-0.jpg');">
                        <div class="title"><b>CARPET ONE</b> Spot Essentials</div>
                        <div class="buy-at">Acheter à</div>
                        <div class="btn-content">
                            <div class="buy-item">
                                <div class="icon-item">
                                    <a href="https://www.amazon.fr/Tineco-Spot-Essentials-dameublement-Fonctionnement/dp/B0B6BQKPDQ?maas=maas_adg_79B1D008D25C7626D511A6EB79057A14_afap_abs&ref_=aa_maas&tag=maas"
                                        target="_blank" rel="noopener noreferrer" data-button_name="Amazon"
                                        data-product_name="CARPET ONE Spot Essentials"
                                        data-product_series="CARPET ONE" data-product_type="Vacuum Cleaner"
                                        ga4-event="ga4-shopping-portal">
                                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                                            alt="" class="icon" />
                                    </a>
                                </div>
                                <div class="buy-tips">Amazon</div>
                            </div>
                        </div>
                        <a href="/products/carpet-one-spot.html" target="_blank"
                            rel="noopener noreferrer" class="learn-more" data-button_name="Learn more"
                            data-product_name="CARPET ONE Spot Essentials" data-product_series="CARPET ONE"
                            data-product_type="Carpet Cleaner" ga4-event="ga4-learn-more">En savoir plus ></a>
                        <img src="https://static-ussite.tineco.com/HOT-%20icon.png_7b66774b-1.png" alt=""
                            class="hot-icon">
                    </div>
                </div>
            </div>

            <div class="where-to-buy-wrapper">
                <div class="text">Où acheter</div>
                <div class="btn-content ml-084">
                    <a href="https://www.amazon.fr/stores/page/25BF31C4-B3CD-48E4-B033-DB9AC942F1CF?maas=maas_adg_344B834F976C70B8C257469287AC60BE_afap_abs&ref_=aa_maas&tag=maas"
                        target="_blank" rel="noopener noreferrer" class="btn mr-02" data-button_name=">Where to Buy >Amazon" ga4-event="ga4-where-to-buy">
                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png"
                            alt="" class="icon">
                    </a>
                    <a href="https://fr-store.tineco.com/?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023"
                        target="_blank" rel="noopener noreferrer" class="btn" data-button_name=">Where to Buy >Tineco Store" ga4-event="ga4-where-to-buy">
                        <img src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png"
                            alt="" class="icon">
                    </a>
                </div>
            </div>
        </div>
        <!-- 产品分类 end -->

        <div class="live-wrapper">
            <video src="https://static-ussite.tineco.com/pc.mp4_4e6d5b87-b.mp4" autoplay loop muted class="bg"></video>
            <div class="content">
                <div class="title">Tineco aide plus de <span>12,000,000*</span> familles dans le monde à</div>
                <div class="sub-title">Live Easy. Enjoy Life.</div>
                <div class="text">Tineco présente sa technologie innovante et intelligente pour<br /> rendre les
                    appareils électroménagers plus intelligents et plus <br />faciles à utiliser, et se concentre sur
                    l'humain et les choses que<br /> nous aimons.</div>
                <div class="video-content">
                    <a data-target="#videoModal" data-title="Profitez de nos offres BLACK FRIDAY maintenant"
                        data-toggle="modal" data-video="https://www.youtube.com/embed/qALDtYQ7Uu0" href="#videoModal">
                        <div class="video-btn" ga4-event="ga4-click-video">Regardez la vidéo</div>
                    </a>
                </div>
                <div class="tips">*Les données proviennent de ressources internes et sont fournies à titre indicatif
                    uniquement.</div>
            </div>
        </div>
        <div id="videoModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modal-title" class="modal-title"></h5>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body  p-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe allowfullscreen class="embed-responsive-item"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // banner轮播
            let bannerSwiper = new Swiper('#bannerSwiper', {
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
                speed: 700,
                allowTouchMove: true,
                centeredSlides: true,
                loop: true,
                pagination: {
                    el: '#swiper-pagination-banner',
                    type: "custom",
                    clickable: true,
                    renderCustom: function (className, current, total) {
                        var ui = "";
                        for (var i = 1; i <= total; i++) {
                            var sclass = "swiper-pagination-bullet";
                            if (i == current) {
                                sclass += " swiper-pagination-bullet-active";
                            }
                            ui +=
                                "<div class='" + sclass + "'><div class='sprogress'></div></div>"
                        }
                        return ui;
                    }
                }
            });

            // 产品切换
            $('.guidance-item').click(function () {
                let activeIndex = $(this).index()
                let guidanceTitle = $(this).children('.text').html()
                $('.product-content .sub-title').html(guidanceTitle)
                $('.product-content .prod-list').addClass('hidden')
                $('.product-content .prod-list').eq(activeIndex).removeClass('hidden')
            })

            // 视频
            $("#videoModal").on("show.bs.modal", function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let url = button.data("video"); // Extract url from data-video attribute
                let title = button.data("title");

                $("#modal-title").html(title);
                $(this).find("iframe").attr({
                    src: url,
                    allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                });
            });
        </script>
    </div>

    <script src="./js/fr-black5-index.js"></script>
</body>

</html>