<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Title</title>
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <link href="../../assets/css/base-h5.css" rel="stylesheet">
    <link href="./css/us-black5-h5.css" rel="stylesheet">

</head>

<body>
                <div class="us-black5-h5" id="event-container">
                    <div class="banner-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box" data-banner_name="Black Friday" data-position="1" ga4-event="ga4-top-banner">
                                    <img alt="" src="https://static-ussite.tineco.com/f7e04bf3-d48f-40b7-8aa0-4c32e0aad7dc.jpg">
                                    <div class="content">
                                        <div class="title">Grab <span> BLACK FRIDAY &nbsp;</span> Deals Now</div>
                                        <div class="off-title">
                                            Up to <span>35%</span> off
                                        </div>
                                        <div class="text">
                                            Trust the Brand Loved by 12 Million* Homes worldwide
                                        </div>
                                        <div class="btn-content">
                                            <a class="btn-link"
                                                href="https://www.amazon.com/stores/page/D2EE68C0-D121-4050-98F4-640626078A50?maas=maas_adg_2BFB195FA989838A4EFA4298453D6429_afap_abs&ref_=aa_maas&tag=maas">
                                                <img alt=""
                                                    src="https://static-ussite.tineco.com/9d83437f-abdf-4c0f-add6-b749f89d0508.png">
                                            </a>
                                            <a class="btn-link mar-l-1"
                                                href="https://store.tineco.com/collections/secret-deals?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                                                <img alt=""
                                                    src="https://static-ussite.tineco.com/7403a878-7e79-40cb-b05e-3e29afd27e3a.png">
                                            </a>
                                        </div>
                                        <div class="tips">-Data from Tineco's official net sales records (Jan. 2020 - Oct. 2023).
                                            Tineco
                                            has final interpretation rights.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-banner_name="UGC" data-position="2" ga4-event="ga4-top-banner">
                                <a class="box"
                                    href="https://store.tineco.com/pages/tineco-rewards?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                                    <img alt="" src="https://static-ussite.tineco.com/b6d1695e-542d-41aa-bbdf-cd15b734922d.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(function () {
                            const bannerSwiper = new Swiper('.banner-wrapper', {
                                loop: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                }
                            })
                        })
                    </script>
                    <div class="media-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">As Featured In</div>
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-1"
                                    src="https://static-ussite.tineco.com/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png_53b9bd1a-b.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-2"
                                    src="https://static-ussite.tineco.com/75a6899e-d520-44ab-b3aa-56626974f1c9.png_b7347dfe-8.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-3"
                                    src="https://static-ussite.tineco.com/bcd58d6d-7904-4574-bdb2-0d2a79bb27b7.png_a235d366-a.png">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" class="img-4"
                                    src="https://static-ussite.tineco.com/756696b7-48c9-4098-ad22-c9dfd32ebdc5.png_3a6f2cd8-7.png">
                            </div>
                        </div>
                        <div class="arrow left"></div>
                        <div class="arrow right"></div>
                    </div>
                    <script>
                        $(function () {
                            //一屏幕3个 左右引导箭头
                            const mediaSwiper = new Swiper('.media-wrapper', {
                                slidesPerView: 3,
                                navigation: {
                                    nextEl: '.left',
                                    prevEl: '.right',
                                },
                            })
                        })
                    </script>
                    <div class="limit-wrapper">
                        <div class="limit-title">
                            <div class="text">
                                Tineco Limited-Time Offers
                                for Black Friday
                            </div>
                        </div>
                        <div class="product-list active">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/f1290e22-ddf3-40a7-a0e2-f98f4dc1483a.png">
                                <div class="title hover">Floor Washer</div>
                            </div>
                            <div class="floor-wash-wrapper pad-b-50" id="floor-wash-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S5.jpg_212d6f4f-b.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title">FLOOR ONE S5</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-ONE-S5-Lightweight-Multi-Surface/dp/B09P2RKRWX?maas=maas_adg_F8DB284BD97AB9927E154157DD97B071_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                        data-product_name="FLOOR ONE S5" data-product_series="FLOOR ONE S5"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://store.tineco.com/products/tineco-floor-one-s5-cordless-lightweight-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more" data-product_name="FLOOR ONE S5"
                                                    data-product_series="FLOOR ONE S5" data-product_type="Floor Washer"
                                                    ga4-event="ga4-learn-more" href="/products/floor-one-s5.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S7-PRO.jpg_f72bc067-6.jpg">
                                            <div class="content">
                                                <div class="title">FLOOR ONE S7 PRO</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-Floor-ONE-S7-Centrifugal/dp/B0BLGR4ZL7?maas=maas_adg_7629F6D0FE3CB21745A037B2EAAA0C7E_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                        data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://store.tineco.com/products/tineco-floor-one-s7-pro-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                    data-product_name="FLOOR ONE S7 PRO" data-product_series="FLOOR ONE S7"
                                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                    href="/products/floor-one-s7-pro.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S5-PRO-2.jpg_2ecc2010-8.jpg">
                                            <div class="content">
                                                <div class="title">FLOOR ONE S5 PRO 2</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-Cordless-Hardwood-One-Step-Cleaning/dp/B09QFWWN3V?maas=maas_adg_C5C8FAD2C459079FEFFF5202F9DECD08_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                        data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://store.tineco.com/products/tineco-floor-one-s5-pro-2-smart-wet-dry-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                    data-product_name="FLOOR ONE S5 PRO 2" data-product_series="FLOOR ONE S5"
                                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                    href="/products/floor-one-s5-pro.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S5-COMBO.jpg_1dc8d84b-3.jpg">
                                            <div class="content">
                                                <div class="title">FLOOR ONE S5 COMBO</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="FLOOR ONE S5 COMBO" data-product_series="FLOOR ONE S5"
                                                        data-product_type="Floor Washer" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-Multi-Surface-Lightweight-ONE-Combo/dp/B092CSJP6R?maas=maas_adg_F66FA84D7EC3332B16DD4B5AEBCE89B3_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                    data-product_name="FLOOR ONE S5 COMBO" data-product_series="FLOOR ONE S5"
                                                    data-product_type="Floor Washer" ga4-event="ga4-learn-more"
                                                    href="/all-floor-washers/floor-one-s5-combo/">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination1"></div>
                                <script>
                                    $(function () {
                                        const floorSwiper = new Swiper('#floor-wash-wrapper', {
                                            loop: true,
                                            slidesPerView: 1.2,
                                            centeredSlides: true,
                                            pagination: {
                                                el: '.swiper-pagination',
                                            },
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                        <div class="product-list">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/04792421-f52e-43ec-83a0-9ecc3ce82394.png">
                                <div class="title hover">Vacuum Cleaner</div>
                            </div>
                            <div class="floor-wash-wrapper pad-b-50" id="vacuum-cleaner-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/PURE-ONE-S11.jpg_7d69ceca-f.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title">PURE ONE S11</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="PURE ONE S11" data-product_series="PURE ONE S11"
                                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-Cordless-Handheld-Multi-Surface-Cleaning/dp/B08CDQ52TB?maas=maas_adg_6397DDF338C9BA6763062EBB862431CC_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                        data-product_name="PURE ONE S11" data-product_series="PURE ONE S11"
                                                        data-product_type="Vacuum Cleaner" ga4-event="ga4-shopping-portal"
                                                        href="https://store.tineco.com/products/tineco-pure-one-s11-smart-cordless-stick-vacuum-cleaner-strong-suction-long-runtime-lightweight-handheld?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more" data-product_name="PURE ONE S11"
                                                    data-product_series="PURE ONE S11" data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-learn-more" href="/products/pure-one-s11.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/pure-one-station.jpg_ee610e64-0.jpg">

                                            <div class="content">
                                                <div class="title">PURE ONE Station FurFree</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="PURE ONE Station FurFree"
                                                        data-product_series="PURE ONE Station" data-product_type="Vacuum Cleaner"
                                                        ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-ONE-Station-Lightweight-ZeroTangleTM/dp/B0C58K254K?maas=maas_adg_C48EBA70B0544C67A52957A18352C6BE_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                    <a class="store-btn buy-btn mar-l-26" data-button_name="Tineco Store"
                                                        data-product_name="PURE ONE Station FurFree"
                                                        data-product_series="PURE ONE Station" data-product_type="Vacuum Cleaner"
                                                        ga4-event="ga4-shopping-portal"
                                                        href="https://store.tineco.com/products/tineco-pure-one-station-smart-cordless-stick-vacuum-cleaner?utm_source=official_site&utm_medium=product&utm_campaign=bf2023">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-8.png_cb3ca90c-1.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                    data-product_name="PURE ONE Station FurFree"
                                                    data-product_series="PURE ONE Station" data-product_type="Vacuum Cleaner"
                                                    ga4-event="ga4-learn-more" href="/products/pure-one-station.html">Learn more
                                                    ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/S15-ESSENTIALS.jpg_a0667cb0-1.jpg">
                                            <div class="content">
                                                <div class="title">PURE ONE S15 Essentials</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="PURE ONE S15 Essentials"
                                                        data-product_series="PURE ONE S15" data-product_type="Vacuum Cleaner"
                                                        ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-Essentials-Anti-Tangle-Fade-Free-Headlights/dp/B09X2WH7XM?maas=maas_adg_F1972A3539BF8CC292734122E201FB3B_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more"
                                                    data-product_name="PURE ONE S15 Essentials" data-product_series="PURE ONE S15"
                                                    data-product_type="Vacuum Cleaner" ga4-event="ga4-learn-more"
                                                    href="/products/pure-one-s15-essentials.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination2"></div>
                                <script>
                                    $(function () {
                                        const vacuumSwiper = new Swiper('#vacuum-cleaner-wrapper', {
                                            loop: true,
                                            slidesPerView: 1.2,
                                            centeredSlides: true,
                                            pagination: {
                                                el: '.swiper-pagination',
                                            },
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                        <div class="product-list">
                            <div class="floor-wash">
                                <img alt="" src="https://static-ussite.tineco.com/adae81fb-9562-4205-bd4a-3eeb1c04a1c0.png">
                                <div class="title hover">Carpet Cleaner</div>
                            </div>
                            <div class="floor-wash-wrapper" id="carpet-cleaner-wrapper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-wrapper">
                                            <img alt="" src="https://static-ussite.tineco.com/carpet-one.jpg_1fa8c74c-c.jpg">
                                            <div class="hot-icon"></div>
                                            <div class="content">
                                                <div class="title">CARPET ONE</div>
                                                <div class="buy-at">
                                                    Buy at
                                                </div>
                                                <div class="btn-link">
                                                    <a class="amazon-btn buy-btn" data-button_name="Amazon"
                                                        data-product_name="CARPET ONE" data-product_series="CARPET ONE"
                                                        data-product_type="Carpet Cleaner" ga4-event="ga4-shopping-portal"
                                                        href="https://www.amazon.com/Tineco-CARPET-ONE-Lightweight-Upholstery/dp/B09NMZ7GX3?maas=maas_adg_3D1F822EFDDC3C34A29005FA1EAD6A10_afap_abs&ref_=aa_maas&tag=maas">
                                                        <img alt=""
                                                            src="https://static-ussite.tineco.com/%E8%B4%AD%E4%B9%B0%E6%B8%A0%E9%81%93logo-9.png_617f808c-7.png">
                                                    </a>
                                                </div>
                                                <a class="learn-more" data-button_name="Learn more" data-product_name="CARPET ONE"
                                                    data-product_series="CARPET ONE" data-product_type="Carpet Cleaner"
                                                    ga4-event="ga4-learn-more" href="/products/carpet-one.html">Learn more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        const vacuumSwiper = new Swiper('#carpet-cleaner-wrapper', {
                                            centeredSlides: true,
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $(".product-list").on("click", function () {
                                    $(this).addClass("active").siblings().removeClass("active")
                                })
                            })
                        </script>
                    </div>
                    <div class="w-top-wrapper">
                        <div class="where-to-buy-wrapper">
                            <div class="where-to-buy-wrapper-text">Where to Buy</div>
                            <div class="btn-content">
                                <a class="btn-link" data-button_name=">Where to Buy >Amazon" ga4-event="ga4-where-to-buy"
                                    href="https://www.amazon.com/stores/page/D2EE68C0-D121-4050-98F4-640626078A50?maas=maas_adg_2BFB195FA989838A4EFA4298453D6429_afap_abs&ref_=aa_maas&tag=maas">
                                    <img alt="" src="https://static-ussite.tineco.com/9d83437f-abdf-4c0f-add6-b749f89d0508.png">
                                </a>
                                <a class="btn-link mar-l-1" data-button_name=">Where to Buy >Tineco Store"
                                    ga4-event="ga4-where-to-buy"
                                    href="https://store.tineco.com/collections/secret-deals?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                                    <img alt="" src="https://static-ussite.tineco.com/7403a878-7e79-40cb-b05e-3e29afd27e3a.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us-wrapper">
                        <video autoplay loop muted src="https://static-ussite.tineco.com/app.mp4_1fe80553-6.mp4"></video>
                        <div class="content">
                            <div class="title">
                                Tineco helps over <span>12,000,000*</span> families worldwide to
                            </div>
                            <div class="enj-text">
                                Live Easy, Enjoy Life.
                            </div>
                            <a data-target="#videoModal" data-title="Grab BLACK FRIDAY Deals Now" data-toggle="modal"
                                data-video="https://www.youtube.com/embed/hBxrNywh38U" href="#videoModal">
                                <div class="learn-more-btn" ga4-event="ga4-click-video">Watch the Video
                                </div>
                            </a>
                            <div class="bottom-content">
                                <div class="bottom-content-text">
                                    Tineco showcases its innovative and intelligent technology to make the home appliances smarter
                                    and
                                    easier to use, and focuses on human and things we love.
                                    <div class="tips">
                                        -Data from Tineco's official net sales records (Jan. 2020 - Oct. 2023).
                                        Tineco has final interpretation rights.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title"></h5>
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                </div>
                                <div class="modal-body  p-0">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe allowfullscreen class="embed-responsive-item"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(function () {
                            $("#videoModal").on("show.bs.modal", function (event) {
                                let button = $(event.relatedTarget); // Button that triggered the modal
                                let url = button.data("video"); // Extract url from data-video attribute
                                var title = button.data("title");

                                $("#modal-title").html(title);
                                $(this).find("iframe").attr({
                                    src: url,
                                    allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                });
                            });
                        })
                    </script>
                    <div class="ugc-wrapper">
                        <div class="ugc-wrapper-title">
                            More Benefits<br>
                            from Tineco Rewards
                        </div>
                        <div class="ugc-wrapper-text">
                            Post and start earning free products, <br>coupons and other cool stuff!
                        </div>
                        <a class="learn-more" data-button_name="UGC Learn More" data-page_category="UGC" ga4-event="ga4-rewards"
                            href="https://store.tineco.com/pages/tineco-rewards?utm_source=official_site&utm_medium=banner&utm_campaign=bf2023">
                            Learn More
                        </a>
                    </div>
                </div>
    <script src="./js/us-black5-index.js"></script>
    <script src="https://static-ussite.tineco.com/ga4.iife.js_355f75c9-6.js"></script>
</body>

</html>

