<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Tineco FLOOR ONE S7 Combo Smart Floor Washer: Vacuum is Not Enough | Tineco US</title>
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/base.css" rel="stylesheet">
    <link href="./css/us-s7-combo-index.css" rel="stylesheet">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
</head>
<body>
<div class="us-s7-combo-h5">
    <div class="banner-wrapper">
        <div class="content">
            <div class="title"><span>FLOOR ONE</span> S7 Combo</div>
            <div class="sub-title">Vacuum is Not Enough</div>
            <div class="watch-video-wrapper">
                <!--                <div class="watch-video">Watch The Video</div>-->
                <!--                <a href="#videoModal" data-toggle="modal" data-target="#videoModal"-->
                <!--                   data-title="FLOOR ONE S7 Combo"-->
                <!--                   data-videofly="https://www.youtube.com/embed/7C7XjefAfdI" class="about-us-info-video">-->
                <!--                    <div class="play-btn"></div>-->
                <!--                </a>-->
                <div class="buy-btn" onclick="handleScrollTo('.product-wrapper')">Buy</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="modal-title"></div>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body  p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe allowfullscreen class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      function handleScrollTo(targetEl) {
        let targetOffset = $(targetEl).offset().top;
        let scrollTo = targetOffset;
        $("html, body").animate({
          scrollTop: scrollTo
        }, 1000)
      }

      $(function () {
        $("#videoModal").on("show.bs.modal", function (event) {
          let button = $(event.relatedTarget); // Button that triggered the modal
          let url = button.data("videofly"); // Extract url from data-video attribute
          var title = button.data("title");

          $("#modal-title").html(title);
          $(this).find("iframe").attr({
            src: url,
            allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          });
        });

      })
    </script>
    <div class="video-wrapper">
        <div class="video">
            <video autoplay loop muted
                   src="https://static-ussite.tineco.com/c2b1eae8-a2d6-44a7-bf7f-f7839228b087.mp4"></video>
        </div>
        <div class="title">
            <div>Completely Hands-Free</div>
            <div>Self-Cleaning System</div>
        </div>
        <div class="text">
            A revolutionary solution that combines a brush panel that lowers to fit against the brush roller for a deep,
            thorough clean, along with a bi-directional rotated brush roller that ensures a drier and fluffier result.
        </div>
    </div>
    <div class="video-wrapper">
        <div class="video">
            <video autoplay loop muted
                   src="https://static-ussite.tineco.com/ece82b6e-c3e0-4b93-8e8c-838136bec195.mp4"></video>
        </div>
        <div class="title">
            <div>Tineco Innovative</div>
            <div>MHCBS™Technology</div>
        </div>
        <div class="text">
            Continual cleaning with fresh water, since only clean brushes make clean floors.
        </div>
    </div>
    <div class="video-wrapper">
        <div class="video">
            <video autoplay loop muted
                   src="https://static-ussite.tineco.com/ef326eae-3ba9-45c1-a0b7-ab0cb0e52c34.mp4"></video>
        </div>
        <div class="title">
            <div>Effective Cleaning for</div>
            <div>Streak-free Floors</div>
        </div>
        <div class="text">
            Tineco's floating flat scraper effectively removes dirt, leaving floors streak- and residue-free. Without
            it, dirty water can easily escape through cracks and leave
            unsightly stains behind.
        </div>
    </div>
    <div class="product-sale-wrapper">
        <div class="img"></div>
        <div class="text-content">
            <div class="text">
                <div> Clean Every Mess,</div>
                Everywhere You Find One
            </div>
            <div class="content">
                <div>From kitchen grease to bathroom water stains,</div>
                FLOOR ONE S7 Combo tackles every mess, every scene, every time.
            </div>
        </div>
    </div>
    <div class="product-sale-wrapper-1">
        <div class="img"></div>
        <div class="title">One Switch, Endless Possibilities</div>
        <div class="text">
            <div>Switch it up! Seamlessly switch out attachments for more efficient and</div>
            hassle-free cleaning, tackling every mess in your home with ease.
        </div>
    </div>
    <div class="product-sale-wrapper-2">
        <div class="img img1"></div>
        <div class="title">
            Tineco Innovative MHCBS™ Technology
        </div>
        <div class="text">
            <div>Continual cleaning with fresh water, since only clean brushes</div>
            make clean floors.
        </div>
    </div>
    <div class="product-sale-wrapper-2">
        <div class="img img2"></div>
        <div class="title">
            <div>Maximize Cleaning Efficiency with</div>
            Upgraded Floating Scraper
        </div>
        <div class="text">
            Newly-added floating scraper adheres seamlessly and consistently to the brush roller, ensuring optimal
            cleaning performance even as the brush naturally wears.
        </div>
    </div>
    <div class="product-sale-wrapper-2">
        <div class="img img3"></div>
        <div class="title">
            <div>
                Advanced Antibacterial Technology
            </div>
            – 2x Faster
        </div>
        <div class="text">
            Tineco’s antibacterial technology takes cleaning to the next level with electrolyzed water at double the
            speed to eliminates 99.99% of harmful bacteria.
        </div>
    </div>
    <div class="product-sale-wrapper-2">
        <div class="img img4"></div>
    </div>
    <div class="swiper-container-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title">
                    <div>Advanced Cleaning Performance</div>
                    for All Cleaning Needs
                </div>
                <div class="text">
                    <div>Only vacuum cleaners equipped with Tineco PureCyclone and</div>
                    ZeroTangleTM brush deliver unparalleled cleaning power.
                </div>
                <div class="img img1"></div>
            </div>
            <div class="swiper-slide">
                <div class="title">
                    <div>Knot-Free Hair Removal with</div>
                    ZeroTangle™ Brush
                </div>
                <div class="text">
                    <div>Hair will be easily lifted and vacuumed, leaving no tangles</div>
                    on the brush roller.
                </div>
                <div class="img img2"></div>
            </div>
            <div class="swiper-slide">
                <div class="title">
                    <div>Tineco PureCyclone Tech for Strong,</div>
                    Long-Lasting Suction
                </div>
                <div class="text">
                    <div>Effectively separates air and dust to keep the filter cleaner longer,
                    </div>
                    maintaining lasting suction.
                </div>
                <div class="img img3"></div>
            </div>
        </div>
        <div class="swiper-pagination-1"></div>
    </div>
    <script>
      $(function () {
        let swiperContainer1 = new Swiper('.swiper-container-1', {
          loop: true,
          //指示器
          pagination: {
            el: '.swiper-pagination-1',
          }
        })
      })
    
    </script>
    <div class="triple-wrapper">
        <div class="title">
            <div> Triple the Battery Lifespan,</div>
            Unlock Consistent Power
        </div>
        <div class="img"></div>
    </div>
    <div class="house-clean-wrapper">
        <div class="title">
            <div>Uninterrupted,</div>
            <div>whole-house cleaning</div>
        </div>
        <div class="text">
            No battery replacement needed
        </div>
    </div>
    <div class="compare-wrapper">
        <div class="title">
            <div>High Cleaning Efficiency and</div>
            Longer Runtime with Tineco iLoop™
        </div>
        <div class="text">
            Tineco iLoop™ Smart Sensor detects dirt in real time,
            <div>
                optimizing suction power and water flow for thorough
                cleaning and
            </div>
            extended runtime.
        </div>
    </div>
    <div class="swiper-container-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title">
                    <div>Cleaning is a breeze</div>
                    with SmoothPower system
                </div>
                <div class="text">
                    <div>Pushing forward or pulling back, the FLOOR ONE S7 Combo
                    </div>
                    always assists movement and makes
                    cleaning easier than ever.
                </div>
                <div class="img img1"></div>
            </div>
            <div class="swiper-slide">
                <div class="title">
                    <div>Lightweight design</div>
                    for cleaning anywhere
                </div>
                <div class="text">
                    <div>Hair will be easily lifted and vacuumed, leaving no tangles on</div>
                    the brush roller.
                </div>
                <div class="img img2"></div>
            </div>
            <div class="swiper-slide">
                <div class="title">
                    <div>
                        Dual-side enhanced edge cleaning
                    </div>
                </div>
                <div class="text">
                    <div>Eliminate any overlooked spots and ensure</div>
                    <div>comprehensive cleaning for your entire home,</div>
                    <div>leaving no gaps or corners uncleaned.</div>
                </div>
                <div class="img img3"></div>
            </div>
            <div class="swiper-slide">
                <div class="title">
                    <div>Lights the way into every nook</div>
                </div>
                <div class="text">
                    <div>Equipped with an LED headlight, the brush head</div>
                    <div> illuminates your cleaning path as you easily clean</div>
                    <div> under furniture and in tight spaces.</div>
                </div>
                <div class="img img4"></div>
            </div>
        </div>
        <div class="cursor prev"></div>
        <div class="cursor next"></div>
    </div>
    <script>
      $(function () {
        var swiperContainer2 = new Swiper('.swiper-container-2', {
          loop: true,
          //前后指示器
          navigation: {
            nextEl: '.next',
            prevEl: '.prev',
          }
        })
      })
    
    </script>
    <div class="product-wrapper" id="product-wrapper">
        <div class="title">FLOOR ONE S7 Combo</div>
        <div class="swiper product-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content">
                        <img alt="" class="product-img"
                             src="https://static-ussite.tineco.com/7fa500ef-691d-4e22-9e12-9ea99ea8c40a.png">
                        <div class="name">FLOOR ONE S7 Combo</div>
                        <div class="buyat">Buy at</div>
                        <div class="icon-list">
                            <div class="buy-item">
                                <div class="icon-item" id="s7pro">
                                    <a href="https://store.tineco.com/products/tineco-floor-one-s7-combo-smart-wet-dry-vacuum-cleaner"
                                       target="_blank">
                                        <img alt=""
                                             src="https://static-ussite.tineco.com/tineccstore-icon.svg_2f873c2e-d.svg"/>
                                    </a>
                                </div>
                                <div class="tineco-buy-tips">Tineco Store</div>
                            </div>
                            <div class="buy-item">
                                <div class="icon-item" id="s7pro">
                                    <a href="https://www.amazon.com/Tineco-Floor-Cordless-Vacuum-Cleaner/dp/B0CF94DBRS?maas=maas_adg_412B2830EE51592E653D98230AB17E30_afap_abs&ref_=aa_maas&tag=maas"
                                       target="_blank">
                                        <img alt=""
                                             src="https://static-ussite.tineco.com/80cf9152-7213-4473-9177-04c5f9dc9762.svg"/>
                                    </a>
                                </div>
                                <div class="tineco-buy-tips">Amazon</div>
                            </div>
                        </div>
                        <div class="whatsinclude">
                            <a aria-controls="whatIncludeCollapse1" aria-expanded="false" class="collapsed" data-toggle="collapse"
                               href="#whatIncludeCollapse1" role="btn">
                                What's Included
                                <span class="iconfont" id="xiangxiazhankai"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-button-prev1"></div>
            <div class="swiper-button-next1"></div> -->
        </div>
        <div class="commoditys-content-box">
            <div class="collapse" id="whatIncludeCollapse1">
                <div class="commoditys-content">
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/1db2e033-1127-442d-b5e9-58c31cf0c9a0.jpg"/>
                        <div class="msg">2-in-1 crevice dusting brush</div>
                    </div>
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/d1c49548-26ec-4e9b-b06f-388abdb80fde.jpg"/>
                        <div class="msg">Cleaning tool</div>
                    </div>
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/3a7b7e5c-bc5b-47d4-94bf-1d601b8716fe.jpg"/>
                        <div class="msg">Mini power brush</div>
                    </div>
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/89da0922-64fe-48e1-b129-1bdd3e57bd41.jpg"/>
                        <div class="msg">Power source</div>
                    </div>
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/14a8b9bf-a4d7-42c2-a2bc-deeb8cd1042a.jpg"/>
                        <div class="msg">Replacement brush roller</div>
                    </div>
                    <div class="commoditys-item">
                        <img alt=""
                             src="https://static-ussite.tineco.com/0211a0bc-019d-48af-b4ac-a3de9c6c095b.jpg"/>
                        <div class="msg">ZeroTangle™ brush</div>
                    </div>
                
                </div>
            </div>
        </div>
        <script>
          $(function () {
            var productSwiper = new Swiper(".product-swiper", {
              loop: true,
            })
          })
        </script>
    </div>
    
    <div class="support-wrapper" id="support-wrapper">
        <div class="title">Support</div>
        <div class="support-list">
            <a class="item" href="support/troubleshooting/">
                <img alt="" class="img"
                     src="https://static-ussite.tineco.com/cab4e3af-b37f-4488-83d1-dcc6d73815cf.png"/>
                <div class="text">Troubleshooting</div>
            </a>
            <a class="item" href="support/faqs/">
                <img alt="" class="img"
                     src="https://static-ussite.tineco.com/78fd7424-de95-41d5-a4f5-0ec2f3b68ff9.png"/>
                <div class="text">FAQs</div>
            </a>
            <a class="item" href="support/product-care/">
                <img alt="" class="img"
                     src="https://static-ussite.tineco.com/b57ffab4-129a-479d-80b4-9dcb798aeef1.png"/>
                <div class="text">Product Care</div>
            </a>
            <a class="item" href="support/instruction-manual/">
                <img alt="" class="img"
                     src="https://static-ussite.tineco.com/03a4e3fb-c16e-4483-9d17-4fee94ff30dd.png"/>
                <div class="text">Instruction Manuals</div>
            </a>
        </div>
    </div>
</div>

<script src="./js/us-s7-combo-index.js"></script>
</body>
</html>
