<div class="fly-collapsefooter-pc accordion" id="collapsefooter">
    <div class="item">
        <div aria-controls="collapse1" aria-expanded="true" class="head" data-target="#collapse1" data-toggle="collapse"
             id="heading1">
            <div class="title">[i18]tradeup.footer.heading1[/i18]</div>
            <div class="icon active">+</div>
        </div>
        
        <div aria-labelledby="heading1" class="content collapse show" id="collapse1">
            <div class="text">[i18]tradeup.footer.collapse1[/i18]</div>
        </div>
    </div>
    
    <div class="item">
        <div aria-controls="collapse2" aria-expanded="true" class="head" data-target="#collapse2" data-toggle="collapse"
             id="heading2">
            <div class="title">[i18]tradeup.footer.heading2[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading2" class="content collapse" id="collapse2">
            <div class="text">[i18]tradeup.footer.collapse2[/i18]</div>
            <div class="buy-list">
                <div class="buy-item">
                    <a class="store"
                       href="https://www.amazon.com/Tineco-ONE-Station-Lightweight-ZeroTangleTM/dp/B0C58K254K?maas=maas_adg_07E326BDDD26CC2E6AAAA5B5AAB03DEC_afap_abs&ref_=aa_maas&tag=maas"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="btn-icon"
                             src="https://static-ussite.tineco.com/c456f107-34bd-4af7-99f7-f3a6ab3ee899.svg"/>
                    </a>
                    <a href="https://www.amazon.com/Tineco-ONE-Station-Lightweight-ZeroTangleTM/dp/B0C58K254K?maas=maas_adg_07E326BDDD26CC2E6AAAA5B5AAB03DEC_afap_abs&ref_=aa_maas&tag=maas"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="https://static-ussite.tineco.com/c745081f-3c8e-4866-a876-fa2de1caef86.jpg"/>
                    </a>
                    <a href="https://www.amazon.de/Tineco-Pure-Station-Selbstreinigung-Stabstaubsauger/dp/B0C7M8QMJT?maas=maas_adg_FCF33F3E38814C035DD4A30B05851800_afap_abs&ref_=aa_maas&tag=maas"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="	https://static-ussite.tineco.com/b489963d-7a8c-4c8d-a709-11d9b600602d.jpg"/>
                    </a>
                    <a href="https://www.amazon.fr/Aspirateur-Station-auto-nettoyage-ZeroTangle-Toilettage/dp/B0C7M8QMJT?maas=maas_adg_00A12493CBB83EBA0B7AC9C6EF1530A7_afap_abs&ref_=aa_maas&tag=maas"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="https://static-ussite.tineco.com/13a0d533-5a9e-4403-aa84-23b9017bb5e6.jpg"/>
                    </a>
                </div>
                <div class="buy-item">
                    <a class="store"
                       href="https://store.tineco.com/products/tineco-pure-one-station-smart-cordless-stick-vacuum-cleaner?utm_source=website&utm_campaign=TradeUp"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="btn-icon"
                             src="https://static-ussite.tineco.com/e91591a9-05c4-4481-aecc-8689d0221c16.svg"/>
                    </a>
                    <a href="https://store.tineco.com/products/tineco-pure-one-station-smart-cordless-stick-vacuum-cleaner?utm_source=website&utm_campaign=TradeUp"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="https://static-ussite.tineco.com/c745081f-3c8e-4866-a876-fa2de1caef86.jpg"/>
                    </a>
                    <a href="https://fr-store.tineco.com/products/tineco-pure-one-station-pet-aspirateur-balai-sans-fil-intelligent?utm_source=website&utm_campaign=TradeUp"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="	https://static-ussite.tineco.com/b489963d-7a8c-4c8d-a709-11d9b600602d.jpg"/>
                    </a>
                    <a href="https://de-store.tineco.com/collections/alle-produkte/products/tineco-pure-one-station-pet-federleichter-akku-staubsauger-fur-schnelle-reinigung?utm_source=website&utm_campaign=TradeUp"
                       rel="noopener noreferrer" target="_blank">
                        <img alt="" class="national-flag"
                             src="https://static-ussite.tineco.com/13a0d533-5a9e-4403-aa84-23b9017bb5e6.jpg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div aria-controls="collapse3" aria-expanded="true" class="head" data-target="#collapse3" data-toggle="collapse"
             id="heading3">
            <div class="title">[i18]tradeup.footer.heading3[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading3" class="content collapse" id="collapse3">
            <div class="text">[i18]tradeup.footer.collapse3[/i18]</div>
        </div>
    </div>
    <div class="item">
        <div aria-controls="collapse4" aria-expanded="true" class="head" data-target="#collapse4" data-toggle="collapse"
             id="heading4">
            <div class="title">[i18]tradeup.footer.heading4[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading4" class="content collapse" id="collapse4">
            <div class="text">[i18]tradeup.footer.collapse4[/i18]</div>
        </div>
    </div>
    <div class="item">
        <div aria-controls="collapse5" aria-expanded="true" class="head" data-target="#collapse5" data-toggle="collapse"
             id="heading5">
            <div class="title">[i18]tradeup.footer.heading5[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading5" class="content collapse" id="collapse5">
            <div class="text">[i18]tradeup.footer.collapse5[/i18]</div>
        </div>
    </div>
    <div class="item">
        <div aria-controls="collapse6" aria-expanded="true" class="head" data-target="#collapse6" data-toggle="collapse"
             id="heading6">
            <div class="title">[i18]tradeup.footer.heading6[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading6" class="content collapse" id="collapse6">
            <div class="text">[i18]tradeup.footer.collapse6[/i18]</div>
        </div>
    </div>
    <div class="item">
        <div aria-controls="collapse7" aria-expanded="true" class="head" data-target="#collapse7" data-toggle="collapse"
             id="heading7">
            <div class="title">[i18]tradeup.footer.heading7[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading7" class="content collapse" id="collapse7">
            <div class="text">[i18]tradeup.footer.collapse7[/i18]
                <a class="learn-more"
                   href="[i18]tradeup.footer.heading7_url[/i18]"
                   rel="noopener noreferrer" target="_blank">[i18]tradeup.footer.heading7_url[/i18]</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div aria-controls="collapse8" aria-expanded="true" class="head" data-target="#collapse8" data-toggle="collapse"
             id="heading8">
            <div class="title">[i18]tradeup.footer.heading8[/i18]</div>
            <div class="icon">+</div>
        </div>
        
        <div aria-labelledby="heading8" class="content collapse" id="collapse8">
            <div class="text">[i18]tradeup.footer.collapse8[/i18]
            </div>
        </div>
    </div>
</div>

<script>
  $(() => {
    // 折叠展开-如果当前点击元素是展开状态，就将图标切换为+，否则为x
    $('#collapsefooter .item .head').on('click', function () {
      let childDom = $(this).children('.icon')
      if (childDom.hasClass('active')) {
        childDom.removeClass('active')
      } else {
        childDom.addClass('active')
      }
    })
  })
</script>
