.fly-collapsefooter-pc {
  width: 100%;
  padding: 1rem 3.5rem 0 3.5rem;

  .item {
    margin-bottom: 0.4rem;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.1rem;
      border-bottom: 0.01rem solid rgba($color: #000000, $alpha: 0.5);

      .title {
        font-size: 0.29rem;
        color: #000;
        margin-right: 0.12rem;
      }

      .icon {
        text-align: right;
        font-size: 0.33rem;
        color: rgba($color: #000000, $alpha: 0.6);
        cursor: pointer;

        &.active {
          transform: rotate(45deg);
        }
      }
    }

    .content {
      .text {
        font-size: 0.25rem;
        color: rgba($color: #000000, $alpha: 0.6);
        padding: 0.2rem 0 0.3rem;

        .learn-more {
          display: inline-block;
          width: 100%;
          word-wrap: break-word;
          text-decoration: underline;
          color: rgba($color: #000000, $alpha: 0.6);
        }
      }

      .buy-list {
        display: flex;
        align-items: center;
        margin-top: 0.3rem;

        .buy-item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0.5rem;

          a.store {
            width: 0.9rem;
            height: 0.47rem;
            border-radius: 0.23rem;
            border: solid 0.02rem #00327D;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.04rem;

            img {
              height: 0.3rem;
              width: auto;
              display: block;
            }
          }

          .national-flag {
            width: 0.68rem;
            height: 0.38rem;
            border-bottom: 1px solid rgba(179, 179, 179, 0.68);
            margin-left: 0.2rem;
          }
        }
      }
    }
  }

  .fz-04 {
    font-size: 0.4rem;
  }
}
