<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../assets/css/iconfonts.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="../../assets/css/base-pc.css">
  <link rel="stylesheet" href="./css/S9-ARTIST-pc.css">


  <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
  <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
  <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>

</head>

<body>
  <div class="S9-ARTIST-pc">
    <div class="banner-wrapper">
      <img src="https://static-ussite.tineco.com/banner.png_c9a9c7c8-3.png" alt="" class="banner-wrapper_bg">
      <div class="banner-wrapper_content">
        <h1 class="banner-wrapper_content_title"><b>FLOOR ONE S9</b> Artist Pro</h1>
        <div class="banner-wrapper_content_subtitle">Engineered For Modern Living</div>
        <a href="#videoModal" data-toggle="modal" data-target="#videoModal" data-title="FLOOR ONE S9 Artist Pro"
          data-videofly="https://www.youtube.com/embed/1_-0q8rYyog" class="banner-wrapper_content_btn"
          style="text-decoration: none;">Watch Video
          <img src="https://static-ussite.tineco.com/47e14b7a-6437-4bd9-83db-d7db2c9c4263.svg"
            alt="FLOOR ONE S9 Artist Pro">
        </a>
      </div>
      <!-- <div class="awards-icon">
        <img src="" alt="">
      </div> -->
    </div>

    <div class="overall-wrapper module-wrapper">
      <div class="overall-wrapper_top">
        <div class="overall-wrapper_top_right">
          <div class="overall-wrapper_top_right_top">
            <div class="overall-wrapper_top_right_top_left"></div>
          </div>
        </div>
      </div>
      <div class="overall-wrapper_bottom"></div>
    </div>

    <div class="media-wrapper module-wrapper">
      <h2 class="media-wrapper_title listting_base-title">Endorsement by Authoritative Media</h2>
      <div class="media-wrapper_content"></div>
    </div>

    <div class="gif-wrapper module-wrapper">
      <video src="https://static-ussite.tineco.com/%E5%A4%9A%E5%9C%BA%E6%99%AF.mp4_4f9123f4-d.mp4" loop muted
        class="gif-wrapper_bg"></video>
      <div class="gif-wrapper_content">
        <h2 class="module-header_title gif-wrapper_content_title">The Art of Home Décor</h2>
        <div class="module-header_subtitle gif-wrapper_content_subtitle">Perfectly Integrating with Any Style</div>
      </div>
    </div>

    <div class="aesthetics-wrapper module-wrapper"></div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper">
      <div class="listting-module_sticky">
        <div class="listting-content type1 listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/%E5%8D%96%E7%82%B91-%E6%80%BB%E8%B5%B7.png_348ed492-0.png" alt=""
            class="listting-content_img">
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">The Art of
            Home Décor <br>Perfectly Integrating with Any Style</h2>
        </div>
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type2" id="DualBlock">
        <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E7%BB%95.png_c3265aaf-9.png" alt=""
          class="listting-content_img">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>DualBlock</span> Anti-tangle Design</div>
          <div class="listting_base-subtitle">Dual-layer scrapers effectively prevent hair from tangling, <br>keeping
            the machine clog-free and ensuring smooth, uninterrupted cleaning.</div>
          <div class="listting-content_content_step">
            <div class="listting-content_content_step_text module-wrapper"><span>Step <b>02</b></span><span>The straight
                scraper
                efficiently wipes away dirty water and hair.</span></div>
            <div class="listting-content_content_step_text module-wrapper"><span>Step <b>01</b></span><span>The comb
                scraper captures
                hair to prevent tangles.</span></div>
          </div>
        </div>
        <div class="tips-content module-wrapper">
          <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E7%BB%95-%E5%AF%B9%E6%AF%94.png_85ec076e-e.png"
            alt="" class="tips-content_bg">
          <div class="tips-content_item active">
            <img src="https://static-ussite.tineco.com/icon-good.png_7d7496be-7.png" alt=""
              class="tips-content_item_icon">
            <div class="tips-content_item_text">
              <div>Tineco</div>
              <div>(Tangle-free)</div>
            </div>
          </div>
          <div class="tips-content_item">
            <div class="tips-content_item_text">
              <div>Others</div>
              <div>(Tangled)</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features-wrapper module-wrapper">
      <div class="features-item" id="MHCBS">
        <div class="features-item_left">
          <div class="listting_base-title">
            <span>MHCBS</span><br>Technology
          </div>
          <div class="features-item_desc">Consistent clean brush washing, <br>since only clean brushes make clean
            floors. </div>
          <img src="https://static-ussite.tineco.com/MHCBS-5%E6%AD%A5.png_8846b2b6-3.png" alt=""
            class="features-item_img module-wrapper">
        </div>
        <div class="features-item_right">
          <video src="https://static-ussite.tineco.com/MHCBS.mp4_0c52f0ba-4.mp4" loop muted autoplay
            class="features-item_gif"></video>
        </div>
      </div>
      <div class="features-item reverse">
        <div class="features-item_left">
          <div class="listting_base-title">
            <span>Automatic</span> Water<br>Streak Removal
          </div>
          <div class="features-item_desc">After pressing the stop button, the machine automatically reverses to
            eliminate water streaks, completing the final piece of your floor cleaning puzzle. Enjoy a perfectly clean
            and dry floor every time.</div>
        </div>
        <div class="features-item_right">
          <video src="https://static-ussite.tineco.com/%E5%81%9C%E6%9C%BA%E5%9B%9E%E9%80%80.mp4_db4b72a2-b.mp4" loop
            muted autoplay class="features-item_gif"></video>
        </div>
      </div>
    </div>

    <div class="iloop-wrapper">
      <img src="https://static-ussite.tineco.com/iLoop.png_6e0126e6-4.png" alt="" class="iloop-wrapper_bg">
      <div class="iloop-wrapper_content">
        <div class="listting_base-title">iLoop Smart Sensor</div>
        <div class="listting_base-subtitle">Adjusts suction power and water flow automatically.</div>
      </div>
      <div class="iloop-wrapper_data">
        <div class="iloop-wrapper_data_item"><span>Less </span>Debris</div>
        <div class="iloop-wrapper_data_item"><span>No </span>Debris</div>
        <div class="iloop-wrapper_data_item"><span>More </span>Debris</div>
      </div>
    </div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper" id="SmoothDrive">
      <div class="listting-module_sticky">
        <div class="listting-content type1 listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/SmoothDrive.png_85c19310-d.png" alt=""
            class="listting-content_img">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>SmoothDrive</span> Technology</div>
            <div class="listting_base-subtitle type2">360° All-directional Propulsion</div>
            <div class="listting_base-desc">Smoothly pushing forward, pulling back, or pivoting <br>around tight
              corners with minimal effort.</div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">Smoothly
            Glide,<br> Flexibly Swivel</h2>
        </div>
      </div>
    </div>
    <div class="mainpro-wrapper module-wrapper">
      <img src="https://static-ussite.tineco.com/%E6%B2%99%E5%8F%91.png_8e3bb712-f.png" alt="" class="mainpro-wrapper_sofa">
      <div class="mainpro-wrapper_imgs">
        <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-1.png_690a802b-2.png" alt="" class="product-item_img show">
        <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-2.png_b7a7d847-a.png" alt="" class="product-item_img">
        <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-3.png_43215629-6.png" alt="" class="product-item_img">
        <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-4.png_ef385445-1.png" alt="" class="product-item_img">
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>3-chamber </span><br> dirty water separation</div>
          <div class="listting_base-subtitle">Ensures Excellent Cleaning Performance Even in a flat position</div>
        </div>
        <video src="https://static-ussite.tineco.com/%E6%B0%B4%E6%B0%94%E5%88%86%E7%A6%BB.mp4_65ee383f-a.mp4" loop muted
          autoplay class="listting-content_gif"></video>
      </div>
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>Repositioned </span><br>Clean Water Tank</div>
          <div class="listting_base-subtitle">Adding weight to the brush head for enhanced cleaning power while<br>
            reducing hand strain for a easier, more ergonomic experience.</div>
        </div>
        <div class="listting-content_img">
          <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E4%B8%8B%E5%8E%8B.png_f01d9488-4.png" alt=""
            class="listting-content_img_bg">
          <div class="listting-content_img_content module-wrapper">
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E5%8E%8B%E5%8A%9B.png_d542c393-9.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span class=" fz_40">+28%*</span></div>
                <div>pressure on the ground</div>
              </div>

            </div>
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%89%8B%E6%8C%81%E5%87%8F%E5%8E%8B.png_f5f7a656-7.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span class=" fz_40">Reduce</span></div>
                <div>hand weight-bearing </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listting-content_tips">* vs Stretch S6. Based on Tineco Lab</div>
      </div>

      <div class="listting-content type4">
        <div class="listting-content_item ">
          <div class="listting_base-title">
            <span>Dual-sided</span><br>Enhanced Edge Cleaning
          </div>
          <div class="listting_base-subtitle">No more gaps, and no more places missed when <br>maneuvering around the
            home.</div>
        </div>
        <div class="listting-content_item ">
          <img src="https://static-ussite.tineco.com/%E5%8F%8C%E8%B4%B4%E8%BE%B9.png_ef8ee4fc-4.png" alt=""
            class="listting-content_item_img">
        </div>
        <div class="listting-content_item ">
          <img src="https://static-ussite.tineco.com/90%E5%BA%A6%E6%89%AD%E7%9F%A9.png_b4d5187f-2.png" alt=""
            class="listting-content_item_img">
        </div>
        <div class="listting-content_item right">
          <div class="listting_base-title">
            <span>90°Swivel Design</span><br>for Maximum Flexibility
          </div>
          <div class="listting_base-subtitle">Effortlessly glide around furniture, navigate tight corners, and tackle
            tricky spaces for a thorough, hassle-free clean.</div>
          <img src="https://static-ussite.tineco.com/icon-90%E5%BA%A6.png_68f65706-1.png" alt=""
            class="listting-content_item_icon">
        </div>
      </div>
    </div>
    <div class="listting-module-wrapper listting-wrapper module-wrapper ">
      <div class="listting-module_sticky">
        <div class="listting-content type1 listting-module_content" style="opacity: 0;">
          <img
            src="https://static-ussite.tineco.com/%E5%85%A8%E9%93%BE%E8%B7%AF%E8%87%AA%E6%B8%85%E6%B4%81.png_c9b54b49-6.png"
            alt="" class="listting-content_img">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>Full-path Self-cleaning</span></div>
            <div class="listting_base-subtitle">Thoroughly clean and dry the entire path <br>for a truly worry-free
              experience after use
            </div>
          </div>
          <div class="listting-content_marks">
            <div class="listting-content_marks_line"></div>
            <div class="listting-content_marks_title">Dry filter</div>
          </div>
          <div class="listting-content_marks" style="bottom: 36%;right: 13%;">
            <div class="listting-content_marks_line" style="width: 1.16rem;"></div>
            <div class="listting-content_marks_title">Tube</div>
          </div>
          <div class="listting-content_marks" style="bottom: 31%;right: 18.5%;">
            <div class="listting-content_marks_line" style="width: 0.96rem;"></div>
            <div class="listting-content_marks_title">Suction inlet</div>
          </div>
          <div class="listting-content_marks" style="bottom: 25%;right: 39%;">
            <div class="listting-content_marks_title">Brush Roller<br> Cover</div>
            <div class="listting-content_marks_line" style="width: 0.95rem;"></div>
          </div>
          <div class="listting-content_marks" style="bottom: 36%;right: 41%;">
            <div class="listting-content_marks_title">Brush Roller</div>
            <div class="listting-content_marks_line" style="width: 0.69rem;"></div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">Worry-Free
            After Use <br>Self-Cleans & Self-Dries</h2>
        </div>
      </div>
    </div>

    <div class="giflist-wrapper module-wrapper" id="Upgraded">
      <div class="listting_base-title">Upgraded <span>FlashDry</span> Self-Cleaning</div>
      <div class="giflist-wrapper_content module-wrapper"></div>
    </div>

    <div class="rotating-wrapper">
      <div class="rotating-wrapper_top">
        <div class="rotating-wrapper_top_left">
          <div class="listting_base-title"><span>720°</span> Bi-directional Rotating</div>
          <div class="listting_base-subtitle">The brush rotates both forward and backward during self-cleaning <br>and
            drying, ensuring a deeper clean and fluffier results.</div>
        </div>
        <img src="https://static-ussite.tineco.com/%E5%AF%B9%E6%AF%94.png_870c7ffc-1.png" alt=""
          class="rotating-wrapper_top_img module-wrapper">
      </div>
      <img src="https://static-ussite.tineco.com/%E6%BB%9A%E5%88%B7%E5%8F%8C%E6%97%8B.png_04a49c42-a.png" alt=""
        class="rotating-wrapper_img">
    </div>

    <div class="runtime-wrapper">
      <img src="https://static-ussite.tineco.com/%E9%95%BF%E7%BB%AD%E8%88%AA.png_5912904d-9.png" alt=""
        class="runtime-wrapper_bg">
      <div class="runtime-wrapper_content">
        <div class="listting_base-title"><span>Ultra-long</span> Runtime</div>
        <div class="listting_base-subtitle">Allows for whole-house cleaning on a single charge.</div>

        <div class="runtime-wrapper_content_time module-wrapper">
          <div class="runtime-wrapper_time-item">
            <img src="https://static-ussite.tineco.com/icon-%E7%94%B5%E6%B1%A0.png_de627c32-5.png" alt=""
              class="runtime-wrapper_time-item_icon">
            <div class="runtime-wrapper_time-item_right">
              <div>up to</div>
              <div class="runtime-wrapper_time-item_right_title">75 min*</div>
              <div>Ultra-long Runtime</div>
            </div>
          </div>
          <div class="runtime-wrapper_time-item">
            <img src="https://static-ussite.tineco.com/icom-%E6%B0%B4%E7%AE%B1.png_d9f87708-6.png" alt=""
              class="runtime-wrapper_time-item_icon">
            <div class="runtime-wrapper_time-item_right">
              <div>up to</div>
              <div class="runtime-wrapper_time-item_right_title">50 min*</div>
              <div>Water Runtime</div>
            </div>
          </div>
        </div>
      </div>
      <div class="runtime-wrapper_tips">*In lay-flat state with auto mode. Actual runtime may vary based on home
        environment and user habits</div>
    </div>

    <div class="volume-wrapper">
      <div class="volume-wrapper_title"><span>75</span> mins*</div>
      <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1.png_87c5b809-c.png" alt=""
        class="volume-wrapper_bg">
      <div class="volume-wrapper_tips">*Allows for whole-house cleaning on a single charge.</div>
      <div class="volume-wrapper_content module-wrapper">
        <div class="volume-wrapper_content_item">
          <div class="volume-wrapper_content_item_title">0.88L</div>
          <div class="volume-wrapper_content_item_subtitle">Clean Water Tank</div>
        </div>
        <div class="volume-wrapper_content_item">
          <div class="volume-wrapper_content_item_title">0.75L</div>
          <div class="volume-wrapper_content_item_subtitle">Dirty Water Tank</div>
        </div>
      </div>
    </div>

    <div class="selling-wrapper">
      <div class="selling-wrapper_content module-wrapper">
      </div>
    </div>

    <div class="spec-wrapper module-wrapper">
      <div class="spec-container">
        <div class="spec-wrapper_title">Specifications</div>
        <div class="line-2"></div>
        <div class="spec-wrapper_content"></div>
      </div>
    </div>

    <div class="included-wrapper module-wrapper">
      <div class="included-container"></div>
    </div>


    <!-- 视频弹窗 -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body  p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/S9-ARTIST-index.js"></script>
</body>

</html>