<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../assets/css/iconfonts.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="../../assets/css/base-pc.css">
  <link rel="stylesheet" href="./css/S9-ARTIST-pc.css">


  <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
  <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
  <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>

  <style>
    .S9-ARTIST-pc .listting_base-title span,
    .S9-ARTIST-pc .giflist-wrapper_content .giflist-wrapper_gif-item_title .step,
    .S9-ARTIST-pc .giflist-wrapper_content .giflist-wrapper_gif-item_title span,
    .S9-ARTIST-pc .overall-wrapper .overall-item_content_title,
    .S9-ARTIST-pc .listting-wrapper .listting-content.type2 .listting-content_content_step_text span,
    .S9-ARTIST-pc .listting-wrapper .listting-content.type2 .tips-content_item:first-of-type .tips-content_item_text div:first-of-type,
    .S9-ARTIST-pc .listting-module-wrapper .listting-module_sticky .listting-module_content .listting-content_marks_title,
    .S9-ARTIST-pc .iloop-wrapper_data_item span {
      background: linear-gradient(90deg, #b58354 0%, #e5d7c7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</head>

<body>
  <div class="S9-ARTIST-pc">
    <div class="banner-wrapper">
      <img src="https://static-ussite.tineco.com/banner.png_e70a4593-9.png" alt="" class="banner-wrapper_bg">
      <div class="banner-wrapper_content">
        <h1 class="banner-wrapper_content_title"><b>FLOOR ONE S9</b> Artist Pro</h1>
        <div class="banner-wrapper_content_subtitle">Engineered For Modern Living</div>
        <a href="#videoModal" data-toggle="modal" data-target="#videoModal" data-title="FLOOR ONE S9 Artist Pro"
          data-videofly="https://www.youtube.com/embed/PjpQMDYBt4Y?si=AecORVhJJzWYjPoX"
          class="banner-wrapper_content_btn" style="text-decoration: none;">Watch Video
          <img src="https://static-ussite.tineco.com/47e14b7a-6437-4bd9-83db-d7db2c9c4263.svg"
            alt="FLOOR ONE S9 Artist Pro">
        </a>
      </div>
      <!-- <div class="awards-icon">
        <img src="" alt="">
      </div> -->
    </div>

    <div class="overall-wrapper module-wrapper">
      <div class="overall-wrapper_top">
        <div class="overall-wrapper_top_right">
          <div class="overall-wrapper_top_right_top">
            <div class="overall-wrapper_top_right_top_left"></div>
          </div>
        </div>
      </div>
      <div class="overall-wrapper_bottom"></div>
    </div>

    <div class="media-wrapper module-wrapper">
      <h2 class="media-wrapper_title listting_base-title">Endorsement by Authoritative Media</h2>
      <div class="media-wrapper_content"></div>
    </div>

    <div class="gif-wrapper module-wrapper">
      <video src="https://static-ussite.tineco.com/%E5%A4%9A%E5%9C%BA%E6%99%AF%EF%BC%88%E9%93%B6%E8%89%B2%EF%BC%89.mp4_42c9d996-7.mp4" loop muted
        playsinline class="gif-wrapper_bg"></video>
      <div class="gif-wrapper_content">
        <h2 class="module-header_title gif-wrapper_content_title">The Art of Home Décor</h2>
        <div class="module-header_subtitle gif-wrapper_content_subtitle">Perfectly Integrating with Any Style</div>
      </div>
    </div>

    <div class="aesthetics-wrapper module-wrapper"></div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/%E5%8D%96%E7%82%B91-%E6%80%BB%E8%B5%B7.png_7cbb13ed-6.png" alt=""
            class="listting-content_img">
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Ultimate Deep Clean<br>Defeats Every Stain, Every Time</h2>
        </div>
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type2" id="DualBlock">
        <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E7%BB%95.png_0c720e11-c.png" alt=""
          class="listting-content_img">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>DualBlock</span> Anti-tangle Design</div>
          <div class="listting_base-subtitle">Dual-layer scrapers effectively prevent hair from tangling, <br>keeping
            the machine clog-free and ensuring smooth, uninterrupted cleaning.</div>
          <div class="listting-content_content_step module-wrapper">
            <div class="listting-content_content_step_text"><span>Step <b>02</b></span><span>The straight scraper
                efficiently wipes away dirty water and hair.</span></div>
            <div class="listting-content_content_step_text"><span>Step <b>01</b></span><span>The comb scraper captures
                hair to prevent tangles.</span></div>
          </div>
        </div>
        <div class="tips-content module-wrapper">
          <div class="tips-content_content">
            <div class="tips-content_item active">
              <img src="https://static-ussite.tineco.com/icon-good.png_7d7496be-7.png" alt=""
                class="tips-content_item_icon">
              <div class="tips-content_item_text">
                <div>Tineco</div>
                <div>(Tangle-free)</div>
              </div>
            </div>
            <div class="tips-content_item">
              <div class="tips-content_item_text">
                <div>Others</div>
                <div>(Tangled)</div>
              </div>
            </div>
          </div>
          <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E7%BB%95-%E5%AF%B9%E6%AF%94.png_85ec076e-e.png"
            alt="" class="tips-content_bg">
        </div>
      </div>
    </div>

    <div class="features-wrapper module-wrapper" id="MHCBS">
      <div class="features-item">
        <div class="features-item_left">
          <div class="listting_base-title"><span>MHCBS</span><br> Technology</div>
          <div class="features-item_desc">Consistent clean brush washing, <br>since only clean brushes make clean
            floors.</div>
          <img src="https://static-ussite.tineco.com/MHCBS-5%E6%AD%A5.png_8846b2b6-3.png" alt=""
            class="features-item_img module-wrapper">
        </div>
        <div class="features-item_right">
          <video src="https://static-ussite.tineco.com/MHCBS.mp4_0c52f0ba-4.mp4" loop muted autoplay playsinline
            class="features-item_gif"></video>
        </div>
      </div>
      <div class="features-item reverse">
        <div class="features-item_left">
          <div class="listting_base-title"><span>Automatic</span> Water<br>Streak Removal</div>
          <div class="features-item_desc">After pressing the stop button, the machine automatically reverses to
            eliminate water streaks, completing the final piece of your floor cleaning puzzle. Enjoy a perfectly clean
            and dry floor every time.</div>
        </div>
        <div class="features-item_right">
          <video src="https://static-ussite.tineco.com/%E5%81%9C%E6%9C%BA%E5%9B%9E%E9%80%80%EF%BC%88%E9%93%B6%E8%89%B2%EF%BC%89.mp4_1554a155-6.mp4" loop
            muted autoplay playsinline class="features-item_gif"></video>
        </div>
      </div>
    </div>

    <div class="iloop-wrapper" id="iLoopSmart">
      <img src="https://static-ussite.tineco.com/iLoop.png_5ab98a2b-7.png" alt="" class="iloop-wrapper_bg">
      <div class="iloop-wrapper_content">
        <div class="listting_base-title">iLoop Smart Sensor</div>
        <div class="listting_base-subtitle">Adjusts suction power and water flow automatically.</div>
      </div>
      <div class="iloop-wrapper_data">
        <div class="iloop-wrapper_data_item"><span>Less </span>Debris</div>
        <div class="iloop-wrapper_data_item"><span>No </span>Debris</div>
        <div class="iloop-wrapper_data_item"><span>More </span>Debris</div>
      </div>
    </div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper" id="SmoothDrive">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/SmoothDrive-%E6%80%BB%E8%B5%B7.png_a8ddae8f-a.png" alt=""
            class="listting-content_img">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>SmoothDrive</span> Technology</div>
            <div class="listting_base-subtitle type2">360° All-directional Propulsion</div>
            <div class="listting_base-desc">Smoothly pushing forward, pulling back, or pivoting <br>around tight corners
              with minimal effort.</div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Smoothly Glide,<br> Flexibly Swivel</h2>
        </div>
      </div>
    </div>
    <div class="mainpro-wrapper module-wrapper" id="180lay-flat">
      <div class="mainpro_sticky-content">
        <img src="https://static-ussite.tineco.com/%E6%B2%99%E5%8F%91.png_8e3bb712-f.png" alt=""
          class="mainpro-wrapper_sofa">
        <div class="mainpro-wrapper_imgs">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-1.png_f2baa38b-3.png" alt=""
            class="product-item_img show">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-2.png_42b4f06e-5.png" alt=""
            class="product-item_img">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-3.png_680700ab-4.png" alt=""
            class="product-item_img">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-4.png_43b57c45-f.png" alt=""
            class="product-item_img">
        </div>
        <div class="mainpro-wrapper_title">
          <div class="listting_base-title"><span>Reach Hidden Areas</span> with 180° Lay-Flat Design</div>
        </div>
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>3-Chamber </span><br> Dirty Water Separation</div>
          <div class="listting_base-subtitle">Ensures Excellent Cleaning Performance Even in a flat position.</div>
        </div>
        <video src="https://static-ussite.tineco.com/%E6%B0%B4%E6%B0%94%E5%88%86%E7%A6%BB.mp4_65ee383f-a.mp4" loop muted
          autoplay playsinline class="listting-content_gif"></video>
      </div>
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>Repositioned </span><br>Clean Water Tank</div>
          <div class="listting_base-subtitle">Adding weight to the brush head for enhanced cleaning power while<br>
            reducing hand strain for a easier, more ergonomic experience.</div>
        </div>
        <div class="listting-content_img">
          <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E4%B8%8B%E5%8E%8B.png_356c6231-0.png" alt=""
            class="listting-content_img_bg">
          <div class="listting-content_img_content module-wrapper">
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E5%8E%8B%E5%8A%9B.png_3e70a2a0-0.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span class=" fz_40">+28%*</span></div>
                <div>pressure on the ground</div>
              </div>

            </div>
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%89%8B%E6%8C%81%E5%87%8F%E5%8E%8B.png_f5f7a656-7.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span class=" fz_40">Reduce</span></div>
                <div>hand weight-bearing</div>
              </div>
            </div>
          </div>
        </div>
        <div class="listting-content_tips">* vs Stretch S6. Based on Tineco Lab.</div>
      </div>

      <div class="listting-content type4">
        <div class="listting-content_item ">
          <div class="listting_base-title"><span>Dual-sided</span><br>Enhanced Edge Cleaning</div>
          <div class="listting_base-subtitle">No more gaps, and no more places missed when <br>maneuvering around the
            home.</div>
        </div>
        <div class="listting-content_item ">
          <img src="https://static-ussite.tineco.com/%E5%8F%8C%E8%B4%B4%E8%BE%B9.png_e25ec9ec-d.png" alt=""
            class="listting-content_item_img">
        </div>
        <div class="listting-content_item ">
          <img src="https://static-ussite.tineco.com/90%E5%BA%A6%E6%89%AD%E7%9F%A9.png_c9eb9253-4.png" alt=""
            class="listting-content_item_img">
        </div>
        <div class="listting-content_item right">
          <div class="listting_base-title"><span>90°Swivel Design</span><br>for Maximum Flexibility</div>
          <div class="listting_base-subtitle">Effortlessly glide around furniture, navigate tight corners, and tackle
            tricky spaces for a thorough, hassle-free clean.</div>
          <img src="https://static-ussite.tineco.com/icon-90%E5%BA%A6.png_68f65706-1.png" alt=""
            class="listting-content_item_icon">
        </div>
      </div>
    </div>
    <div class="listting-module-wrapper listting-wrapper module-wrapper ">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content" style="opacity: 0;">
          <img
            src="https://static-ussite.tineco.com/%E5%85%A8%E9%93%BE%E8%B7%AF%E8%87%AA%E6%B8%85%E6%B4%81.png_2bd73374-a.png"
            alt="" class="listting-content_img">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>Full-path Self-cleaning</span></div>
            <div class="listting_base-subtitle">Thoroughly clean and dry the entire path <br>for a truly worry-free
              experience after use.</div>
          </div>
          <div class="listting-content_marks" style="bottom: 25%;right: 39%;">
            <div class="listting-content_marks_title">Brush Roller<br> Cover</div>
            <div class="listting-content_marks_line" style="width: 0.95rem;"></div>
          </div>
          <div class="listting-content_marks" style="bottom: 36%;right: 41%;">
            <div class="listting-content_marks_title">Brush Roller</div>
            <div class="listting-content_marks_line" style="width: 0.69rem;"></div>
          </div>
          <div class="listting-content_marks" style="bottom: 31%;right: 18.5%;">
            <div class="listting-content_marks_line" style="width: 0.96rem;"></div>
            <div class="listting-content_marks_title">Suction inlet</div>
          </div>
          <div class="listting-content_marks" style="bottom: 38%;right: 18%;">
            <div class="listting-content_marks_line" style="width: 1.16rem;"></div>
            <div class="listting-content_marks_title">Tube</div>
          </div>
          <div class="listting-content_marks">
            <div class="listting-content_marks_line"></div>
            <div class="listting-content_marks_title">Dry filter</div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Worry-Free After Use <br>Self-Cleans & Self-Dries</h2>
        </div>
      </div>
    </div>

    <div class="giflist-wrapper module-wrapper" id="FlashDry">
      <div class="listting_base-title">Upgraded <span>FlashDry</span> Self-Cleaning</div>
      <div class="giflist-wrapper_content module-wrapper"></div>
    </div>

    <div class="rotating-wrapper">
      <div class="rotating-wrapper_top">
        <div class="rotating-wrapper_top_left">
          <div class="listting_base-title"><span>720°</span> Bi-directional Rotating</div>
          <div class="listting_base-subtitle">The brush rotates both forward and backward during self-cleaning <br>and
            drying, ensuring a deeper clean and fluffier results.</div>
        </div>
        <img src="https://static-ussite.tineco.com/%E5%AF%B9%E6%AF%94.png_870c7ffc-1.png" alt=""
          class="rotating-wrapper_top_img module-wrapper">
      </div>
      <video src="https://static-ussite.tineco.com/%E5%8F%8C%E6%97%8B.mp4_adf35e55-b.mp4" loop muted autoplay
        playsinline class="rotating-wrapper_img module-wrapper"></video>
    </div>

    <div class="runtime-wrapper" id="75Minutes">
      <img src="https://static-ussite.tineco.com/%E9%95%BF%E7%BB%AD%E8%88%AA.png_5912904d-9.png" alt=""
        class="runtime-wrapper_bg">
      <div class="runtime-wrapper_content">
        <div class="listting_base-title"><span>Ultra-long</span> Runtime</div>
        <div class="listting_base-subtitle">Allows for whole-house cleaning on a single charge.</div>

        <div class="runtime-wrapper_content_time module-wrapper">
          <div class="runtime-wrapper_time-item">
            <img src="https://static-ussite.tineco.com/icon-%E7%94%B5%E6%B1%A0.png_de627c32-5.png" alt=""
              class="runtime-wrapper_time-item_icon">
            <div class="runtime-wrapper_time-item_right">
              <div>up to</div>
              <div class="runtime-wrapper_time-item_right_title">70 min*</div>
              <div>Battery Runtime</div>
            </div>
          </div>
          <div class="runtime-wrapper_time-item">
            <img src="https://static-ussite.tineco.com/icom-%E6%B0%B4%E7%AE%B1.png_d9f87708-6.png" alt=""
              class="runtime-wrapper_time-item_icon">
            <div class="runtime-wrapper_time-item_right">
              <div>up to</div>
              <div class="runtime-wrapper_time-item_right_title">50 min*</div>
              <div>Water Runtime</div>
            </div>
          </div>
        </div>
      </div>
      <div class="runtime-wrapper_tips">*In lay-flat state with auto mode. Actual runtime may vary based on home
        environment and user habits.</div>
    </div>

    <div class="volume-wrapper">
      <div class="volume-wrapper_title"><span>75</span> mins*</div>
      <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1.png_475407ea-4.png" alt=""
        class="volume-wrapper_bg">
      <div class="volume-wrapper_tips">*Allows for whole-house cleaning on a single charge.</div>
      <div class="volume-wrapper_content module-wrapper">
        <div class="volume-wrapper_content_item">
          <div class="volume-wrapper_content_item_title">1L</div>
          <div class="volume-wrapper_content_item_subtitle">Clean Water Tank</div>
        </div>
        <div class="volume-wrapper_content_item">
          <div class="volume-wrapper_content_item_title">0.75L</div>
          <div class="volume-wrapper_content_item_subtitle">Dirty Water Tank</div>
        </div>
      </div>
    </div>

    <div class="selling-wrapper" id="PouchCell">
      <div class="selling-wrapper_content module-wrapper">
      </div>
    </div>

    <!-- 视频弹窗 -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body  p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.OVERALL_LIST = [
      {
        type: "type1",
        bgSrc: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6.png_5d6f2953-8.png",
        title: "Unique Design<br> Aesthetic",
        desc: "",
        id: ""
      },
      {
        type: "type2",
        bgSrc: "https://static-ussite.tineco.com/DUALBLOCK.png_7aa717d0-2.png",
        title: "DualBlock",
        desc: "Anti-Tangle",
        id: "DualBlock"
      },
      {
        type: "type2",
        bgSrc: "https://static-ussite.tineco.com/MHCBS.png_6f30532c-9.png",
        title: "MHCBS",
        desc: "Technology",
        id: "MHCBS"
      },
      {
        type: "type3",
        bgSrc: "https://static-ussite.tineco.com/%E8%87%AA%E6%B8%85%E6%B4%81.png_abd77060-a.png",
        title: "FlashDry",
        desc: "Self-cleaning System",
        id: "FlashDry"
      },
      {
        type: "type3",
        bgSrc: "https://static-ussite.tineco.com/SmoothDrive.png_ab770223-1.png",
        title: "SmoothDrive",
        desc: "Technology",
        id: "SmoothDrive"
      },
      {
        type: "type4",
        bgSrc: "https://static-ussite.tineco.com/180.png_1e0c7823-7.png",
        title: "180°Lay-flat",
        desc: "",
        id: "180lay-flat"
      },
      {
        type: "type5",
        bgSrc: "https://static-ussite.tineco.com/3-1.png_6b6a2b7c-b.png",
        title: "iLoop Smart Sensor",
        desc: "",
        id: "iLoopSmart"
      },
      {
        type: "type5",
        bgSrc: "https://static-ussite.tineco.com/3-2.png_0fb4c48f-b.png",
        title: "Up to 75 Minutes<br> Runtime",
        desc: "",
        id: "75Minutes"
      },
      {
        type: "type5",
        bgSrc: "https://static-ussite.tineco.com/3-3.png_2d0317ab-b.png",
        title: "Upgraded <br>Pouch Cell",
        desc: "",
        id: "PouchCell"
      }
    ];

    window.AESTHETICS_LIST = [
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-1.png_44c46ca6-3.png",
        title: "Ultra-thin Streamlined <br>Appearance"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-2.png_3d9fa1c2-0.png",
        title: "3D Dynamic Display"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-3.png_1c5eb9d2-1.png",
        title: "Crystal IMD Layer"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-4.png_10964494-f.png",
        title: "Easy-to-see Thumb Screen"
      },
    ]

    window.GIFT_LIST = [
      {
        title: "<div class='step'>Step 1:</div> &nbsp;Self-cleaning with&nbsp;<span> Heated Water</span>",
        description: "Using fresh water heated by 185℉ hot air to effectively <br>dissolve stains from the pipe to the brush roller, providing a superior self-cleaning result.",
        videoSrc: "https://static-ussite.tineco.com/%E7%83%AD%E6%B0%B4%E6%B4%97%EF%BC%88%E9%93%B6%E8%89%B2%EF%BC%89.mp4_941af389-d.mp4"
      },
      {
        title: "<div class='step'>Step 2:</div> &nbsp;5-minute Drying with&nbsp;<span> 185℉ Air</span>",
        description: "The upgraded 185℉ hot air effectively dries every part of the machine. <br>Paired with a sealed base design, this ensures minimal heat loss and enhances drying efficiency.",
        videoSrc: "https://static-ussite.tineco.com/%E7%83%AD%E9%A3%8E%E7%83%98%EF%BC%88%E9%93%B6%E8%89%B2%EF%BC%89.mp4_e5c88b22-7.mp4"
      }
    ]

    window.SWIPER_LIST = [
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-1.png_5f90bc75-d.png",
        title: "Upgraded<br> pouch cells",
        subtitle: "Enhanced safety, exceptional battery life, stable and reliable power ensures uninterrupted cleaning."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-2.png_af433c90-5.png",
        title: "Charge Faster, Clean Longer",
        subtitle: "2A flash charging ensures you are always ready for the next cleaning session."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-3.png_cb68b195-c.png",
        title: "App Support <br>& Voice Assistant",
        subtitle: "Seamless app control and instant voice assistance deliver ultimate convenience."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-4.png_3dd238cc-0.png",
        title: "Easy-to-Read <br>Tumb Screen",
        subtitle: "The LED screen with Tineco Assistant guides you through the cleaning process, offering real-time updates."
      }
    ]
  </script>
  <script src="./js/S9-ARTIST-index.js"></script>
</body>

</html>