<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Title</title>
  <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/swiper-bundle.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/base-h5.css">
  <link rel="stylesheet" href="./css/S9-ARTIST-h5.css">

<style>

</style>
</head>

<body>
  <div class="S9-ARTIST-h5">
    <div class="banner-wrapper">
      <img src="https://static-ussite.tineco.com/banner-app.png_ec62268e-4.png" alt="" class="banner-wrapper_bg">
      <div class="banner-wrapper_content">
        <h1 class="banner-wrapper_content_title"><b>FLOOR ONE S9</b> Artist Pro</h1>
        <div class="banner-wrapper_content_subtitle">Engineered For Modern Living</div>
        <a href="#videoModal" data-toggle="modal" data-target="#videoModal"
          data-title="FLOOR ONE S9 Artist Pro" data-videofly="https://www.youtube.com/embed/PjpQMDYBt4Y?si=AecORVhJJzWYjPoX"
          class="banner-wrapper_content_btn" style="text-decoration: none;">Watch Video
          <img src="https://static-ussite.tineco.com/47e14b7a-6437-4bd9-83db-d7db2c9c4263.svg"
            alt="FLOOR ONE S9 Artist Pro">
        </a>
      </div>
      <!-- <div class="awards-icon">
        <img src="" alt="">
      </div> -->
    </div>

    <div class="overall-wrapper module-wrapper">
      <div class="swiper overall-swiper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="media-wrapper module-wrapper">
      <h2 class="media-wrapper_title listting_base-title">Endorsement by <br>Authoritative Media</h2>
      <div class="media-wrapper_content"></div>
    </div>

    <div class="gif-wrapper module-wrapper">
      <div class="gif-wrapper_content">
        <h2 class="module-header_title gif-wrapper_content_title">The Art of <br>Home Décor</h2>
        <div class="module-header_subtitle gif-wrapper_content_subtitle">Perfectly Integrating<br> with Any Style</div>
      </div>
      <video src="https://static-ussite.tineco.com/%E5%A4%9A%E5%9C%BA%E6%99%AF.mp4_4f9123f4-d.mp4" loop muted
        playsinline class="gif-wrapper_bg"></video>
    </div>

    <div class="aesthetics-wrapper module-wrapper"></div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/2-%E6%80%BB%E8%B5%B7.png_a75f0f47-f.png" alt=""
            class="listting-content_img">
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Ultimate Deep Clean<br>Defeats Every Stain, Every Time</h2>
        </div>
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type2" id="DualBlock">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>DualBlock</span><br> Anti-tangle Design</div>
          <div class="listting_base-subtitle">Dual-layer scrapers effectively prevent hair from tangling, keeping the machine clog-free and ensuring smooth, uninterrupted cleaning.</div>

        </div>
        <div class="listting-content_img">
          <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E6%AF%9B.png_e5dd8745-d.png" alt="">
          <div class="listting-content_img_step step1">Step 01</div>
          <div class="listting-content_img_step step2">Step 02</div>
        </div>
        <div class="listting-content_step module-wrapper">
          <div class="listting-content_step_text"><b>Step 01</b> <span>The comb scraper captures hair to prevent tangles.</span></div>
          <div class="listting-content_step_text"><b>Step 02</b> <span>The straight scraper efficiently wipes away dirty water and hair.</span></div>
        </div>
        <div class="tips-content module-wrapper">
          <img src="https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E7%BB%95-%E5%AF%B9%E6%AF%94.png_85ec076e-e.png"
            alt="" class="tips-content_bg">
          <div class="tips-content_content">
            <div class="tips-content_item active">
              <img src="https://static-ussite.tineco.com/icon-good.png_7d7496be-7.png" alt=""
                class="tips-content_item_icon">
              <div class="tips-content_item_text">
                <div>Tineco</div>
                <div>(Tangle-free)</div>
              </div>
            </div>
            <div class="tips-content_item">
              <div class="tips-content_item_text">
                <div>Others</div>
                <div>(Tangled)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features-wrapper" id="MHCBS">
      <div class="features-item">
        <div class="features-item_top">
          <div class="listting_base-title"><span>MHCBS</span><br> Technology</div>
          <div class="features-item_desc">Consistent clean brush washing, <br>since only clean brushes make clean floors.</div>
        </div>
        <video src="https://static-ussite.tineco.com/MHCBS.mp4_0c52f0ba-4.mp4" loop muted autoplay playsinline
          class="features-item_gif"></video>
        <img src="https://static-ussite.tineco.com/MHCBS.jpg_53c3bd42-3.jpg" alt="" class="features-item_img">
      </div>
      <div class="features-item">
        <div class="features-item_top">
          <div class="listting_base-title"><span>Automatic</span> Water<br>Streak Removal</div>
          <div class="features-item_desc">After pressing the stop button, the machine automatically reverses to eliminate water streaks, completing the final piece of your floor cleaning puzzle. Enjoy a perfectly clean and dry floor every time.</div>
        </div>
        <video src="https://static-ussite.tineco.com/%E5%81%9C%E6%9C%BA%E5%9B%9E%E9%80%80.mp4_db4b72a2-b.mp4" loop muted
          playsinline autoplay class="features-item_gif"></video>
      </div>
    </div>

    <div class="iloop-wrapper" id="iLoopSmart">
      <div class="iloop-wrapper_top">
        <div class="listting_base-title"><span>iLoop</span><br>Smart Sensor</div>
        <div class="listting_base-subtitle">Adjusts suction power and water flow automatically.</div>
      </div>
      <div class="iloop-wrapper_content">
        <img src="https://static-ussite.tineco.com/iLoop.png_44bff43f-5.png" alt="" class="iloop-wrapper_bg">
      </div>
    </div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper" id="SmoothDrive">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content" style="opacity: 0;">
          <img src="https://static-ussite.tineco.com/smoothdriver.png_b575c093-c.png" alt=""
            class="listting-content_img">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>SmoothDrive</span> Technology</div>
            <div class="listting_base-subtitle type2">360° All-directional Propulsion</div>
            <div class="listting_base-desc">Smoothly pushing forward, pulling back, or pivoting around tight corners with minimal effort.</div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Smoothly Glide,<br> Flexibly Swivel</h2>
        </div>
      </div>
    </div>

    <div class="mainpro-wrapper module-wrapper" id="180lay-flat">
      <div class="mainpro_sticky-content">
        <img src="https://static-ussite.tineco.com/%E6%B2%99%E5%8F%91.png_8e3bb712-f.png" alt=""
          class="mainpro-wrapper_sofa">
        <div class="mainpro-wrapper_imgs">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-1.png_690a802b-2.png" alt=""
            class="product-item_img show">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-2.png_b7a7d847-a.png" alt=""
            class="product-item_img">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-3.png_43215629-6.png" alt=""
            class="product-item_img">
          <img src="https://static-ussite.tineco.com/%E5%9B%9B%E6%8A%98-4.png_ef385445-1.png" alt=""
            class="product-item_img">
        </div>
        <div class="mainpro-wrapper_title">
          <div class="listting_base-title">Reach Hidden<br> Areas with<br> 180° Lay-Flat Design</div>
        </div>
      </div>
    </div>

    <div class="listting-wrapper">
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>3-Chamber </span><br> Dirty Water Separation</div>
          <div class="listting_base-subtitle">Ensures Excellent Cleaning Performance Even in a flat position.</div>
        </div>
        <video src="https://static-ussite.tineco.com/%E6%B0%B4%E6%B0%94%E5%88%86%E7%A6%BB.mp4_65ee383f-a.mp4" loop muted
          playsinline autoplay class="listting-content_gif"></video>
      </div>
      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>Repositioned </span><br>Clean Water Tank</div>
          <div class="listting_base-subtitle">Adding weight to the brush head for enhanced cleaning power while reducing hand strain for a easier, more ergonomic experience.</div>
        </div>
        <div class="listting-content_img plr_20">
          <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E4%B8%8B%E5%8E%8B.png_559503e8-9.png" alt=""
            class="listting-content_img_bg">
          <div class="listting-content_tips">* vs Stretch S6. Based on Tineco Lab.</div>
          <div class="listting-content_img_content module-wrapper">
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E5%8E%8B%E5%8A%9B.png_d542c393-9.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span
                    class=" fz_40">+28%*</span></div>
                <div>pressure<br>on the ground</div>
              </div>

            </div>
            <div class="listting-content_img_item">
              <img src="https://static-ussite.tineco.com/%E6%89%8B%E6%8C%81%E5%87%8F%E5%8E%8B.png_f5f7a656-7.png" alt=""
                class="listting-content_img_item_bg">
              <div class="listting-content_img_item_content">
                <div class="listting_base-title"><span
                    class=" fz_40">Reduce</span></div>
                <div>hand<br>weight-bearing</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="listting-content type3">
        <div class="listting-content_content">
          <div class="listting_base-title"><span>Dual-sided</span><br>Enhanced Edge Cleaning</div>
          <div class="listting_base-subtitle">No more gaps, and no more places missed when <br>maneuvering around the home.</div>
        </div>
        <div class="listting-content_img">
          <img src="https://static-ussite.tineco.com/%E5%8F%8C%E8%B4%B4%E8%BE%B9.png_ef8ee4fc-4.png" alt=""
            class="listting-content_img_bg">
        </div>
      </div>
      <div class="listting-content type3">
        <div class="listting-content_content">
          <img src="https://static-ussite.tineco.com/icon-90%E5%BA%A6.png_68f65706-1.png" alt=""
            class="listting-content_icon">
          <div class="listting_base-title"><span>90°Swivel Design</span><br>for Maximum Flexibility</div>
          <div class="listting_base-subtitle">Effortlessly glide around furniture, navigate tight corners, and tackle tricky spaces for a thorough, hassle-free clean.</div>
        </div>
        <div class="listting-content_img">
          <img src="https://static-ussite.tineco.com/90%E5%BA%A6%E6%89%AD%E7%9F%A9.png_b4d5187f-2.png" alt=""
            class="listting-content_img_bg">
        </div>
      </div>
    </div>

    <div class="listting-module-wrapper listting-wrapper module-wrapper ">
      <div class="listting-module_sticky">
        <div class="listting-content listting-module_content type3 pb_0" style="opacity: 0;">
          <div class="listting-content_content">
            <div class="listting_base-title"><span>Full-path<br> Self-cleaning</span></div>
            <div class="listting_base-subtitle">Thoroughly clean and dry the entire path <br>for a truly worry-free experience after use.</div>
          </div>
          <div class="listting-content_details">
            <img src="https://static-ussite.tineco.com/%E5%85%A8%E9%93%BE%E8%B7%AF%E8%87%AA%E6%B8%85%E6%B4%81.png_f3b9360f-3.png" alt="" class="listting-content_img">
            <div class="listting-content_marks" style="bottom: 31%;right: 68%;">
              <div class="listting-content_marks_title">Brush Roller<br> Cover</div>
              <div class="listting-content_marks_line" style="width: 0.5rem;"></div>
            </div>
            <div class="listting-content_marks" style="bottom: 22%;right: 65%;">
              <div class="listting-content_marks_title">Brush Roller</div>
              <div class="listting-content_marks_line" style="width: 0.66rem;"></div>
            </div>
            <div class="listting-content_marks" style="bottom: 27%;right: 16.5%;">
              <div class="listting-content_marks_line" style="width: 0.7rem;"></div>
              <div class="listting-content_marks_title">Suction inlet</div>
            </div>
            <div class="listting-content_marks" style="bottom: 36%;right: 15%;">
              <div class="listting-content_marks_line" style="width: 0.8rem;"></div>
              <div class="listting-content_marks_title">Tube</div>
            </div>
            <div class="listting-content_marks">
              <div class="listting-content_marks_line"></div>
              <div class="listting-content_marks_title">Dry filter</div>
            </div>
          </div>
        </div>
        <div class="module-header">
          <h2 class="module-header_title"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
            Worry-Free<br> After Use Self-Cleans<br> & Self-Dries</h2>
        </div>
      </div>
    </div>

    <div class="giflist-wrapper module-wrapper" id="FlashDry">
      <div class="listting_base-title">Upgraded <span>FlashDry</span><br>Self-Cleaning</div>
      <div class="giflist-wrapper_content module-wrapper"></div>
    </div>

    <div class="rotating-wrapper">
      <div class="rotating-wrapper_top">
        <div class="listting_base-title"><span>720°</span><br>Bi-directional Rotating</div>
        <div class="listting_base-subtitle mb_20">The brush rotates both forward and backward during self-cleaning and drying, ensuring a deeper clean and fluffier results.</div>
        <img src="https://static-ussite.tineco.com/%E5%AF%B9%E6%AF%94.png_870c7ffc-1.png" alt=""
          class="rotating-wrapper_top_img module-wrapper m_12">
      </div>
      <video src="https://static-ussite.tineco.com/%E5%8F%8C%E6%97%8B.mp4_adf35e55-b.mp4" loop muted autoplay
        playsinline class="rotating-wrapper_img module-wrapper"></video>
    </div>

    <div class="runtime-wrapper" id="75Minutes">
      <div class="runtime-wrapper_top">
        <div class="listting_base-title"><span>Ultra-long</span> Runtime</div>
        <div class="listting_base-subtitle">Allows for whole-house cleaning on a<br> single charge.</div>
      </div>
      <div class="runtime-wrapper_time module-wrapper">
        <div class="runtime-wrapper_time-item">
          <img src="https://static-ussite.tineco.com/icon-%E7%94%B5%E6%B1%A0.png_de627c32-5.png" alt=""
            class="runtime-wrapper_time-item_icon">
          <div class="runtime-wrapper_time-item_right">
            <div>up to</div>
            <div class="runtime-wrapper_time-item_right_title">70 min*</div>
            <div>Battery Runtime</div>
          </div>
        </div>
        <div class="runtime-wrapper_time-item">
          <img src="https://static-ussite.tineco.com/icom-%E6%B0%B4%E7%AE%B1.png_d9f87708-6.png" alt=""
            class="runtime-wrapper_time-item_icon">
          <div class="runtime-wrapper_time-item_right">
            <div>up to</div>
            <div class="runtime-wrapper_time-item_right_title">50 min*</div>
            <div>Water Runtime</div>
          </div>
        </div>
      </div>
      <div class="runtime-wrapper_content">
        <img src="https://static-ussite.tineco.com/%E9%95%BF%E7%BB%AD%E8%88%AA.png_dee541c5-a.png" alt=""
          class="runtime-wrapper_content_bg">
        <div class="runtime-wrapper_content_tips">*In lay-flat state with auto mode. Actual runtime may vary based on home environment and user habits.</div>
      </div>
    </div>

    <div class="volume-wrapper">
      <div class="volume-wrapper_top">
        <div class="volume-wrapper_title"><span>75</span> mins*</div>
        <img src="https://static-ussite.tineco.com/%E8%BD%AF%E5%8C%85%E7%94%B5%E6%B1%A0.png_6cde9400-8.png" alt=""
          class="volume-wrapper_bg">
      </div>
      <div class="volume-wrapper_content">
        <div class="volume-wrapper_content_item module-wrapper">
          <img
            src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E7%BB%AD%E8%88%AA--%E6%B8%85%E6%B0%B4%E7%AE%B1.png_edeb4d81-0.png"
            alt="" class="volume-wrapper_content_item_img">
          <div class="volume-wrapper_content_item_title">1L</div>
          <div class="volume-wrapper_content_item_subtitle">Clean Water Tank</div>
        </div>
        <div class="volume-wrapper_content_item module-wrapper">
          <img
            src="https://static-ussite.tineco.com/%E6%B0%B4%E7%AE%B1%E7%BB%AD%E8%88%AA-%E6%B1%A1%E6%B0%B4%E7%AE%B1.png_59e7d5b3-a.png"
            alt="" class="volume-wrapper_content_item_img">
          <div class="volume-wrapper_content_item_title">0.75L</div>
          <div class="volume-wrapper_content_item_subtitle">Dirty Water Tank</div>
        </div>
        <div class="volume-wrapper_content_tips">*Allows for whole-house cleaning on a single charge.</div>
      </div>
    </div>

    <div class="selling-wrapper module-wrapper" id="PouchCell">
      <div class="swiper selling-swiper">
        <div class="swiper-wrapper"></div>
      </div>
    </div>

    <!-- 视频弹窗 -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body  p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.OVERALL_LIST = [
      {
        bgSrc: 'https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-app.png_aa52a3b3-7.png',
        title: 'Unique Design<br> Aesthetic',
        desc: '',
        id: ''
      },
      {
        bgSrc: 'https://static-ussite.tineco.com/%E9%98%B2%E7%BC%A0%E6%AF%9B-app.png_1883b973-c.png',
        title: 'DualBlock',
        desc: 'Anti-Tangle',
        id: 'DualBlock'
      },
      {
        bgSrc: 'https://static-ussite.tineco.com/MHCBS-app.png_08ab4295-d.png',
        title: 'MHCBS',
        desc: 'Technology',
        id: 'MHCBS'
      },
      {
        bgSrc: 'https://static-ussite.tineco.com/%E7%83%AD%E7%83%98-app.png_f7a49f9d-a.png',
        title: 'FlashDry',
        desc: 'Self-cleaning System',
        id: 'FlashDry]'
      },
      {
        bgSrc: 'https://static-ussite.tineco.com/SmoothDrive-app.png_9612faf8-6.png',
        title: 'SmoothDrive',
        desc: 'Technology',
        id: 'SmoothDrive'
      },
      {
        type: 'double',
        list: [
          {
            bgSrc: 'https://static-ussite.tineco.com/%E8%BA%BA%E5%B9%B3-app.png_7f9d0a47-3.png',
            title: '180°Lay-flat',
            desc: '',
            id: '180lay-flat'
          },
          {
            bgSrc: 'https://static-ussite.tineco.com/iloop-app.png_c462eb4e-a.png',
            title: 'iLoop Smart Sensor',
            desc: '',
            id: 'iLoopSmart'
          }
        ]
      },
      {
        type: 'double',
        list: [
          {
            bgSrc: 'https://static-ussite.tineco.com/%E7%94%B5%E6%B1%A0-app.png_b319ad5f-4.png',
            title: 'Up to 75 Minutes<br> Runtime',
            desc: '',
            id: '75Minutes'
          },
          {
            bgSrc: 'https://static-ussite.tineco.com/%E7%BB%AD%E8%88%AA-app.png_8fb1dc1c-3.png',
            title: 'Upgraded Pouch Cell',
            desc: '',
            id: ''
          }
        ]
      }
    ]
    window.AESTHETICS_LIST = [
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-1.png_5d309f1f-b.png",
        title: "Ultra-thin Streamlined <br>Appearance"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-2.png_73762a5b-4.png",
        title: "3D Dynamic Display"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-3.png_4cb9e7f4-8.png",
        title: "Crystal IMD Layer"
      },
      {
        img: "https://static-ussite.tineco.com/%E7%BE%8E%E5%AD%A6-4.png_43974b71-0.png",
        title: "Easy-to-see Thumb Screen"
      },
    ]

    window.GIFT_LIST = [
      {
        title: "<div class='step'>Step 1:</div> &nbsp;Self-cleaning with&nbsp;<span> Heated Water</span>",
        description: "Using fresh water heated by 185℉ hot air to effectively <br>dissolve stains from the pipe to the brush roller, providing a superior self-cleaning result.",
        videoSrc: "https://static-ussite.tineco.com/%E7%83%AD%E6%B0%B4%E6%B4%97.mp4_d8462755-1.mp4"
      },
      {
        title: "<div class='step'>Step 2:</div> &nbsp;5-minute Drying with&nbsp;<span> 185℉ Air</span>",
        description: "The upgraded 185℉ hot air effectively dries every part of the machine. <br>Paired with a sealed base design, this ensures minimal heat loss and enhances drying efficiency.",
        videoSrc: "http://static-ussite.tineco.com/%E7%83%AD%E9%A3%8E%E7%83%98.mp4_7f8abfb9-d.mp4"
      }
    ]

    window.SWIPER_LIST = [
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-1.png_9b97d305-e.png",
        title: "Upgraded<br> pouch cells",
        subtitle: "Enhanced safety,<br> exceptional battery life, stable and reliable power ensures uninterrupted cleaning."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-2.png_139c976b-c.png",
        title: "Charge Faster,<br> Clean Longer",
        subtitle: "2A flash charging ensures <br>you are always ready for the next cleaning session."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-3.png_cb68b195-c.png",
        title: "App Support & Voice Assistant",
        subtitle: "Seamless app control and <br>instant voice assistance deliver ultimate convenience."
      },
      {
        imgSrc: "https://static-ussite.tineco.com/%E8%BD%AE%E6%92%AD-4.png_3dd238cc-0.png",
        title: "Easy-to-Read <br>Tumb Screen",
        subtitle: "The LED screen with Tineco Assistant guides you through the cleaning process, offering real-time updates."
      }
    ]
  </script>
  <script src="./js/S9-ARTIST-index.js"></script>
</body>

</html>