<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../assets/css/iconfonts.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    
    <link href="../../assets/css/base-pc.css" rel="stylesheet">
    <link href="./css/fr-s7-combo-pc.css" rel="stylesheet">
    
    <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>
</head>
<body>
<div class="fr-s7-combo-pc">
    <div class="banner-wrapper">
        <img alt="" src="https://static-ussite.tineco.com/2b8b97d7-0e80-43eb-874b-2329b1955fbc.jpg"/>
        <div class="content">
            <div class="title">Aspirer ne<br/> lui <span>suffit pas</span></div>
            <div class="sub-title"><b>FLOOR ONE </b>S7 COMBO</div>
            <div class="video-and-buy">
                <!-- <div class="text">
                    Watch The Video
                </div>
                <a data-target="#videoModal" data-title="FLOOR ONE S7 Combo" data-toggle="modal"
                    data-video="https://www.youtube.com/embed/7C7XjefAfdI" href="#videoModal">
                    <div class="play-btn"></div>
                </a> -->
                <div class="buy-btn" onclick="handleScrollTo('#product-buy')">Acheter</div>
            </div>
        </div>
        
        <script>
          function handleScrollTo(targetEl) {
            let targetOffset = $(targetEl).offset().top;
            let scrollTo = targetOffset;
            $("html, body").animate({
              scrollTop: scrollTo
            }, 1000)
          }

          $(function () {
            $("#videoModal").on("show.bs.modal", function (event) {
              let button = $(event.relatedTarget); // Button that triggered the modal
              let url = button.data("videofly"); // Extract url from data-video attribute
              let title = button.data("title");

              $("#modal-title").html(title);
              $(this).find("iframe").attr({
                src: url,
                allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              });
            });

          })
        </script>
    </div>
    
    <div class="modal fade" id="videoModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="close" data-dismiss="modal" type="button">×</button>
                </div>
                <div class="modal-body  p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe allowfullscreen="" class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="video-wrapper">
        <div class="item video-item">
            <video autoplay class="bg" loop
                   muted src="https://static-ussite.tineco.com/3cb9dca5-76a7-48b0-8f25-a454a3d61605.mp4"></video>
        </div>
        <div class="item text-item showFadein">
            <div class="title">Système d’auto-nettoyage complètement sans les mains</div>
            <div class="text">Une solution révolutionnaire qui combine un panneau de brosse qui descend pour venir se
                placer contre le rouleau, pour un nettoyage profond et complet du rouleau, qui tourne dans les deux sens
                pour en sortir lavé, séché et conserver son volume.
            </div>
        </div>
        
        <div class="item text-item left showFadein">
            <div class="title">La technologie MHCBS™ de Tineco vous garantit une brosse toujours propre</div>
            <div class="text">Lave en permanence le rouleau à l’eau propre, tandis que le racloir flottant plat racle et
                élimine efficacement l’eau sale. Ceci vous assure une propreté du rouleau impeccable et des sols qui le
                sont tout autant.
            </div>
        </div>
        <div class="item video-item">
            <video autoplay class="bg" loop
                   muted src="https://static-ussite.tineco.com/4eebc7eb-04f2-4116-9892-e6e6501d9ba3.mp4"></video>
        </div>
        
        <div class="item video-item">
            <video autoplay class="bg" loop
                   muted src="https://static-ussite.tineco.com/f5025f87-17b2-40ae-b984-88ab83b65754.mp4"></video>
        </div>
        <div class="item text-item showFadein">
            <div class="title">Un nettoyage de sol dans aucune trace avec la brosse propre en permanence</div>
            <div class="text">Le racloir flottant plat de Tineco enlève efficacement la poussière, laissant vos sols
                exempts de toute trace et tout résidu, quel qu’il soit. Sans lui, l’eau sale pourrait s'échapper de la
                brosse et venir resalir vos sols et laisser des traces indésirables.
            </div>
        </div>
    </div>
    
    <div class="safe-wrapper showFadein">
        <img alt="" class="bg" src="https://static-ussite.tineco.com/1816250c-b47c-425e-acd5-698a66755c21.jpg"/>
        <div class="content">
            <div class="title">Nettoie tous les dégâts, Partout où il y en a</div>
            <div class="sub-title">De la graisse de cuisson aux tâches d’eau dans la salle de bain, le FLOOR ONE S7
                Combo vient à bout de tout, tout le temps.
            </div>
        </div>
    </div>
    
    <div class="safe-wrapper showFadein">
        <img alt="" class="bg" src="https://static-ussite.tineco.com/6083ade9-eef1-4b40-9ff3-448722d2109b.jpg"/>
        <div class="content content-1">
            <div class="title">Un changement d’accessoire, des possibilités sans limite</div>
            <div class="sub-title">Changez d’accessoire ! Changez facilement d’accessoire pour un nettoyage toujours
                plus efficace et sans souci, venant à bout de toutes les tâches de votre maison, en toute facilité.
            </div>
        </div>
    </div>
    
    <div class="swiper-container">
        <div class="swiper swiper1">
            <div class="swiper-button-prev1">
                <div class="icon"></div>
            </div>
            <div class="swiper-button-next1">
                <div class="icon"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/3607ba48-282b-479c-b8a6-b24ca998f983.jpg"/>
                        <div class="content">
                            <div class="title">Technologie innovante MHCBS™ de Tineco</div>
                            <div class="sub-title">Nettoyage en continu avec de l’eau propre, car seules des brosses
                                propres peuvent rendre les sols propres.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/f64adaba-4f9f-4fec-853c-8416e0c5511b.jpg"/>
                        <div class="content content-1">
                            <div class="title">Maximisez l’efficacité de votre ménage avec notre racloir flottant
                                repensé
                            </div>
                            <div class="sub-title">Notre nouveau racloir flottant vient se coller à la brosse et racle
                                en permanence le rouleau, vous assurant une performance de nettoyage optimale même au
                                fur et à mesure de l’usure naturelle de la brosse.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      $(function () {
        let swiper1 = new Swiper(".swiper1", {
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next1',
            prevEl: '.swiper-button-prev1'
          }
        });
      })
    </script>
    
    <div class="safe-wrapper showFadein">
        <img alt="" class="bg" src="https://static-ussite.tineco.com/d225ac88-27e4-4186-90ca-d7a5fc827c7d.jpg"/>
        <div class="content content-2">
            <div class="title">Technologie antibactérienne avancée – 2x Plus rapide</div>
            <div class="sub-title">La technologie antibactérienne de Tineco emmène le ménage à un autre niveau grâce à
                l’utilisation d’une eau électrolysée deux fois plus rapidement pour éliminer jusqu’à 99,99% des
                bactéries nocives.
            </div>
        </div>
    </div>
    
    <div class="swiper-container">
        <div class="swiper swiper2">
            <div class="swiper-button-prev1">
                <div class="icon"></div>
            </div>
            <div class="swiper-button-next1">
                <div class="icon"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/c4a20473-f857-4c88-a540-11050025690c.jpg"/>
                        <div class="content content-1">
                            <div class="title">Performance de Nettoyage Avancée pour tous vos besoins de nettoyage</div>
                            <div class="sub-title">Seuls les aspirateurs équipés de la technologie PureCyclone de Tineco
                                et de la brosse ZeroTangle™ peuvent se targuer de délivrer ce niveau de puissance de
                                nettoyage.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/35e5f08b-32a3-45a6-99f6-a064fc21e736.jpg"/>
                        <div class="content content-2">
                            <div class="title">Suppression des cheveux et des poils sans nœuds avec la brosse
                                ZeroTangle™
                            </div>
                            <div class="sub-title">Les cheveux sont décollés et aspirés, sans aucun nœud sur la brosse.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/ce073ded-d308-4c9d-82d8-727a68b29e97.jpg"/>
                        <div class="content content-3">
                            <div class="title">La technologie PureCyclone de tineco pour une aspiration puissante, qui
                                dure dans le temps
                            </div>
                            <div class="sub-title">Sépare efficacement l’air et la poussière pour garder le filtre
                                propre plus longtemps, maintenant ainsi la puissance d’aspiration plus longtemps.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      $(function () {
        let swiper2 = new Swiper(".swiper2", {
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next1',
            prevEl: '.swiper-button-prev1'
          }
        });
      })
    </script>
    
    <div class="swiper-container">
        <div class="swiper swiper3">
            <div class="swiper-button-prev1">
                <div class="icon"></div>
            </div>
            <div class="swiper-button-next1">
                <div class="icon"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/39a04485-484f-4a1b-a509-27e894f7b8a3.jpg"/>
                        <div class="content content-1">
                            <div class="title"> Durée de vie de la batterie triplée, pour une puissance constante</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/8b8f200e-92f8-4cfa-8d25-77d9a440a2c5.jpg"/>
                        <div class="content content-2">
                            <div class="title">Nettoyage de toute la maison, sans interruption</div>
                            <div class="sub-title">Aucun changement de batterie nécessaire</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/da2b0fbf-571f-4327-be6e-a8d9e35571d7.jpg"/>
                        <div class="content content-3">
                            <div class="title">Haute efficacité de nettoyage et autonomie plus longue avec iLoop™ de
                                Tineco
                            </div>
                            <div class="sub-title">Le capteur intelligent iLoop™ de Tineco détecte en temps réel la
                                poussière, et optimise la puissance d’aspiration et le débit d’eau pour un nettoyage
                                complet et une autonomie prolongée.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      $(function () {
        let swiper3 = new Swiper(".swiper3", {
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next1',
            prevEl: '.swiper-button-prev1'
          }
        });
      })
    </script>
    
    <div class="swiper-container">
        <div class="swiper swiper4">
            <div class="swiper-button-prev1">
                <div class="icon"></div>
            </div>
            <div class="swiper-button-next1">
                <div class="icon"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/d382815b-2e96-474c-9f5b-b0e0b6d8b03e.jpg"/>
                        <div class="content content-1">
                            <div class="title">Le ménage est un jeu d’enfant avec le système SmoothPower</div>
                            <div class="sub-title">Que vous poussiez vers l’avant ou tiriez vers vous, le FLOOR ONE S7
                                Combo assiste en permanence vos mouvements et rend le ménage plus facile que jamais.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/ca939298-7612-46d7-996a-28a8e7567967.jpg"/>
                        <div class="content content-2">
                            <div class="title">Conception légère pour nettoyer partout</div>
                            <div class="sub-title">Sa conception légère le rend facile à manœuvrer, vous permettant de
                                nettoyer les escaliers, d’aller sous le canapé, et même de nettoyer le dessus de vos
                                meubles facilement.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/e9e452e7-85b5-43ac-af85-f5f8d9ef2856.jpg"/>
                        <div class="content content-3">
                            <div class="title">Nettoyage amélioré des coins des 2 côtés</div>
                            <div class="sub-title">Élimine les recoins inatteignables et garantit le nettoyage de toute
                                votre maison, ne laissant aucun endroit ou recoin sale.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="safe-wrapper">
                        <img alt="" class="bg"
                             src="https://static-ussite.tineco.com/58c08275-338d-41f4-9e8d-1306abee0cca.jpg"/>
                        <div class="content content-4">
                            <div class="title">Illumine votre chemin jusque dans chaque recoin</div>
                            <div class="sub-title">Équipé d’un éclairage LED, la tête de la brosse éclaire tout sur
                                votre chemin alors que vous nettoyez sous les meubles et dans les endroits difficiles
                                d’accès.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
      $(function () {
        let swiper4 = new Swiper(".swiper4", {
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next1',
            prevEl: '.swiper-button-prev1'
          }
        });
      })
    </script>
    
    <div class="product-wrapper" id="product-buy">
        <div class="title">FLOOR ONE S7 Combo</div>
        <div class="product-container swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img alt="" src="https://static-ussite.tineco.com/7fa500ef-691d-4e22-9e12-9ea99ea8c40a.png">
                    <div class="product-title">FLOOR ONE S7 Combo</div>
                    <div class="buy-at">Acheter à</div>
                    <div class="icon_list">
                        <div class="buy-qd-item">
                            <div class="icon_item" id="">
                                <a href="https://fr-store.tineco.com/products/tineco-floor-one-s7-combo-aspirateur-et-laveur-sec-et-humide-sans-fil-intelligent"
                                   target="_blank">
                                    <img alt=""
                                         src="https://static-ussite.tineco.com/e91591a9-05c4-4481-aecc-8689d0221c16.svg">
                                </a>
                            </div>
                            <div class="buy-tips">Tineco Store</div>
                        </div>
                        <div class="buy-qd-item">
                            <div class="icon_item" id="">
                                <a href="https://www.amazon.fr/Tineco-S7-Intelligent-Multi-Fonctions-Auto-nettoyant/dp/B0CFD6TTJ2?maas=maas_adg_5766CF3052B7A45F3D0049CF4B719BBD_afap_abs&ref_=aa_maas&tag=maas"
                                   target="_blank">
                                    <img alt=""
                                         src="https://static-ussite.tineco.com/6b3c14a7-7c50-437d-b227-45ca247c0f43.svg">
                                </a>
                            </div>
                            <div class="buy-tips">Amazon</div>
                        </div>
                    </div>
                    <div class="include">
                        <a aria-controls="whatIncludeCollapse282" aria-expanded="false" class="collapsed"
                           data-toggle="collapse" href="#whatIncludeCollapse282">Ce qui est inclus
                            <span class="iconfont icon-down-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="whatIncludeCollapse282" style="background-color: #ffffff">
            <div class="comm-content">
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/89da0922-64fe-48e1-b129-1bdd3e57bd41.jpg">
                        <div class="msg">
                            Alimentation
                        </div>
                    </a>
                </div>
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/0211a0bc-019d-48af-b4ac-a3de9c6c095b.jpg">
                        <div class="msg">
                            Brosse ZeroTangle™
                        </div>
                    </a>
                </div>
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/3a7b7e5c-bc5b-47d4-94bf-1d601b8716fe.jpg">
                        <div class="msg">
                            Mini brosse motorisée
                        </div>
                    </a>
                </div>
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/1db2e033-1127-442d-b5e9-58c31cf0c9a0.jpg">
                        <div class="msg">
                            Brosse dépoussiérante 2-en-1 pour endroits difficiles d’accès
                        </div>
                    </a>
                </div>
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/14a8b9bf-a4d7-42c2-a2bc-deeb8cd1042a.jpg">
                        <div class="msg">
                            Brosse de remplacement
                        </div>
                    </a>
                </div>
                <div class="comm-item">
                    <a href="javascript:">
                        <img alt="" src="https://static-ussite.tineco.com/d1c49548-26ec-4e9b-b06f-388abdb80fde.jpg">
                        <div class="msg">
                            Outil de nettoyage
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
      $(function () {
        let productSwiper = new Swiper(".product-container", {
          loop: true,
        });
      })
    </script>
    
    <div class="support-wrapper">
        <h3>Assistance</h3>
        <div class="support-item-wrapper">
            <div class="support-item-list">
                <a href="support/troubleshooting/">
                    <img alt="" src="https://static-ussite.tineco.com/cab4e3af-b37f-4488-83d1-dcc6d73815cf.png">
                    <span>Dépannage</span>
                    <p>
                        <button class="btn">Découvrez davantage</button>
                    </p>
                </a>
            </div>
            <div class="support-item-list">
                <a href="support/faqs/">
                    <img alt="" src="https://static-ussite.tineco.com/78fd7424-de95-41d5-a4f5-0ec2f3b68ff9.png">
                    <span>FAQs</span>
                    <p>
                        <button class="btn">Découvrez davantage</button>
                    </p>
                </a>
            </div>
            <div class="support-item-list">
                <a href="support/product-care/">
                    <img alt="" src="https://static-ussite.tineco.com/b57ffab4-129a-479d-80b4-9dcb798aeef1.png">
                    <span class="mar-t-8">Entretien du produit</span>
                    <p>
                        <button class="btn">Découvrez davantage</button>
                    </p>
                </a>
            </div>
            <div class="support-item-list">
                <a href="support/instruction-manual/">
                    <img alt="" class="w-76"
                         src="https://static-ussite.tineco.com/03a4e3fb-c16e-4483-9d17-4fee94ff30dd.png">
                    <span>Manuels d'utilisation</span>
                    <p>
                        <button class="btn">Découvrez davantage</button>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-nav-wrapper">
        <a class="navbar-item" href="/">Home</a> <span class="letterSpace">/</span>
        <a class="navbar-last">FLOOR ONE S7 combo</a>
    </div>
</div>
<script>
  $(document).ready(
    () => {
      let windowHeight = $(window).height() - 300
      $(window).scroll(function (event) {
        console.log(1)
        let scrollPos = $(this).scrollTop()
        $('.showFadein').each(function () {
          let offset = $(this).offset().top;
          if (scrollPos + windowHeight > offset) {
            $(this).addClass('show-fadein');
          } else {
            $(this).removeClass('show-fadein');
          }
        });
      });
    }
  )
</script>
<script src="./js/fr-s7-combo-index.js"></script>
</body>
</html>
