<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../assets/css/iconfonts.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    
    %%-css-%%
    
    <script src="../../assets/js/jquery.min.js" type="application/javascript"></script>
    <script src="../../assets/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../assets/js/swiper-bundle.min.js" type="application/javascript"></script>
</head>
<body>
<div class="%%-className-%%">

</div>

%%-js-%%
</body>
</html>
