.fly-imageTextSwiper-h5{
  position: relative;
  overflow: hidden;
  width: 100%;
    .swiper-slide{
      padding: 0 0.18rem;
      display: flex;
      justify-content: center;
      .swiper-item{
        width: 100%;
        height: 8.6rem;
        padding: 0.2rem 0.14rem 0.45rem;
        background-color: #eaeaea;
        
        .img{
          width: 100%;
          box-shadow: 0rem 0.01rem 0.23rem 0rem rgba(9, 29, 133, 0.17);
	        border-radius: 0.14rem;
          height: 3.8rem;
          background-size: auto 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        .video{
          width: 100%;
          height: 3.8rem;
          border-radius: 0.14rem;
          box-shadow: 0rem 0.01rem 0.23rem 0rem rgba(9, 29, 133, 0.17);
          overflow: hidden;
          
          video{
            height: 100%;
            min-width: 100%;
          }
        }
        .content{
          padding: 0.86rem 0.3rem 0.46rem;

          .title{
            font-size: 0.33rem;
            font-weight: 700;
            background: linear-gradient(137deg, #07157c 0, #371d89 35%, #362fb5 50%, #3544ec 70%, #091c69 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.01rem rgba($color: #e8e6fe, $alpha:0.74);
          }

          .sub-title{
            font-size: 0.28rem;
            font-weight: 700;
            line-height: 0.34rem;
            color: #000000;
            padding: 0.19rem 0 0.22rem;
          }

          .text{
            font-size: 0.18rem;
            line-height: 0.24rem;
            color: #000000;
          }
        }
      }
      
    }
  
    .swiper-pagination2{
      width: 100%;
      position: absolute;
      top: 4.4rem;
      bottom: unset !important;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 11;
  
      .swiper-pagination-bullet{
        width: 100px;
        height: 5px;
        display: inline-block;
        background: #FFF;
        opacity: 1;
        margin: 0 5px;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        outline: none;
        vertical-align: middle;
        
  
        &.swiper-pagination-bullet-active{
          background: #00327D;
        }
      }
    }
  
    .swiper-btn {
      width: 0.75rem;
      height: 0.7rem;
      position: absolute;
      top: 1.73rem;
      z-index: 9;
  
      &.prev {
        background: url(https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%202%20%E6%8B%B7%E8%B4%9D%204.png_92c09cfc-4.png) no-repeat center/100%;
        left: 0;
      }
  
      &.next {
        background: url(https://static-ussite.tineco.com/%E7%94%BB%E6%9D%BF%202%20%E6%8B%B7%E8%B4%9D%204.png_92c09cfc-4.png) no-repeat center/100%;
        right: 0;
        transform: rotate(180deg);
      }
    }
  


}
